<li *ngFor="let p of podcast">
	<a href="#/" class="link-play-secondary" (click)="Play(p.name,p.url,p.id)"></a>

	<h6>Episode {{p.episode}}: {{p.name}} {{p.date| date: 'MM/dd/yyyy'}}</h6>

	<p>{{p.description}} </p>

	<p>
		<a href="{{p.url}}" class="link-download" download title="Download">
	    	<i class="ico-download"></i>
		</a>

		<!--<a href="#">
			Share
		</a>-->
		<share-buttons [url]='p.url' [linkedIn]="false" [stumbleUpOn]="false" [reddit]="false" [tumblr]="false" [pinterest]="false" [whatsApp]="false">
		</share-buttons>
	</p>
</li>