<div style="margin:0.5em;padding-right:40px;padding-left:40px" class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 ads">
    <img [src]="left" style="cursor:pointer;" title="Sponsored Advertisement" />
    <a href="#/"  (click)="OpenAdvertise()" class="advertise-link"><small>Advertise on iTorah.com</small></a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 ads">
    <img [src]="right" style="cursor:pointer" title="Sponsored Advertisement"/>
    <a href="#/"  (click)="OpenAdvertise()" class="advertise-link"><small>Advertise on iTorah.com</small></a>
  </div>
</div>