<div class="tile-box" id="item-content-2">
	<div class="tile-box-primary">
		<div class="tile-box-head">
			<div class="tile-box-head-content">
				<div class="select select-secondary">
					<select name="field-7" id="field-7" [(ngModel)]="selectedPerasha">
						<option *ngFor="let c of perashas" [ngValue]="c.id">{{c.parashaName}}</option>
					</select>
				</div><!-- /.select -->
				
				<h4>Rabbi Jacob S. Kassin Daily Halacha Series authored by Rabbi Eli J. Mansour</h4>
			</div><!-- /.table-head-content -->		
			
			<div class="tile-box-head-aside">
			
			</div><!-- /.table-head-aside -->	
			
			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>					
		</div><!-- /.table-head -->
		
		<div class="tile-box-body" id="print">
			<h5>{{selectedPerasha?.clipTitle}} <i id="weekly-play" class="ico-play-yellow"></i> <i id="weekly-print" class="ico-print-yellow"></i></h5>

		    <p *ngFor="let p of parragraphs">
				{{p}}
            </p>	
		
			
		</div><!-- /.table-body -->
	</div><!-- /.tile-box-primary -->
</div>