<div class="tile-box" id="item-content-2">
	<div class="tile-box-primary">
		<div class="tile-box-head">
			<div class="tile-box-head-content">
				<div class="select select-secondary">
					<select name="field-7" id="field-7"  (change)="filterChanged($event.target.value)">
						<option *ngFor="let c of perashas" [ngValue]="c.id">{{c.parashaName}}</option>
					</select>
				</div>
				<!-- /.select -->

				<h4>Rabbi Jacob S. Kassin Daily Halacha Series authored by Rabbi Eli J. Mansour</h4>
			</div>
			<!-- /.table-head-content -->

			<div class="tile-box-head-aside">

			</div>
			<!-- /.table-head-aside -->

			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>
		</div>
		<!-- /.table-head -->

		<div class="tile-box-body" id="print">
			<div *ngIf="!more">
				<h5>{{selectedPerasha?.clipTitle}} <i id="weekly-play" class="ico-play-yellow" (click)="Play()"></i> <i id="weekly-print" class="ico-print-yellow" (click)="Print()"></i></h5>

				<p *ngFor="let p of parragraphs">
					{{p}}
				</p>
			</div>
			<div *ngIf="more">

				<table id="tableweekly">
					<thead>

					</thead>

					<tbody>
						<tr>
							<td>
								 <a> <b>Bereshit</b>, בְּרֵאשִׁית
								 </a>
							</td>

							<td>
								<a><b>Shemot</b>, שְׁמוֹת
							    </a>
							</td>

							<td>
								<a><b>Vayikra</b>, וַיִּקְרָא
							    </a>
							</td>

							<td>
								<a><b>Bamidbar</b>, בְּמִדְבַּר
							    </a>
							</td>

							<td>
								<a><b>Devarim</b>, דְּבָרִים
							    </a>
							</td>
						</tr>

						<tr>
							<td>
							  <a><b>Noach</b>, נֹחַ
							  </a>
							</td>

							<td>
							<a><b>Va'eira</b>, וָאֵרָא
							</a>
							</td>

							<td>
								<a><b>Tzav</b>, צַו
							    </a>
							</td>

							<td>
							<a><b>Naso</b>, נָשֹׂא
							</a>
							</td>

							<td>
								<a><b>Va'etchanan</b>, וָאֶתְחַנַּן
							    </a>
							</td>
						</tr>

						<tr>
							<td>
							<a> <b>Lech-Lecha</b>, לֶךְ-לְךָ  
							</a>
							</td>

							<td>
							<a><b>Bo</b>, בֹּא
							</a>
							</td>

							<td>
							 <a><b>Shemini</b>, שְּׁמִינִי
							 </a>
							</td>

							<td>
								<a><b>Behaalotecha</b>, בְּהַעֲלֹתְךָ
							    </a>
							</td>

							<td>
							<a><b>Eikev</b>, עֵקֶב
							</a>
							</td>
						</tr>
						
						<tr>
							<td>
						   <a><b>	Vayeira</b>, וַיֵּרָא
							</a>
							</td>

							<td>
							<a>	<b>Beshalach</b>, בְּשַׁלַּח
							</a>
							</td>

							<td>
							 <a><b>Tazria</b>, תַזְרִיעַ
							</a>
							</td>

							<td>
							<a>	<b>Shlach</b>, שְׁלַח-לְךָ
							</a>
							</td>

							<td>
							<a><b>Re'eh</b>, רְאֵה
							</a>
							</td>
						</tr>

						<tr>
							<td>
						     <a> <b>Chayei Sarah</b>, חַיֵּי שָׂרָה
							 </a>
							</td>

							<td>
							  <a>	<b>Yitro</b>, יִתְרוֹ
							  </a>
							</td>

							<td>
							 <a><b>Metzora</b>, מְּצֹרָע
							</a>
							</td>

							<td>
							<a>	<b>Korach</b>, קֹרַח
							</a>
							</td>

							<td>
							<a>	<b>Shoftim</b>, שֹׁפְטִים
							</a>
							</td>
						</tr>

						<tr>
							<td>
						      <a><b>Toledot</b>, תּוֹלְדֹת
							  </a>
							</td>

							<td>
							  <a><b>Mishpatim</b>, מִּשְׁפָּטִים
							  </a>
							</td>

							<td>
							<a> <b>Acharei Mot</b>, אַחֲרֵי מוֹת
							</a>
							</td>

							<td>
							 <a>	<b>Chukat</b>, חֻקַּת
							 </a>
							</td>

							<td>
								<a>	<b>Ki Teitzei</b>, כִּי-תֵצֵא
							    </a>
							</td>
						</tr>

						<tr>
							<td>
						     <a><b>Vayetze</b>, וַיֵּצֵא
							 </a>
							</td>

							<td>
							 <a><b>Terumah</b>, תְּרוּמָה
							 </a>
							</td>

							<td>
							 <a><b>Kedoshim</b>, קְדֹשִׁים
							 </a>
							</td>

							<td>
								<a><b>Balak</b>, בָּלָק
							   </a>
							</td>

							<td>
								<a><b>Ki Tavo</b>, כִּי-תָבוֹא
							    </a>
							</td>
						</tr>

						<tr>
							<td>
						     <a><b> Vayishlach</b>, וַיִּשְׁלַח
							 </a>
							</td>

							<td>
							 <a><b>Tetzaveh</b>, תְּצַוֶּה
							 </a>
							</td>

							<td>
							 <a><b>Emor</b>, אֱמֹר
							 </a>
							</td>

							<td>
								<a><b>Pinchas</b>, פִּינְחָס
							   </a>
							</td>

							<td>
								<a><b>Nitzavim</b>, נִצָּבִים
							    </a>
							</td>
						</tr>

						<tr>
							<td>
						     <a><b>Vayeshev</b>, וַיֵּשֶׁב
							 </a>
							</td>

							<td>
							 	<a><b>Ki Tisa</b>, כִּי תִשָּׂא
							    </a>
							</td>

							<td>
							 <a><b>Behar</b>, בְּהַר
							 </a>
							</td>

							<td>
							<a>	<b>Matot</b>, מַּטּוֹת
							</a>
							</td>

							<td>
							<a>	<b>Vayelech</b>, וַיֵּלֶךְ
							</a>
							</td>
						</tr>

						<tr>
							<td>
						    <a><b> Miketz</b>, מִקֵּץ
							</a>
							</td>

							<td>
							 <a>	<b>Vayakhel</b>, וַיַּקְהֵל
							</a>
							</td>

							<td>
							 <a><b>Bechukotai</b>, בְּחֻקֹּתַי
							 </a>
							</td>

							<td>
								<a><b>Masei</b>, מַסְעֵי
							    </a>
							</td>

							<td>
								<a><b>Haazinu</b>, הַאֲזִינוּ
							    </a>
							</td>
						</tr>

						<tr>
							<td>
						      <a><b>Vayigash</b>, וַיִּגַּשׁ
							  </a>
							</td>

							<td>
							 	<a><b>Pekudei</b>, פְקוּדֵי
							   </a>
							</td>

							<td>
							 
							</td>

							<td>
								
							</td>

							<td>
								<a><b>V'Zot HaBerachah</b>, וְזֹאת הַבְּרָכָה
							    </a>
							</td>
						</tr>

						<tr>
							<td>
						     <a><b>Vayechi</b>, וַיְחִי
							</a>
							</td>

							<td>
							 	
							</td>

							<td>
							 
							</td>

							<td>
								
							</td>

							<td>
								
							</td>
						</tr>

					</tbody>
				</table>

			</div>

		</div>
		<!-- /.table-body -->
	</div>
	<!-- /.tile-box-primary -->
</div>