<div class="popup" id="privacy">
  <div class="popup-head">
    <span>Privacy Policy </span>
    

    <a href="#" class="link-close">
						<i class="ico-close"></i>
		</a>

  </div>
  <!-- /.donate-head -->

  <div class="popup-body">

    <div class="content" style="    max-height: 500px;    overflow: auto;">
      <h4>iTorah.com Privacy Policy </h4>
     

     <div>
     
        <h5>Your Privacy </h5>
        <p>At LearnTorah.com, respecting the privacy and security of your personal information is important to us. We know, however, that not everyone who takes their privacy seriously is necessarily well-versed in "legal or regulatory-ese." There are plenty of legal terms in LearnTorah.com’s own privacy policy, which you will find on the following pages. We urge you to read it carefully, and make note of your rights under this policy. We've tried to provide easy-to-understand explanations of the most frequently used legal terms -- terms we are required to use to ensure clarity and consistency. We want to make sure that your personal information is protected, and that you understand the policies that protect you. You'll find the same terms used in many companies' privacy policies. </p>

     </div>

     <div>
     
        <h5>Cookies & Browsers</h5>
        <p>This site uses a feature of your browser called a "cookie" to assign a "User I.D.". Cookies, by themselves, cannot be used to find out the identity of any user. Your LearnTorah.com User ID automatically identifies your computer - but not you - to our servers when you visit LearnTorah.com. Unless you specifically tell us who you are (for example by completing an application), if you are just browsing our site, we will never know who you are even though we may assign you a cookie. This site contains links to other sites. If you use a link to visit the site of another company, we cannot be responsible for the privacy practices or the content of that company or its site. </p>

     </div>

     <div>
     
        <h5>Safeguarding Customer Information </h5>
        <p>Information about you (your name, address, and transaction history) shall be accesible within our organization only. Credit Card infromation is not saved or stored in our database. You will need to enter your credit card information each time you make a purchase. We do this for your protection! </p>
        <p>We shall not share our database of email addresses, names, or mailing address with anyone at any time. We may however, from time to time broadcast out an email ourselves, or as directed by our Rabbinical leaders. </p>
     </div>

     <div>
     
        <h5>Refund Policy</h5>
        <p>Refunds can be issued. Pelase email your request to <a href="mailto:mail@dailyhalacha.com?Subject=Hello" target="_top">mail@dailyhalacha.com</a> and make sure to include your name, date of purchase, amount of purchase, description of purchase, and reason for requested refund. Someone will respond within 3 business days.</p>

     </div>

    </div>

  </div>
  <!-- /.donate-body -->
</div>