
#privacy .popup-body{
  padding: 1em;
}

#privacy .popup-body .content p,#privacy .popup-body .content div{
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0.5em;
}

#privacy .popup-body .content h4{
    background:none;
    text-align:left;
    color:#000;
    margin-bottom: 0px;
    margin-left: 1em;
    margin-right: 1em;
}