<div class="popup classes" id="classes">
  <div class="popup-head">
    <form action="?" method="get">
      <label for="field-search-content">Classes</label>

      <a href="#" class="link-close">
					<i class="ico-close"></i>
				</a>
    </form>
  </div>
  <!-- /.popup-head -->

  <div class="popup-body">
    <ul class="search-resultsults">
      <li class="search-resultsult search-resultsult-title">
        <div class="col col-medium">
          <div class="col col-1of2"></div>
          <!-- /.col col-1of2 -->

          <div class="col col-1of2">
            <a href="#" class="current" (click)="Sort(classesS)">Data</a>
          </div>
          <!-- /.col col-1of2 -->
        </div>
        <!-- /.col col-medium -->

        <div class="col col-medium col-title">
          <a href="#">Title</a>
        </div>
        <!-- /.col col-medium -->

        <div class="col col-large col-speaker">
          <a href="#">Speaker</a>
        </div>
        <!-- /.col col-large -->

        <div class="col col-small">
          <a href="#">Duration</a>
        </div>
        <!-- /.col col-small -->

        <div class="col col-small">
          <div class="col col-1of2"></div>
          <!-- /.col col-1of2 -->
        </div>
        <!-- /.col col-small -->

        <div class="col col-large" style="text-align: center; ">
          <a href="#">Status</a>
        </div>
        <!-- /.col col-large -->
      </li>
      <!-- /.search-resultsult -->

      <li class="search-resultsult" *ngFor="let a of classesS">
        <div class="col col-medium">
          <div class="col col-1of2">
            <a href="#/" (click)="Play(a.title,a.url,a.sourceID,a.id)">
								<i class="ico-mic"></i>
							</a>
          </div>
          <!-- /.col col-1of2 -->

          <div class="col col-1of2">
            {{a.date|date: 'MM/dd/yyyy'}}
          </div>
          <!-- /.col col-1of2 -->
        </div>
        <!-- /.col col-medium -->

        <div class="col col-medium col-title">
          <p>{{a.title}}</p>
        </div>
        <!-- /.col col-medium col-title -->

        <div class="col col-large col-speaker">
          <p>{{a.speaker}}</p>
        </div>
        <!-- /.col col-large col-speaker -->

        <div class="col col-small col-duration">
          {{a.duration}} MIN
          <a href="#">{{a.language}}</a>
        </div>
        <!-- /.col col-small -->

        <div class="col col-small">
          <a href="{{a.url}}" class="btn btn-download" download>
							<i class="ico-download"></i> mp3
						</a>
          <!-- /.btn btn-download -->
        </div>
        <!-- /.col col-small -->

        <div class="col col-large col-status">
          <a href="#" class="btn btn-status btn-completed">{{a.status}}</a>
        </div>
        <!-- /.col col-large col-status -->
      </li>
      <!-- /.search-resultsult -->

    </ul>
    <!-- /.search-resultsults -->
  </div>
  <!-- /.popup-body -->

  <div class="popup-foot">
    <div class="paging">
      <ul>
        <li>
          <a href="#/" class="paging-prev" (click)="PagingPrev()">
							<i class="ico-paging-prev"></i>
						</a>
        </li>

        <li *ngFor="let p of pages"><a [ngClass]="{'current': p.current}" href="#/"  id="{{p.id}}" (click)="Page(p.id)">{{p.id}}</a></li>

        <li>
          <a href="#/" class="paging-next" (click)="PagingNext()">
							<i class="ico-paging-next"></i>
						</a>
        </li>
      </ul>
    </div>
    <!-- /.paging -->
  </div>
  <!-- /.popup-foot -->
</div>
<!-- /.popup classes -->