<div class="popup" id="myClass">
  <div class="popup-head">
    <form action="?" method="get">
      <label for="field-search-content">Classes</label>

      <a href="#" class="link-close">
					<i class="ico-close"></i>
				</a>
    </form>
  </div>
  <!-- /.popup-head -->

  <div class="popup-body">
    <ul class="search-resultsults">
      <li class="search-resultsult search-resultsult-title">
        <div class="col col-medium">
          <div class="col col-1of2"></div>
          <!-- /.col col-1of2 -->

          <div class="col col-1of2">
            <a href="#" class="current" (click)="Sort(classesS)">Data</a>
          </div>
          <!-- /.col col-1of2 -->
        </div>
        <!-- /.col col-medium -->

        <div class="col col-large col-title">
          <a href="#">Title</a>
        </div>
        <!-- /.col col-medium -->

        <div class="col col-medium col-speaker">
          <a href="#">Speaker</a>
        </div>
        <!-- /.col col-large -->



        <!--<div class="col col-small">
          <div class="col col-1of2"></div>
          
        </div> -->


      </li>
      <!-- /.search-resultsult -->

      <li class="search-resultsult" *ngFor="let a of classesS">
        <div class="col col-medium">
          <div class="col col-1of2">
            <a href="#/" (click)="Play(a)">
								<i class="ico-mic"></i>
							</a>
          </div>
          <!-- /.col col-1of2 -->

          <div class="col col-1of2">
            {{a.CompletedOn|date: 'MM/dd/yyyy'}}
          </div>
          <!-- /.col col-1of2 -->
        </div>
        <!-- /.col col-medium -->

        <div class="col col-large col-title">
          <p>{{a.Title}}</p>
        </div>
        <!-- /.col col-medium col-title -->

        <div class="col col-medium col-speaker">
          <p>{{a.Speaker}}</p>
        </div>
        <!-- /.col col-large col-speaker -->


        <!--<div class="col col-small">
          <a href="{{a.AudioUrl}}" class="btn btn-download" download>
							<i class="ico-download"></i> mp3
						</a>

        </div> -->


      </li>
      <!-- /.search-resultsult -->

    </ul>
    <!-- /.search-resultsults -->
  </div>
  <!-- /.popup-body -->

  <div class="popup-foot">
    <div class="paging">
      <ul>
        <li>
          <a href="#/" class="paging-prev" (click)="PagingPrev()">
							<i class="ico-paging-prev"></i>
						</a>
        </li>

        <li *ngFor="let p of pages"><a [ngClass]="{'current': p.current}" href="#/"  id="{{p.id}}" (click)="Page(p.id)">{{p.id}}</a></li>

        <li>
          <a href="#/" class="paging-next" (click)="PagingNext()">
							<i class="ico-paging-next"></i>
						</a>
        </li>
      </ul>
    </div>
    <!-- /.paging -->
  </div>
  <!-- /.popup-foot -->
</div>
<!-- /.popup classes -->