
<section class="section section-lectures">
		<header class="section-head">
			<div class="shell">
				<h6>Featured Lectures</h6>
			</div><!-- /.shell -->
		</header><!-- /.section-head -->

		<div class="section-body">
			<div class="shell row">
				<div class="">
					<aside class="col-md-12 col-lg-3">
						<div class="myVideoContainer">
							<!--<div class="video-head">
								<h4>{{CurrentPlaying?.Title}}</h4>
							</div>--><!-- /.video-head -->

							<p style="text-align: center;color: #416de5;">{{currentTitle}}</p>
							<p style="text-align: center">{{currentSpeaker}}</p>

							<div class="video-body" id="video-body">
								<!--<a href="#">
									<img src="/assets/build/css/images/temp/video-image.png" alt="" class="video-image">
								</a>-->

							</div><!-- /.video-body -->

							<!--<div class="video-bar">
								<img src="/assets/build/css/images/temp/video-player.jpg" alt="">
							</div> --> <!-- /.video-bar -->

						</div><!-- /.video -->
					</aside><!-- /.section-aside -->

					<div class="col-md-12 col-lg-9">
						
							
              			  <div *ngFor="let v of videos;" class="elementThumbail" (click)="Play(v)">
								<div class="video-thumbnail-image" style="cursor: pointer;" >
									
										<img src="{{v.PicUrl}}" alt="">
									
								</div><!-- /.video-thumbnail-image -->

								<div class="video-thumbnail-content">
									<span>
										<i class="ico-clock"></i>

										<strong>{{v.RunTime}}</strong>
									</span>

									<p (click)="Play(v)">
										<a href="#/" title="{{v.Title}}" style="color:#375ce3;text-decoration: none">{{v.Title|reduceStringThumbail}}</a>
									</p>

									<p  title="{{v.Speaker}}">{{v.Speaker|reduceStringThumbail}}</p>
								</div><!-- /.video-thumbnail-content -->

								<div class="video-thumbnail-actions">
									<a href="#/" class="link">
										<i class="ico-camera"  *ngIf="v.MediaType=='Video'"></i>
                    					<i class="ico-microphone"  *ngIf="v.MediaType=='Audio'"></i>
									</a>
								</div><!-- /.video-thumbnail-actions -->
           				 </div><!-- /.video-thumbnail -->


						
					</div><!-- /.section-content -->
				</div><!-- /.section-inner -->
			</div><!-- /.shell -->
		</div><!-- /.section-body -->
	</section><!-- /.section section-lectures -->



