<section class="section section-lectures">
	<header class="section-head">
		<div class="shell">
			<h6>Featured Lectures</h6>
		</div>
		<!-- /.shell -->
	</header>
	<!-- /.section-head -->

	<div class="section-body">
		<div class="shell row">
			<div class="">
				<aside class="col-md-12 col-lg-3">
					<div class="myVideoContainer">
						<!--<div class="video-head">
								<h4>{{CurrentPlaying?.Title}}</h4>
							</div>-->
						<!-- /.video-head -->

						<p style="text-align: center;color: #416de5;">{{currentTitle}}</p>
						<p style="text-align: center">{{currentSpeaker}}</p>
						<p style="text-align: center;margin-bottom: 0.5em;">
							<a href="#/" style="cursor:pointer;text-decoration: none;color: #416de5;" (click)="OpenSponsor()">{{sponsor}}</a>
						</p>

						<div class="video-body" id="video-body" style="height:14em;">
							<!--<a href="#">
									<img src="/assets/build/css/images/temp/video-image.png" alt="" class="video-image">
								</a>-->

						</div>
						<!-- /.video-body -->


						<!--<div class="video-bar">
								<img src="/assets/build/css/images/temp/video-player.jpg" alt="">
							</div> -->
						<!-- /.video-bar -->

					</div>
					<!-- /.video -->
				</aside>
				<!-- /.section-aside -->

				<div class="col-md-12 col-lg-9">

					<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">


						<div *ngFor="let v of videos;" class="elementThumbail" ngxSlickItem>
							<div class="video-thumbnail-image" style="cursor: pointer;padding: 1.1em;" (click)="Play(v)">

								<img src="./assets/build/css/images/images/speakers/{{getImageName(v)}}" alt="">

							</div>
							<!-- /.video-thumbnail-image -->

							<div class="video-thumbnail-content">


								<p (click)="Play(v)">
									<a href="#/" title="{{v.Title}}" style="color:#375ce3;text-decoration: none">{{v.Title|reduceStringThumbail}}</a>
								</p>

								<p (click)="Play(v)" title="{{v.Speaker}}" style="cursor:pointer">{{v.Speaker|reduceStringThumbail}}</p>

								<span>
										<i class="ico-clock"></i>

										<strong>{{v.RunTime}}</strong>
									</span>
							</div>
							<!-- /.video-thumbnail-content -->

							<div class="video-thumbnail-actions">
								<a href="#/" class="link" (click)="Play(v)">
										<i class="ico-camera"  *ngIf="v.MediaType=='Video'"></i>
                    					<i class="ico-microphone"  *ngIf="v.MediaType=='Audio'"></i>
									</a>
							</div>
							<!-- /.video-thumbnail-actions -->
						</div>
						<!-- /.video-thumbnail -->
					</ngx-slick>

				</div>
				<!-- /.section-content -->
			</div>
			<!-- /.section-inner -->
		</div>
		<!-- /.shell -->
	</div>
	<!-- /.section-body -->
</section>
<!-- /.section section-lectures -->