.share
{
    border-radius: .2em;
    padding: .5em .9em;
    font-size: 1em;
    color: #fff;
}

.video-thumbnails {
    width: 100%;
}

.elementThumbail{
    width:20%;
    display: inline-block;
    text-align: center;
    padding: 0.3em;
}

.mySlick{
    display: flex;
    align-items: center;
}

.videitos{
    display: none;
}


@media only screen       /*Phone portrait*/
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

 .elementThumbail{
    width:100%;
 }

 .mySlick{
    display: none
 }

 .videitos{
    display: inherit
 }

}



@media only screen   /*tablet*/
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

.elementThumbail{
    width:33%;
}

}


@media only screen                      /*Ipad Portrait and Landscape */
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .myVideoContainer{
        width: 50%;
        margin: 0 auto;
    }
}


