<div class="popup advertise" id="popup-advertise">
	<div class="popup-head">
		<form action="?" method="get">
			<label for="field-search-content">Advertise on iTorah.com</label>

			<a href="#" class="link-close">
					<i class="ico-close"></i>
				</a>
		</form>
	</div>
	<!-- /.popup-head -->

	<div class="popup-body">
		<div class="cols cols-3">
			<div class="col-1of3">
				<div class="form-order form-details">
					<form action="?" method="post">
						<div class="form__head">
							<h4>File detail</h4>
						</div>
						<!-- /.form__head -->

						<div class="form__body">
							<div class="form-row">
								<label for="field-upload" class="form-label">
										<small>Ad size (420x 30)</small>
									</label>

								<div class="form-controls form-controls-file">
									<input type="file" class="field" name="field-upload" id="field-upload" (change)="readUrl($event)" accept="image/x-png">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row" id="image-holder">
							   <img [src]="url">
							   <p *ngIf="errorSize!=''" style="color: red;" class="animated bounce">{{errorSize}}</p>
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-impressions" class="form-label">Impressions</label>

								<div class="form-controls form-controls-impressions">
									<div class="select">
										<span>${{impression.price}}</span>

										<select name="field-impressions" id="field-impressions" [(ngModel)]="impression">
                            				<option *ngFor="let s of impressions" [ngValue]="s">{{s.amount}} Impressions</option>
										</select>
									</div>
									<!-- /.select -->
								</div>
								<!-- /.form-controls -->

								<p style="text-align: left; margin: 22px -22px 43px -14px; font-size: 13px; line-height: 1.4; ">An impression is the presentation of your ad to an end user. We will cycle through all of ads and will present your
									ad each time the iTorah.com home page is navigated to or refreshed</p>
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form__body -->

						<!--<div class="form__actions">
							<input type="submit" value="Upload" class="form-btn btn-yellow" (click)="upload()">
						</div> -->
						<!-- /.form__actions -->
					</form>
				</div>
				<!-- /.form-details -->
			</div>
			<!-- /.col-1of3 -->

			<div class="col-1of3">
				<div class="form-order form-sponsor">
					<form action="?" method="post">
						<div class="form-head">
							<h4>Info</h4>
						</div>
						<!-- /.form-head -->

						<div class="form-body">
							<div class="form-row">
								<label for="field-last-name" class="form__label">Last Name</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-last-name" id="field-last-name" value="" [(ngModel)]="LastName">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-first-name" class="form__label">First Name</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-first-name" id="field-first-name" value="" [(ngModel)]="FirstName">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-address" class="form__label">Address</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-address" id="field-address" value="" [(ngModel)]="Address">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form-controls">
									<input type="text" class="field" name="field-address-2" id="field-address-2" value="" [(ngModel)]="addressTwo">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-phone number" class="form__label">Phone Number</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-phone number" id="field-phone number" value="" [(ngModel)]="PhoneNumber">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-email" class="form__label">Email</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-email" id="field-email" value="" [(ngModel)]="Email">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row form-row-medium">
								<label for="field-city" class="form__label">City</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-city" id="field-city" value="" [(ngModel)]="City">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row form-row-medium form-row-small">
								<label for="field-state" class="form__label">State</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-state" id="field-state" value="" [(ngModel)]="State">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row form-row-medium">
								<label for="field-zip" class="form__label">Zip Code</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-zip" id="field-zip" value="" [(ngModel)]="ZipCode">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form-body -->

						<div class="form-actions hidden">
							<input type="submit" value="Process order" class="form-btn">
						</div>
						<!-- /.form-actions -->
					</form>
				</div>
				<!-- /.form-order -->
			</div>
			<!-- /.col-1of3 -->

			<div class="col-1of3">
				<app-payment [valPar]="impression.price" (myEvent)="upload($event)"></app-payment>
			</div>
			<!-- /.col-1of3 -->
		</div>
		<!-- /.cols -->
	</div>
	<!-- /.popup-body -->
</div>