

#aboutUs .popup-body{
  padding: 1em;
}


#aboutUs .popup-body .content
{
 max-height: 500px;    
/*overflow: auto;*/
}

#aboutUs .popup-body .content p,#aboutUs .popup-body .content div,#aboutUs .popup-body .content ul{
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0.5em;
}

#aboutUs .popup-body .content h4{
    background:none;
    text-align:left;
    color:#000;
    margin-bottom: 0px;
    margin-left: 1em;
    margin-right: 1em;
}

#aboutUs .popup-body ul{
  list-style-type: none;
}

li a{
  color:cornflowerblue
}