<div class="popup" id="aboutUs">
  <div class="popup-head">
    <span>About Us </span>


    <a href="#" class="link-close">
						<i class="ico-close"></i>
		</a>

  </div>
  <!-- /.donate-head -->

  <div class="popup-body">

    <div class="content">



      <p> Torah Learning Resources Ltd. is a non-profit organization run by community members solely for the purpose of dispersing
        Torah via the internet.</p>

      <p> Our other endeavors include:</p>

      <ul>
        <li>
          <a href="http://www.DailyGemara.com">www.DailyGemara.com</a>,
        </li>
        <li>
          <a href="http://www.DailyHalacha.com">www.DailyHalacha.com</a>,
        </li>
        <li>
          <a href="http://www.MishnaBerura.com">www.MishnaBerura.com</a>,
        </li>
        <li>
          <a href="http://www.DailyTehillim.com/">www.DailyTehillim.com</a>,
        </li>
      </ul>

      <p>and Free phone system: 347-LEARNTORAH. </p>

      <p>All charges will be billed under Torah Learning Resources Ltd. and tax deductible receipts for the year’s collected
        money will be mailed out in January for the prior year’s payments.</p>

      <p>We do not share or sell our mailing list. From time to time we may broadcast an email in regards to our websites or
        as directed by community leaders.</p>

    </div>

  </div>
  <!-- /.donate-body -->
</div>