<div class="popup register register-emergency" id="form-register-tehillim-step-emergency">
	<div class="popup-head">
		<form action="?" method="get">
			<label for="field-search-content">Tehillim Reading 	<small>Emergency Reading</small></label>

			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>
		</form>
	</div><!-- /.popup-head -->

	<div class="popup-body">
		<a href="#popup-register" class="btn btn-yellow btn-make-dedication btn-back link-popup"></a>

		<div class="form form--large">
			<form action="?" method="post" class="cols cols-3">
				<div class="form__body col col-2of3">
					<div class="cols">
						<div class="col col-1of2">
							<p style="text-align: center;">The Emergency Email will show Perek 20 of Tehillim, and will show a short Beracha that shall include the name of the person.</p>

							<div class="form__row">
								<label for="field-transliteration-fname" class="form__label">Transliteration Name :</label>

								<div class="form__controls">
									<div class="form__col-size1">
										<input type="text" class="field" name="field-transliteration-fname" id="field-transliteration-fname" value="" placeholder="First Name" [(ngModel)]="translitFirstName">
									</div><!-- /.form__col-size1 -->

									<div class="form__col-size3">
										<div class="select">
											<select name="field-field-transliteration-name-2" id="field-field-transliteration-name-2">
												<option value="Ben">Ben</option>
												<option value="Bat">Bat</option>
											</select>
										</div><!-- /.select -->
									</div><!-- /.form__col-size3 -->

									<div class="form__col-size2">
										<input type="text" class="field" name="field-transliteration-mother-name" id="field-transliteration-mother-name" value="" placeholder="Mother’s First Name" [(ngModel)]="translitMotherName">
									</div><!-- /.form__col-size2 -->
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->


							<div class="form__row">
								<label for="field-hebrew-fname" class="form__label">Hebrew Name</label>

								<div class="form__controls">
									<div class="form__col col-1of2">
										<input type="text" class="field" name="field-hebrew-fname" id="field-hebrew-fname-eme" value="" placeholder="hebrew-fname" (focus)="SetKeyboard('field-hebrew-fname-eme')">
										<a href="#" title="Hebrew Keyboard"><i class="fa fa-keyboard-o" aria-hidden="true" title="c"></i> </a>
									</div><!-- /.form__col col-1of2 -->

									<div class="form__col col-1of2">
										<input type="text" class="field" name="field-hebrew-lname" id="field-hebrew-lname-eme" value="" placeholder="hebrew-lname" (focus)="SetKeyboard('field-hebrew-lname-eme')">
										<a href="#" title="Hebrew Keyboard"><i class="fa fa-keyboard-o" aria-hidden="true" title="c"></i> </a>
									</div><!-- /.form__col col-1of2 -->
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->

							<div class="form__row keyboard">
								<label for="field-translation" class="form__label">
									<small>Please type the transliteration of the Hebrew name</small>
								</label>

								<div class="form__controls">
									<div class="form__col">
									<!--	<input class="field" name="field-translation" id="field-translation1" value="" onfocus="VirtualKeyboard.attachInput(this)">-->

										<div class="VirtualKeyboardHolder" id="VirtualKeyboardHolder-1"></div>
									</div><!-- /.form__col -->
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->



							<div class="form__row">
								<label for="field-their-country" class="form__label">Their Country</label>

								<div class="form__controls">
									<div class="form__col col-1of2">
										<div class="select">
											<select name="field-their-country" id="field-their-country" [(ngModel)]="country" (change)="ChangeCountry()">
												<option *ngFor="let s of countries" [ngValue]="s">{{s.name}}</option>
											</select>
										</div><!-- /.select -->

										<p class="form__hint">
											<a href="#">Country Not Shown?</a>
										</p><!-- /.form__hint -->
									</div><!-- /.form__col col-1of2 -->

									<div class="form__col col-1of2">
										<div class="select">
											<select name="field-their-community" id="field-their-community"  [(ngModel)]="comunity" >
												<option *ngFor="let s of comunities" [ngValue]="s">{{s.name}}</option>
											</select>
										</div><!-- /.select -->

										<p class="form__hint">
											<a href="#">Community Not Shown?</a>
										</p><!-- /.form__hint -->
									</div><!-- /.form__col col-1of2 -->
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->
						</div><!-- /.col col-1of2 -->

						<div class="col col-1of2 col--padding">
							<div class="form__row">
								<label for="field-condition" class="form__label">
									Condition of Person/ Reason for Reading<br>
									(This text will be included in the email broadcast, and on the web site)
								</label>

								<div class="form__controls">
									<textarea class="textarea" name="field-condition" id="field-condition" placeholder="Condition" [(ngModel)]="condition"></textarea>
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->

							<div class="form__row">
								<label for="field-text-message" class="form__label">
									Type the text as you want it to appear in the the <br>
									Emergency Tehillim Reading Needed text message.
								</label>

								<div class="form__controls">
									<textarea class="textarea" name="field-text-message" id="field-text-message" placeholder="Text Message" [(ngModel)]="emailMessage" ></textarea>
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->

							<div class="form__row">
								<label for="field-dates" class="form__label">Please note, that posting may not exceed 14 days. </label>

								<div class="form__controls">
									<div class="form__col form__col-size4">
										<!--<input type="text" class="field field-dates" name="field-dates" id="field-dates" value="" placeholder="Dates">

										<i class="ico-calendar"></i>-->
										<my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="model" required></my-date-range-picker>
									</div><!-- /.form__col form__col-/-size4 -->

									<!--<div class="form__col form__col-size1">
										<input type="text" class="field" name="field-phone-number" id="field-phone-number" value="" placeholder="Your Phone #" [(ngModel)]="phone">
									</div>--><!-- /.form__col form__col-/-size1 -->
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->

							<!--<div class="form__row">
								<label for="field-immediate-family-member" class="form__label form__label--inline">Are you an immediate family member?</label>

								<div class="form__controls form__controls--inline">
									<ul class="list-radios">
										<li>
											<div class="radio">
												<input type="radio" name="immediate-family-member-emergency" id="field-yes-emergency" (click)="openField()" [(ngModel)]="isImmediateFamily" [value]='1'>

												<label class="form__label" for="field-yes-emergency">Yes</label>
											</div>
										</li>

										<li>
											<div class="radio">
												<input type="radio" name="immediate-family-member-emergency" id="field-no-emergency" (click)="closeField()" [(ngModel)]="isImmediateFamily" [value]='2'>

												<label class="form__label" for="field-no-emergency">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>-->

							<div class="form__row" id="form__row-info-emergency">
								<label for="field-relationship-to-person" class="form__label">What is your relationship to the person ?</label>

								<div class="form__controls">
									<div class="form__col">
										<input type="text" class="field" name="field-relationship-to-person" id="field-relationship-to-person" value="" [(ngModel)]="relationshiptoPerson">
									</div><!-- /.form__col -->

									<div class="form__col col-1of2">
										<input type="text" class="field" name="field-relationship-to-person-name" id="field-relationship-to-person-name" value="" placeholder="Name" [(ngModel)]="contactName">
									</div><!-- /.form__col col-1of2 -->

									<div class="form__col col-1of2">
										<input type="text" class="field" name="field-relationship-to-person-phone" id="field-relationship-to-person-phone" value="" placeholder="Their phone #	" [(ngModel)]="contactPhone">
									</div><!-- /.form__col col-1of2 -->

									<!--<div class="form__col">
										<input type="text" class="field" name="field-relationship-to-person-above" id="field-relationship-to-person-above" value="" placeholder="Their relationship the person above" [(ngModel)]="contactRelationshipToPerson">
									</div>--><!-- /.form__col -->

									<div class="form__col">
										<input type="text" class="field" name="field-relationship-to-person-email" id="field-relationship-to-person-email" value="" placeholder="Their email address:" [(ngModel)]="contactEmail">
									</div><!-- /.form__col -->
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->

							<div class="form__row">
								<label for="field-requests-or-comments" class="form__label">Below, please type any special requests or comments to the administrator</label>

								<div class="form__controls">
									<textarea class="textarea" name="field-requests-or-comments" id="field-requests-or-comments" placeholder="Comments/Requests" [(ngModel)]="commentsToAdmin"></textarea>
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->
						</div><!-- /.col col-1of2 -->
					</div><!-- /.cols -->
				</div><!-- /.form__body -->

				<div class="col col-1of3 col--padding col-center">
					<div class="form__actions">
						<input type="submit" value="Submit" class="form__btn" (click)="Send()">

						<p>Upon clicking submit, this form will be sent to one of the administrators of your community for approval. Approvals and updates are usually posted within 24 hours. An administrator will contact you by email or phone if further information is needed.</p>
					</div><!-- /.form__actions -->
				</div>
			</form>
		</div><!-- /.form -->
	</div><!-- /.popup-body -->
</div><!-- /.popup register -->
