<div class="tile-box" id="item-content-6">
	<div class="tile-box-primary tile-box-results tile-box-results-3">
		<div class="tile-box-head ">
			<h4>Daily Hok Search <span>Select Parasha by Chumash and Parasha</span></h4>
			<a href="" download id="downloadHok" hidden></a>
			<div class="search-tertiary">
				<form action="?" method="get">
					<div class="form-col">
						<label for="q">Chumash :</label>
						
						<div class="select">
							<select name="field-search-content-chumash" id="field-search-chumash" [(ngModel)]="selectedChumash">
								<option *ngFor="let c of chumashs" [ngValue]="c.id">{{c.name}}</option>
							</select><!-- /.form-row -->
						</div><!-- /.select -->
					</div><!-- /.form-col -->
					
					<div class="form-col">
						<label for="q">Perasha :</label>
						
						<div class="select">
							<select name="field-search-content-parasha" id="field-search-parasha" [(ngModel)]="selectedParasha">
								<option *ngFor="let c of parashas" [ngValue]="c.id">{{c.name}}</option>
							</select><!-- /.form-row -->
						</div><!-- /.select -->
					</div><!-- /.form-col -->
					
					<div class="form-col">
					<!--	<label for="q">Perasha :</label>-->
						
						<input type="search" name="q" id="q" value="" placeholder="Enter Search word ..." class="search-field">
						
						<button type="submit" class="search-btn">
							<i class="ico-magnify"></i>
						</button>
					</div><!-- /.form-col -->
				</form>
			</div><!-- /.search-tertiary -->
			
			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>					
		</div><!-- /.table-head -->
		
		<div class="tile-box-body">
			<div class="lists">
				<div class="lists-head">
					<div class="lists-head-inner">
						
						
						<div class="select">
							<select name="field-search-class" id="field-search-class" [(ngModel)]="selectedClass">
								<option *ngFor="let c of classes" [ngValue]="c">{{c}}</option>
							</select><!-- /.form-row -->
						</div><!-- /.select -->

						<p *ngIf="query_main!=''">"{{query_main}}" results</p>

					</div><!-- /.lists-head-inner -->
				</div><!-- /.lists-head -->
				
				<div class="lists-body">
					<ul class="tracks tracks-secondary">
						
						<li class="track" *ngFor="let h of hoks | filterFor:query_main">
							<strong>{{h.dayWeek}}</strong>
							
							<!--<a href="#" class="link-play-secondary"></a>-->
							
							<div class="track-content" style="padding-left: 0.6em">
								<h6 style="font-size: 15px;" data-title="{{h.title}}">{{h.title|reduceString}}</h6>
								
								<p>
									<span class="date">{{h.dateRecorded| date: 'MM/dd/yyyy'}}</span>
									
									<span class="min">{{h.length|time}}min</span>
									
									<span class="lang">{{h.language|language}}</span>
									
									
								</p>
							</div><!-- /.track-content -->
							
							<div class="track-actions">
								<a href="#/" class="link-mic" data-type="media" id="{{h?.audio}}" data-title="{{h.title}}">
										<i class="ico-mic"></i>
								</a>

								<a href="#/" class="link-download" download title="Download" attr.media="{{h.audio}}">
									<i class="ico-download"></i>
								</a>
								
								<a href="#/" class="link-add" title="Add to My List" id={{h.id}}>
									<i class="ico-plus-thick"></i>
								</a>
							</div><!-- /.track-actions -->
						</li><!-- /.track -->
						
					</ul><!-- /.tracks -->
				</div><!-- /.lists-body -->
			</div><!-- /.lists -->
		</div><!-- /.table-body -->
		
		<div class="tile-box-actions">
			<div class="paging">
			<!--    <ul>
			        <li><a href="#" class="paging-prev paging-inactive"><i class="ico-paging-prev"></i></a></li>
			        <li><a  href="#">1</a></li>
			        <li><a href="#" class="paging-next paging-inactive"><i class="ico-paging-next"></i></a></li>
			    </ul>-->
			</div><!-- /.paging -->
		</div><!-- /.table-actions -->
	</div><!-- /.tile-box-primary -->
</div>