<div class="tile-box" id="item-content-6">
	<div class="tile-box-primary tile-box-results tile-box-results-3">
		<div class="tile-box-head ">
			<h4>Daily Hok Search <span>Select Parasha by Chumash and Parasha</span></h4>
			
			<div class="search-tertiary">
				<form action="?" method="get">
					<div class="form-col">
						<label for="q">Chumash :</label>
						
						<div class="select">
							<select name="field-search-content" id="field-search-content">
								<option value="">Bamidbar</option>
							</select><!-- /.form-row -->
						</div><!-- /.select -->
					</div><!-- /.form-col -->
					
					<div class="form-col">
						<label for="q">Perasha :</label>
						
						<div class="select">
							<select name="field-search-content" id="field-search-content">
								<option value="">Bamidbar</option>
							</select><!-- /.form-row -->
						</div><!-- /.select -->
					</div><!-- /.form-col -->
					
					<div class="form-col">
						<label for="q">Perasha :</label>
						
						<input type="search" name="q" id="q" value="" placeholder="Enter Search word ..." class="search-field">
						
						<button type="submit" class="search-btn">
							<i class="ico-magnify"></i>
						</button>
					</div><!-- /.form-col -->
				</form>
			</div><!-- /.search-tertiary -->
			
			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>					
		</div><!-- /.table-head -->
		
		<div class="tile-box-body">
			<div class="lists">
				<div class="lists-head">
					<div class="lists-head-inner">
						<p>“Bamidbar “results</p>
						
						<div class="select">
							<select name="field-search-content" id="field-search-content">
								<option value="">Class</option>
							</select><!-- /.form-row -->
						</div><!-- /.select -->
					</div><!-- /.lists-head-inner -->
				</div><!-- /.lists-head -->
				
				<div class="lists-body">
					<ul class="tracks tracks-secondary">
						<li class="track">
							<strong>Sunday</strong>
							
							<a href="#" class="link-play-secondary"></a>
							
							<div class="track-content">
								<h6>Pesah Hagada / Macat Arbeh</h6>
								
								<p>
									<span class="date">4/7/2017</span>
									
									<span class="min">70min</span>
									
									<span class="lang">EN</span>
									
									<a href="#" class="link-mic">
										<i class="ico-mic"></i>
									</a>
								</p>
							</div><!-- /.track-content -->
							
							<div class="track-actions">
								<a href="#" class="link-download">
									<i class="ico-download"></i>
								</a>
								
								<a href="#" class="link-add">
									<i class="ico-plus-thick"></i>
								</a>
							</div><!-- /.track-actions -->
						</li><!-- /.track -->
						
						<li class="track">
							<strong>Wednesday</strong>
							
							<a href="#" class="link-play-secondary"></a>
							
							<div class="track-content">
								<h6>Pesah Hagada / Macat Arbeh</h6>
								
								<p>
									<span class="date">4/7/2017</span>
									
									<span class="min">70min</span>
									
									<span class="lang">EN</span>
									
									<a href="#" class="link-mic">
										<i class="ico-mic"></i>
									</a>
								</p>
							</div><!-- /.track-content -->
							
							<div class="track-actions">
								<a href="#" class="link-download">
									<i class="ico-download"></i>
								</a>
								
								<a href="#" class="link-add">
									<i class="ico-plus-thick"></i>
								</a>
							</div><!-- /.track-actions -->
						</li><!-- /.track -->
						
						<li class="track">
							<strong>Saturday</strong>
							
							<a href="#" class="link-play-secondary"></a>
							
							<div class="track-content">
								<h6>Pesah Hagada / Macat Arbeh</h6>
								
								<p>
									<span class="date">4/7/2017</span>
									
									<span class="min">70min</span>
									
									<span class="lang">EN</span>
									
									<a href="#" class="link-mic">
										<i class="ico-mic"></i>
									</a>
								</p>
							</div><!-- /.track-content -->
							
							<div class="track-actions">
								<a href="#" class="link-download">
									<i class="ico-download"></i>
								</a>
								
								<a href="#" class="link-add">
									<i class="ico-plus-thick"></i>
								</a>
							</div><!-- /.track-actions -->
						</li><!-- /.track -->
						
						<li class="track">
							<strong>Monday</strong>
							
							<a href="#" class="link-play-secondary"></a>
							
							<div class="track-content">
								<h6>Pesah Hagada / Macat Arbeh</h6>
								
								<p>
									<span class="date">4/7/2017</span>
									
									<span class="min">70min</span>
									
									<span class="lang">EN</span>
									
									<a href="#" class="link-mic">
										<i class="ico-mic"></i>
									</a>
								</p>
							</div><!-- /.track-content -->
							
							<div class="track-actions">
								<a href="#" class="link-download">
									<i class="ico-download"></i>
								</a>
								
								<a href="#" class="link-add">
									<i class="ico-plus-thick"></i>
								</a>
							</div><!-- /.track-actions -->
						</li><!-- /.track -->
						
						<li class="track">
							<strong>Thursday</strong>
							
							<a href="#" class="link-play-secondary"></a>
							
							<div class="track-content">
								<h6>Pesah Hagada / Macat Arbeh</h6>
								
								<p>
									<span class="date">4/7/2017</span>
									
									<span class="min">70min</span>
									
									<span class="lang">EN</span>
									
									<a href="#" class="link-mic">
										<i class="ico-mic"></i>
									</a>
								</p>
							</div><!-- /.track-content -->
							
							<div class="track-actions">
								<a href="#" class="link-download">
									<i class="ico-download"></i>
								</a>
								
								<a href="#" class="link-add">
									<i class="ico-plus-thick"></i>
								</a>
							</div><!-- /.track-actions -->
						</li><!-- /.track -->
						
						<li class="track">
							
						</li><!-- /.track -->
						
						<li class="track">
							<strong>Thursday</strong>
							
							<a href="#" class="link-play-secondary"></a>
							
							<div class="track-content">
								<h6>Pesah Hagada / Macat Arbeh</h6>
								
								<p>
									<span class="date">4/7/2017</span>
									
									<span class="min">70min</span>
									
									<span class="lang">EN</span>
									
									<a href="#" class="link-mic">
										<i class="ico-mic"></i>
									</a>
								</p>
							</div><!-- /.track-content -->
							
							<div class="track-actions">
								<a href="#" class="link-download">
									<i class="ico-download"></i>
								</a>
								
								<a href="#" class="link-add">
									<i class="ico-plus-thick"></i>
								</a>
							</div><!-- /.track-actions -->
						</li>
						
						<li class="track">
							<strong>Thursday</strong>
							
							<a href="#" class="link-play-secondary"></a>
							
							<div class="track-content">
								<h6>Pesah Hagada / Macat Arbeh</h6>
								
								<p>
									<span class="date">4/7/2017</span>
									
									<span class="min">70min</span>
									
									<span class="lang">EN</span>
									
									<a href="#" class="link-mic">
										<i class="ico-mic"></i>
									</a>
								</p>
							</div><!-- /.track-content -->
							
							<div class="track-actions">
								<a href="#" class="link-download">
									<i class="ico-download"></i>
								</a>
								
								<a href="#" class="link-add">
									<i class="ico-plus-thick"></i>
								</a>
							</div><!-- /.track-actions -->
						</li>
						
						<li class="track">
							
						</li>
					</ul><!-- /.tracks -->
				</div><!-- /.lists-body -->
			</div><!-- /.lists -->
		</div><!-- /.table-body -->
		
		<div class="tile-box-actions">
			<div class="paging">
			    <ul>
			        <li><a href="#" class="paging-prev paging-inactive"><i class="ico-paging-prev"></i></a></li>
			        <li><a  href="#">1</a></li>
			        <li><a href="#" class="paging-next paging-inactive"><i class="ico-paging-next"></i></a></li>
			    </ul>
			</div><!-- /.paging -->
		</div><!-- /.table-actions -->
	</div><!-- /.tile-box-primary -->
</div>