.tile-box-results .tile-box-head .search-tertiary{

    padding-left: 0%;
    width: 100%;
}

.tile-box-primary .tile-box-head .select:last-child
{
        border-left: none;
}

.tile-box-primary .tile-box-head label{
        margin-left: 0.7em;
}


@media(max-width:768px) {
 
 .col-lg-4{
    padding-left: 9px;
 }

 .tile-box-primary .tile-box-head label {
    margin-left: 0px;
}

.tile-box-results .tile-box-head h4{
    width: 100%;
    padding-right: 0px; 
    display: initial;
}

}

.tile-box-primary .link-close{
    margin-bottom: 57px;
    margin-right: 14px;
}


@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) {
    
        .tile-box-primary .link-close{
            margin-bottom: 255px;
            margin-right:7px;
        }
    }
    
    
    @media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) {
    
        .tile-box-primary .link-close{
            margin-bottom: 255px;
            margin-right:7px;
        }
    }
    