<div class="popup sponsor" id="sponsor">
	<div class="popup-head">
		<form action="?" method="get">
			<label *ngIf="!loading" for="field-search-content">Sponsor: </label>
			<i *ngIf="loading" class="fa fa-spinner fa-pulse"></i>

			<a href="#" class="link-close">
					<i class="ico-close"></i>
				</a>
		</form>
	</div>
	<!-- /.popup-head -->

	<div class="popup-body">
		<div class="cols cols-3" [hidden]="sectionPanel!='main'">
			<div class="col-1of3 col-center">
				<div class="form-sponsor sponsor-toggle">
					<form action="?" method="post">
						<div class="form__head">
							<h4 class="step-title">
								<span>
										step
										<span>1</span>
								</span>

								Select
							</h4>
						</div>
						<!-- /.form__head -->

						<div class="form__body">
							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-sponsor-day" id="field-sponsor-a-day" (click)="SetSection('day')">

											<label class="form__label" for="field-sponsor-a-day">Sponsor a day</label>
										</div>
										<!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-sponsor-shiur" id="field-sponsor-a-shiur" (click)="SetSection('shiur')">

											<label class="form__label" for="field-sponsor-a-shiur">Sponsor a shiur</label>
										</div>
										<!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-sponsor-play" id="field-sponsor-a-play" (click)="SetSection('play')">

											<label class="form__label" for="field-sponsor-a-play">Sponsor a Media Player</label>
										</div>
										<!-- /.checkbox -->
									</li>

								</ul>
								<!-- /.list-checkboxes -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form__body -->

						<div class="form__actions hidden">
							<input type="submit" value="Submit" class="form__btn">
						</div>
						<!-- /.form__actions -->
					</form>
				</div>
				<!-- /.form-sponsor -->
			</div>
			<!-- /.col-1of3 -->

			<div class="col-1of3">
				<div class="form-sponsor form-placeholder" id="sponsorPlaceHolder">
					<form action="?" method="post">
						<div class="form-head">
							<h4 class="step-title">
								<span>
										step
										<span>2</span>
								</span>

								Sponsor a Day
							</h4>
						</div>
						<!-- /.form-head -->

						<div class="form-body"></div>
						<!-- /.form-body -->
					</form>
				</div>
				<!-- /.form-sponsor hidden -->

				<div class="form-sponsor hidden" id="form-sponsor-day">
					<form action="?" method="post">
						<div class="form-head">
							<h4 class="step-title">
								<span>
										step
										<span>2</span>
								</span>

								Sponsor a Day
							</h4>
						</div>
						<!-- /.form-head -->

						<div class="form-body">

							<div class="form-row">
								<my-date-picker id="sponsorDate" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date" (dateChanged)="Availables($event)"></my-date-picker>
								<p *ngIf="alertMessage!=''" style="color:red"> {{alertMessage}} </p>
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox">
											<input type="checkbox" name="field-sponsor-day-itorah" id="field-sponsor-day-itorah" [(ngModel)]="itorah" 
											(change)="Check()" [disabled]="isSourceNotAvailable(17)">

											<label class="form__label" data-per-day="$180.00 per day" for="field-sponsor-day-itorah">Sponsor a day for iTorah.com</label>
										</div>
										<!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox">
											<input type="checkbox" name="field-sponsor-day-daliy-halacha" id="field-sponsor-day-daliy-halacha" [(ngModel)]="halacha"
											(change)="Check()" [disabled]="isSourceNotAvailable(6)">

											<label class="form__label" data-per-day="$52.00 per day" for="field-sponsor-day-daliy-halacha">Sponsor a day for DaliyHalacha.com</label>
										</div>
										<!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox">
											<input type="checkbox" name="field-sponsor-day-daliy-tehillin" id="field-sponsor-day-daliy-tehillin" [(ngModel)]="tehillim"
											 (change)="Check()" [disabled]="isSourceNotAvailable(7)">

											<label class="form__label" data-per-day="$52.00 per day" for="field-sponsor-day-daliy-tehillin">Sponsor a day for DaliyTehillim.com</label>
										</div>
										<!-- /.checkbox -->
									</li>
								</ul>
								<!-- /.list-checkboxes -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="select select-tertiary">
									<select name="field-sponsorship" id="field-sponsorship" [(ngModel)]="dT">
											<option *ngFor="let s of dedicationType" [ngValue]="s">{{s.description}}</option>
										</select>
								</div>
								<!-- /.select -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form-controls">
									<input type="text" class="field" name="field-sponsor" id="field-sponsorshipFor" value="" placeholder="Sponsorship for" [(ngModel)]="sponsorshipFor">
								</div>
								<!-- /.select -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form-controls">
									<input type="text" class="field" name="field-name" id="field-name" value="" placeholder="Dedicated by" [(ngModel)]="name">
									<p>(Leave blank if you want to remain anonymous)</p>
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form-body -->

						<div class="form-actions">
							<input type="button" value="Continue" class="form-btn next-step" (click)="ShowPayment()">
						</div>
						<!-- /.form-actions -->
					</form>
				</div>
				<!-- /.form-sponsor hidden -->

				<div class="form-sponsor hidden" id="form-sponsor-shiur">
					<form action="?" method="post">
						<div class="form-head">
							<h4 class="step-title">
								<span>
										step
										<span>2</span>
								</span>

								Sponsor a Shiur
							</h4>
						</div>
						<!-- /.form-head -->

						<div class="form-body">
							<div class="form-row">
								<p style="text-align: center; color: #123fa0; padding: 10px; ">
									<span>Sponsor a Shiur = $180.00</span>
								</p>

								<a href="#" class="btn btn-yellow" (click)="FindShiur()">BROWSE iTorah</a>
								<p style="color:#1d8d54;margin-top: 1.5em;text-align: initial;" *ngIf="nameShiurSelected!=''" class="animated bounce">{{nameShiurSelected}}</p>
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="select select-tertiary">
									<select name="field-sponsorship" id="field-sponsorship" [(ngModel)]="dT">
											<option *ngFor="let s of dedicationType" [ngValue]="s">{{s.description}}</option>
										</select>
								</div>
								<!-- /.select -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form-controls">
									<input type="text" class="field" name="field-name" id="field-name" value="" placeholder="Name" [(ngModel)]="name">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form__controls">
									<input type="text" class="field" name="field-sponsor" id="field-sponsorshipFor" value="" placeholder="Sponsorship for" [(ngModel)]="sponsorshipFor">
									<br>
									<p>
										<small>(Leave blank if you want to remain anonymous)</small>
									</p>
								</div>
								<!-- /.form__controls -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form-body -->

						<div class="form-actions">
							<input type="button" value="Continue" class="form-btn next-step" (click)="ShowPayment()">
						</div>
						<!-- /.form-actions -->
					</form>

					<p>Sponsoring a Shiur enables viewers to download the shiur for free.</p>
				</div>
				<!-- /.form-sponsor hidden -->

				<div class="form-sponsor hidden tool-wrap" id="form-sponsor-play">
					<form action="?" method="post">
						<div class="form-head">
							<h4 class="step-title">
								<span>
										step
										<span>2</span>
								</span>

								Sponsor a Media Player
							</h4>
						</div>
						<!-- /.form-head -->

						<div class="form-body">

							<div class="form-row" style="min-height: 200px;">
								<ul>
									<li>
										<input type="radio" id="f-option" name="selector" [value]="1" [(ngModel)]="option" (click)="setOptionValue(25)">
										<label for="f-option"> $25.00  10 Displays </label>

										<div class="check"></div>
									</li>

									<li>
										<input type="radio" id="s-option" name="selector" [value]="2" [(ngModel)]="option" (click)="setOptionValue(50)">
										<label for="s-option">$50.00  25 Displays </label>

										<div class="check">
											<div class="inside"></div>
										</div>
									</li>

									<li>
										<input type="radio" id="t-option" name="selector" [value]="3" [(ngModel)]="option" (click)="setOptionValue(100)">
										<label for="t-option">$100.00  60 Displays</label>
										<div class="check">
											<div class="inside"></div>
										</div>
									</li>
								</ul>
							</div>

							<div class="form-row">
								<div class="select select-tertiary">
									<select name="field-sponsorship" id="field-sponsorship" [(ngModel)]="dT">
											<option *ngFor="let s of dedicationType" [ngValue]="s">{{s.description}}</option>
										</select>
								</div>
								<!-- /.select -->
							</div>
							<!-- /.form-row -->



							<div class="form-row">
								<div class="form-controls">
									<input type="text" class="field" name="field-sponsor" id="field-sponsorshipFor" value="" placeholder="Sponsorship for" [(ngModel)]="sponsorshipFor">
								</div>
								<!-- /.select -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form-controls">
									<input type="text" class="field" name="field-name" id="field-name" value="" placeholder="Name" [(ngModel)]="name">
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form-body -->

						<div class="form-actions">
							<input type="button" value="Continue" class="form-btn next-step" (click)="ShowPayment()">
						</div>
						<!-- /.form-actions -->
					</form>
				</div>

			</div>
			<!-- /.col-1of3 -->

			<div class="col-1of3">
				<app-payment [valPar]="value" (myEvent)="Save($event)" *ngIf="payment" [isDonate]="false" [requesting]="requesting" [paymentError]="paymentError"></app-payment>
			</div>
			<!-- /.col-1of3 -->
		</div>
		<!-- /.cols -->
		<div class="tile-box-primary tile-box-speakers" [hidden]="sectionPanel=='main'">
			<div class="tile-box-tab current">
				<div class="tile-box-body">
					<div class="lists">
						<div class="lists-head">

							<button type="button" class="search-btn" id="buttonBackAll" (click)="Back()">
						  		<i class="fa fa-long-arrow-left"></i> Back
				       		 </button>

							<!-- /.lists-head-inner -->
							<div class="lists-head-inner">
								<div class="select select-tertiary" style="margin-right: 0.5em;">
									<select [(ngModel)]="category" (change)="SubCategory()">
					            		<option *ngFor="let c of categorys" [ngValue]="c">{{NameforSelect(c)}}</option>
				            		</select>
								</div>

								<div class="select select-tertiary" style="margin-right: 0.5em;">
									<select [(ngModel)]="subCategory" (change)="Load()"  [disabled]="category!=undefined&&category.id==0" [class.mydisabled]="category!=undefined&&category.id==0">
					            		<option *ngFor="let c of subCategorys" [ngValue]="c">{{NameforSelect(c)}}</option>
				            		</select>
								</div>

								<div class="select select-tertiary">
									<select [(ngModel)]="speaker" (change)="Load()">
					            		<option *ngFor="let c of speakers" [ngValue]="c">{{c.firstName}} {{c.lastName}}</option>
				            		</select>
								</div>
							</div>

							<div class="search-secondary">
								<form action="?" method="get" id="form-main">
									<label for="q" class="hidden">Search</label>

									<input type="search" name="q" id="q" placeholder="Search by name" class="search-field" [(ngModel)]="query_main"
									 (keyup)="keyDown($event)">

									<button (click)="Load()" data-type="search-shirium" type="button" class="search-btn"><i class="ico-magnify" id="prueba"></i></button>
								</form>
							</div>
							<!-- /.search -->
						</div>
						<!-- /.lists-head -->

						<div class="lists-body">
							<h4 *ngIf="all.length==0" style="background: none;color: #2c2929;text-align: unset;">No results for this selection</h4>
							<ul *ngIf="all.length!=0" class="tracks">
								<li class="track" *ngFor="let s of all" (click)="setShiur(s)">
									<!--<a href="#" class="link-play-secondary"></a>-->

									<div class="track-content" style="padding-left: 0.5em">
										<h6 data-title="{{s.title}}">{{s.title|reduceString}}</h6>
										<h4 data-title="{{s.speaker}}" >{{s.speaker|reduceString}}</h4>
										<p>
											<span class="date">{{s.dateRecorded| date: 'MM/dd/yyyy'}}</span>

											<span class="min">{{s.length|time}}min</span>

											<span class="lang">{{s.language|language}}</span>

										</p>
									</div>
									<!-- /.track-content -->
								</li>
								<!-- /.track -->

							</ul>
							<!-- /.tracks -->
						</div>
						<!-- /.lists-body -->
					</div>
					<!-- /.lists -->
				</div>
				<!-- /.table-body -->

				<div class="tile-box-actions">
					<div class="paging">
						<ul>
							<li data-type="back"><a href="#/" class="paging-prev-emula" (click)="PagingPrev()"><i class="ico-paging-prev"></i></a></li>
							<li *ngFor="let p of pages"><a [ngClass]="{'current': p.current}" href="#/" (click)="Page(p.id)">{{p.id}}</a></li>
							<li data-type="go"><a href="#/" class="paging-next-emula" (click)="PagingNext()"><i class="ico-paging-next"></i></a></li>
						</ul>
					</div>
					<!-- /.paging -->
				</div>

			</div>
		</div>
	</div>
	<!-- /.popup-body -->
</div>