<div class="tile-box" id="item-content-8">			
	<div class="tile-box-search">
			<a href="#" class="link-close-half" style="margin-left: 97%">
						<i class="ico-close" style="margin-top: -4px"></i>
	        </a>
			<hr>
		<div class="search-tertiary">
			<div class="form-search">
				<form action="?" method="post">
					<div class="form-content">
						<label for="field-search" class="form-label hidden">search</label>
						
						<div class="form-controls">
							<i class="ico-search-3"></i>
							
							<input type="text" class="field" name="field-search" id="field-search" value="" placeholder="Type your search here ..." (keydown)="keyDownFunction($event)" [(ngModel)]="wSearch">
						</div><!-- /.form-controls -->
					</div><!-- /.form-content -->
					
					<div class="form-aside">
						<div class="">
							<select multiple="multiple"  placeholder="Select" class="SlectBox">
       							<option selected value="Halachot">Halachot</option>
       							<option selected value="Perasha">Perasha</option>
       							<option selected value="Tehillim">Tehillim</option>
								<option selected value="Mishna Berura">Mishna Berura</option>
            				</select>
						</div>
					</div><!-- /.form-aside -->
				</form>
			</div><!-- /.form-search -->
		</div><!-- /.search-tertiary -->
	</div><!-- /.tile-box-primary -->
</div>