<div class="tile-box" id="item-content-8">
	<div class="tile-box-search">
		<div class="search-tertiary">
			<div class="form-search">
				<form action="?" method="post">
					<div class="form-content">
						<label for="field-search" class="form-label hidden">search</label>
						
						<div class="form-controls">
							<i class="ico-search-3"></i>
							
							<input type="text" class="field" name="field-search" id="field-search" value="" placeholder="Type your search here ...">
						</div><!-- /.form-controls -->
					</div><!-- /.form-content -->
					
					<div class="form-aside">
						<div class="select">
							<select multiple name="field-Halachot" id="field-Halachot">
								<option value="">All</option>
								<option value="">Halachot</option>
								<option value="">Perasha</option>
								<option value="">Tehillim</option>
								<option value="">Mishna Berura</option>
							</select>
						</div>
					</div><!-- /.form-aside -->
				</form>
			</div><!-- /.form-search -->
		</div><!-- /.search-tertiary -->
	</div><!-- /.tile-box-primary -->
</div>