<div class="popup" id="recover">
  <div class="popup-head">
    <span> <a id="recover_title" style="text-decoration:none;">Recover Password for:</a> {{email}}</span>


    <a href="#" class="link-close">
		  <i class="ico-close"></i>
		</a>

  </div>
  <!-- /.donate-head -->

  <div class="popup-body">

    <div class="form-signin">
      <form novalidate [formGroup]="form">
        <div class="form-head" style="text-align: center;">
          <i class="ico-logo-small"></i>
        </div>
        <!-- /.form-head -->
       

        <div id="recover_form" >

          <div class="form-row">
            <label for="field-password" class="form-label hidden">Password</label>

            <div class="form-controls">
              <input type="password" class="field" name="field-password" id="field-password" value="" placeholder="Password" formControlName="password">
            </div>
            <!-- /.form-controls -->
            <div   class="animated bounceIn" style="color:red;" *ngIf="form.get('password').hasError('required') && form.get('password').touched">
        						Password is required
      					</div>
          </div>

          <div class="form-row">
            <label for="field-confirmPassword" class="form-label hidden">Confirm Password</label>

            <div class="form-controls">
              <input type="password" class="field" name="field-confirmPassword" id="field-confirmPassword" value="" placeholder="Confirm Password"
                formControlName="confirm">
            </div>
            <!-- /.form-controls -->
            <div   class="animated bounceIn" style="color:red;" *ngIf="form.get('confirm').hasError('required') && form.get('confirm').touched">
        						Confirm is required
      					</div>
          </div>

          
          <div class="form-actions" style="border-top: none;padding-top: 0px;">
            
            <div class="animated bounceIn" *ngIf="NotEquals()" style="margin-bottom: 0.5em;">			
									<label for="" style="color:red;cursor: text;" >Password doesn't match</label>
						</div>

            <input type="submit" value="Save" class="form-btn" (click)="Change()" [disabled]="!Equals()" [class.mydisabled]="!Equals()" style="margin-bottom: 1em;">
          
          </div>
          <!-- /.form-actions -->
        </div>



      </form>
    </div>


  </div>
  <!-- /.donate-body -->
</div>