.headerDedication{
    border-bottom: 2px solid #e9e9e9;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 0.5em;
}

.leftSide{
    margin-top: 0.5em;
    border-radius: 3px;
    border:1px solid #a1a6b1;
    background-color: #11233e;
    height: 6.1em;
}

.leftSide:nth-child(2){
    margin-left: 1em;
}

.centerContainer{
display: table
}

.kidCentered{
    display: table-cell;
    vertical-align: middle;
}

/*.flexing {
    display: flex;
}*/


.linkBiography{
    color: #1d92ff;
    text-decoration: none;
    font-size: 13px;
}

img{
    height: 100%;
}

.threeParra{
    padding-top: 0.5em;
}


@media(max-width:375px) /*phone portrait*/ 
{
  .btn-make-dedication{
      margin-left: 41px;
  }

  .imgContainer{
      text-align: center;
      padding-top: 0.3em;
  }

  img{
    border-radius: 3px;
  }

 .leftSide {
     height: 15em;
 }

 .leftSide:nth-child(2){
   height: 6.1em;
   margin-left: 0em; 
 }

 .headerDedication{
    margin-right: 0px;
    margin-left: 0px;
 }

 .threeParra{
    text-align: left;  
}

 .linkBiography{
    text-align: center;
    font-size: 11px;
}

#biography > a {
    margin-left: 14px;
}

#biography > div > div.col-sm-12.col-md-5 > img{
    width: 311px;
    padding: 20px;
}



}

@media   (min-width: 376px)  /*phone landscape*/
  and (max-width: 667px) 
  { 

    .imgContainer
    {
        width: 25%;
        float: left;
    }
  
    .leftSide:nth-child(2){
        height: 6.1em;
        margin-left: 0em; 
    }

}

/*
@media(min-width:768px) 
{
}*/


@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {
  .leftSide:nth-child(2) {
     margin-left: 0em; 
 }
  .leftSide {
    height: 6.7em;
 }

 .leftSide:nth-child(2){
   height: 6.7em;
 }
 
 img {
    height: 105px;
 }

 .col-sm-9 > p:nth-child(4){
     font-size: 13px;
 }

 .threeParra{
     font-size: 15px;
 }
 .linkBiography{
     font-size: 11px;
 }

}

@media(min-width:1024px) 
{
    /*.threeParra{
        padding-top: 2%;
    }*/

}



/*********************************************************************************************/
.col-sm-12 p, .col-md-6 p{
    margin-bottom: 1em
}

.parragraphs{
    max-height: 500px;
    overflow: auto;
}

.rabbi{
    color: #171616;
    border-left: 1px solid #171616;
    padding-left: 0.5em;
}