<div class="popup dedications" id="dedications">
	<div class="popup-head">
		<form action="?" method="get">
			<label for="field-search-content">Dedications</label>

			<a href="#" class="link-close" (click)="Close()">
					<i class="ico-close"></i>
				</a>
		</form>
	</div>
	<!-- /.popup-head -->

	<div class="popup-body" id="list-dedications">

		<div class="row headerDedication">
			<div class="col-lg-3">
			   
				<a href="#make-dedication" class="btn btn-yellow btn-make-dedication">Make a dedication</a>
			   
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 leftSide" style="padding-left: 0px;padding-right: 0px;">
						<div class="row flexing">
							<div class="col-sm-3 col-md-3 col-lg-3 imgContainer" style="padding-left: 0px;padding-right: 0px;">
								<img src="./assets/build/css/images/images/RabbiJacob117.png"/>
							</div>

							<div class="col-sm-9 col-md-9 col-lg-9 threeParra">
								<p style="color:white"> DailyHalacha.com continuing in the tradition of</p> 
								<p style="color:white">The Chief Rabbi of The Syriam Sepharic Community of New York</p>
								<p style="color:#ffc800">Rabbi Jacob S Kassin A`H(1900-1994)</p>								
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 leftSide centerContainer">
						<div class="kidCentered">
							<p style="color:white"> LearnTorah.com</p> 
							<p style="color:#ffc800">The Eddie B Sitt Judaica Learning Center</p>
						</div>
					</div>
				</div>

			</div>
			
		</div>

		<ul class="list-dedications">
			<li *ngFor="let d of dedications">
				<h5>- {{d.type}} - </h5>

				<p>
					<strong>{{d.dedicationForName}}</strong> <br> Dedicated by {{d.dedicationByName}}
				</p>
			</li>
		</ul>
		<!-- /.list-dedications -->
	</div>
	<!-- /.popup-body -->

	<div class="popup-body hidden" id="make-dedication">
		<a href="#list-dedications" class="btn btn-yellow btn-make-dedication btn-back">Make a dedication</a>

		<div class="cols cols-2">
			<div class="col-1of2">
				<div class="form-order form-sponsor">
					<form action="?" method="post">
						<div class="form-head">
							<h4>Dedications</h4>
						</div>
						<!-- /.form-head -->

						<div class="form-body">
							<div class="form-row">
								<label for="field-dedication-type" class="form__label">Dedication type</label>

								<div class="form-controls">
									<div class="select">
										<select name="field-dedication-type" id="field-dedication-type" [(ngModel)]="dT">
												<option *ngFor="let s of dedicationType" [ngValue]="s">{{s.description}}</option>
										</select>
									</div>
									<!-- /.select -->
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->


							<div class="form-row" *ngIf="dT.id=='6'">
								<label for="field-dedication-name" class="form__label">Other</label>

								<div class="form-controls">
									<input type="text" class="field" name="Name" value="" placeholder="Other" [(ngModel)]="other">
								</div>
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-dedication-name" class="form__label">Dedication name</label>

								<div class="form-controls">
									<input type="text" class="field" name="Name" value="" placeholder="Name" [(ngModel)]="dedicationName">
								</div>
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-dedication-by" class="form__label">Dedication by</label>

								<div class="form-controls">
									<input type="text" class="field" name="By" value="" placeholder="Name" [(ngModel)]="dedicationBy">
								</div>
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-dedicated-per" class="form__label">Dedicated per</label>

								<p style="text-align: center; color: #123fa0;">Dedications appear on the main web site when clicking Dedications. <br>Dedications cost $100.00 per month or $1,000.00
									per year</p>

								<div class="form-controls">
									<div class="select">
										<select name="field-dedicated-per" id="field-dedicated-per" [(ngModel)]="dP" (change)="ChangePer()">
												<option *ngFor="let s of dedicatedPer" [ngValue]="s">{{s.description}}</option>
										</select>
									</div>
									<!-- /.select -->
								</div>
								<!-- /.form-controls -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form-body -->

						<!--<div class="form-actions">
								<input type="submit" value="Process order" class="form-btn">
							</div>-->
						<!-- /.form-actions -->
					</form>
				</div>
				<!-- /.form-order -->
			</div>
			<!-- /.col-1of2 -->

			<div class="col-1of2">
				<app-payment [valPar]="value" (myEvent)="Save($event)" [isDonate]="false" [requesting]="requesting" [paymentError]="paymentError"></app-payment>
				<!-- /.form-order -->
			</div>
			<!-- /.col-1of2 -->
		</div>
		<!-- /.cols -->
	</div>
	<!-- /.popup-body -->
</div>
<!-- /#dedications.popup dedications -->