<div id="gSearch" class="tile tile-search ballon tile-full">
  <div class="tile-box-primary">
    <div class="tile-box-head tile-box-head-block">
      <h3 *ngIf="!loading&&content==''">Showing results for: <a href="#">{{pattern}}</a></h3>
      <h3 *ngIf="content!=''">Title: 
        <a href="#">{{title}}</a>
         <a *ngIf="content!=''" href="#/" style="margin-left: 2em;"><i id="weekly-play" class="ico-play-yellow" (click)="PlayHeader()"></i></a> 
        <a *ngIf="content!=''" href="#/"><i id="weekly-print" class="ico-print-yellow" (click)="PrintHeader()"></i></a>
      </h3>
      <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-2x"></i>
      <button type="button" class="search-btn" id="buttonBackGlobal" (click)="Back()" *ngIf="content!=''">
						 <i class="fa fa-long-arrow-left"></i> Back
			</button>

      <a class="link-close" href="#" *ngIf="content==''">
								<i class="ico-close"></i>
			</a>
    </div>
    <!-- /.tile-box-head tile-box-head-block -->

    <div class="tabs-head" *ngIf="content==''">
      <ul class="tabs-nav">
        <li class="current">
          <a href="#search-tile-tab-1">
										All
										<span>{{alltotal}} Results</span>
									</a>
        </li>

        <li>
          <a href="#search-tile-tab-2">
										Halachat

										<span>{{halachatotal}} Results</span>
									</a>
        </li>

        <li>
          <a href="#search-tile-tab-3">
										Weekly Parasha

										<span>{{weeklytotal}} Results</span>
									</a>
        </li>

        <li>
          <a href="#search-tile-tab-4">
										Mishnah Berurah Q &amp; A

										<span>{{mishnatotal}} Results</span>
									</a>
        </li>
        <li>
          <a href="#search-tile-tab-5">
										Emunah

										<span>{{emunahtotal}} Results</span>
					</a>
        </li>
        <li>
          <a href="#search-tile-tab-6">
										Weekly Inspire

										<span>{{inspiretotal}} Results</span>
					</a>
        </li>
      </ul>
    </div>
    <!-- /.tabs-head -->

    <div class="tile-box-tab current" id="search-tile-tab-1" *ngIf="content==''">
      <ul class="search-resultsults">
        <li class="search-resultsult search-resultsult-title">
          <div class="col col-medium">
            <div class="col col-1of2"></div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              <a href="#/" (click)="Sort(all)" class="current">Data</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-medium -->

          <div class="col col-large">
            <a href="#">Title</a>
          </div>
          <!-- /.col col-large -->

          <div class="col col-small">
            <a href="#">Duration</a>
          </div>
          <!-- /.col col-small -->

          <div class="col col-small"></div>
          <!-- /.col col-small -->

          <div class="col col-small">
            <div class="col col-1of2">
              <a href="#">download</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col -->
          <div class="col col-small">
            Found in     
          </div>
        </li>
        <!-- /.search-resultsult -->

        <li class="search-resultsult" *ngFor="let a of all">
          <div class="col col-medium">
            <div class="col col-1of2">
              <a href="#/" (click)="Play(a.title,a.audioUrl,a.sourceID,a.id)">
												<i class="ico-mic"></i>
											</a>
            </div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              {{a.date|date: 'MM/dd/yyyy'}}
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-medium -->

          <div class="col col-large">
            <p>{{a.title}}</p>
          </div>
          <!-- /.col col-large -->

          <div class="col col-small col-duration" *ngIf="a.length!=null && a.length!=''">
            {{a.length}} min
            <a href="#">EN</a>
          </div>
          <div class="col col-small col-duration" *ngIf="a.length==null || a.length==''">
            <a href="#">Not Available</a>
          </div>
          <!-- /.col col-small -->

          <div class="col col-small">
            <div class="col col-1of2">
              <a href="#/" (click)="Read(a.title,a.text,a.audioUrl,a.sourceID,a.id)">read</a>
            </div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              <a href="#/" (click)="Print(a.title,a.text)">print</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-small -->

          <div class="col col-small">
            <!--<a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
            <!-- /.btn btn-download -->

            <a href="{{a.audioUrl}}" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
						</a>
            <!-- /.btn btn-download -->
          </div>
          <!-- /.col -->
          <div class="col col-small">
              {{GetSourceName(a.sourceID)}}
          </div>

        </li>
        <!-- /.search-resultsult -->

      </ul>
      <!-- /.search-resultsults -->
      <div class="tile-box-actions">
        <div class="paging">
          <ul>
            <li data-type="back"><a href="#/" class="paging-prev-emula" (click)="PagingPrev()"><i class="ico-paging-prev"></i></a></li>
            <li *ngFor="let p of pages"><a [ngClass]="{'current': p.current}" href="#/"   (click)="Page(p.id)">{{p.id}}</a></li>
            <li data-type="go"><a href="#/" class="paging-next-emula" (click)="PagingNext()"><i class="ico-paging-next"></i></a></li>
          </ul>
        </div>
        <!-- /.paging -->
      </div>
      <!-- /.table-actions -->
    </div>

    <div class="tile-box-tab" id="search-tile-tab-2" *ngIf="content==''">
      <ul class="search-resultsults">
        <li class="search-resultsult search-resultsult-title">
          <div class="col col-medium">
            <div class="col col-1of2"></div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              <a href="#" class="current" (click)="Sort(halachat)">Data</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-medium -->

          <div class="col col-large">
            <a href="#">Title</a>
          </div>
          <!-- /.col col-large -->

          <div class="col col-small">
            <a href="#">Duration</a>
          </div>
          <!-- /.col col-small -->

          <div class="col col-small"></div>
          <!-- /.col col-small -->

          <div class="col">
            <div class="col col-1of2">
              <a href="#">download</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col -->
        </li>
        <!-- /.search-resultsult -->

        <li class="search-resultsult" *ngFor="let a of halachat">
          <div class="col col-medium">
            <div class="col col-1of2">
              <a href="#/" (click)="Play(a.title,a.audioUrl,a.sourceID,a.id)">
												<i class="ico-mic"></i>
											</a>
            </div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              {{a.date|date: 'MM/dd/yyyy'}}
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-medium -->

          <div class="col col-large">
            <p>{{a.title}}</p>
          </div>
          <!-- /.col col-large -->

          <div class="col col-small col-duration">
            {{a.length}} min
            <a href="#">EN</a>
          </div>
          <!-- /.col col-small -->

          <div class="col col-small">
            <div class="col col-1of2">
              <a href="#/" (click)="Read(a.title,a.text,a.audioUrl,a.sourceID,a.id)">read</a>
            </div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              <a href="#/" (click)="Print(a.title,a.text)">print</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-small -->

          <div class="col">
            <!--<a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
            <!-- /.btn btn-download -->

            <a href="{{a.audioUrl}}" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
										</a>
            <!-- /.btn btn-download -->
          </div>
          <!-- /.col -->
        </li>
      </ul>
      <!-- /.search-resultsults -->
      <div class="tile-box-actions">
        <div class="paging">
          <ul>
            <li data-type="back"><a href="#/" class="paging-prev-emula" (click)="PagingPrevHalachat()"><i class="ico-paging-prev"></i></a></li>
            <li *ngFor="let p of pagesHalachat"><a [ngClass]="{'current': p.current}" href="#/"  (click)="PageHalachat(p.id)">{{p.id}}</a></li>
            <li data-type="go"><a href="#/" class="paging-next-emula" (click)="PagingNextHalachat()"><i class="ico-paging-next"></i></a></li>
          </ul>
        </div>
        <!-- /.paging -->
      </div>
      <!-- /.table-actions -->
    </div>

    <div class="tile-box-tab" id="search-tile-tab-3" *ngIf="content==''">
      <ul class="search-resultsults">
        <li class="search-resultsult search-resultsult-title">
          <div class="col col-medium">
            <div class="col col-1of2"></div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              <a href="#" class="current" (click)="Sort(weekly)">Data</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-medium -->

          <div class="col col-large">
            <a href="#">Title</a>
          </div>
          <!-- /.col col-large -->

          <div class="col col-small">
            <a href="#">Duration</a>
          </div>
          <!-- /.col col-small -->

          <div class="col col-small"></div>
          <!-- /.col col-small -->

          <div class="col">
            <div class="col col-1of2">
              <a href="#">download</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col -->
        </li>
        <!-- /.search-resultsult -->

        <li class="search-resultsult" *ngFor="let a of weekly">
          <div class="col col-medium">
            <div class="col col-1of2">
              <a href="#/" (click)="Play(a.title,a.audioUrl,a.sourceID,a.id)">
												<i class="ico-mic"></i>
											</a>
            </div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              {{a.date|date: 'MM/dd/yyyy'}}
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-medium -->

          <div class="col col-large">
            <p>{{a.title}}</p>
          </div>
          <!-- /.col col-large -->

          <div class="col col-small col-duration">
            {{a.length}} min
            <a href="#">EN</a>
          </div>
          <!-- /.col col-small -->

          <div class="col col-small">
            <div class="col col-1of2">
              <a href="#/" (click)="Read(a.title,a.text,a.audioUrl,a.sourceID,a.id)">read</a>
            </div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              <a href="#/" (click)="Print(a.title,a.text)">print</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-small -->

          <div class="col">
            <!--<a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
            <!-- /.btn btn-download -->

            <a href="{{a.audioUrl}}" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
										</a>
            <!-- /.btn btn-download -->
          </div>
          <!-- /.col -->
        </li>
      </ul>
      <!-- /.search-resultsults -->
       <div class="tile-box-actions">
        <div class="paging">
          <ul>
            <li data-type="back"><a href="#/" class="paging-prev-emula" (click)="PagingPrevWeekly()"><i class="ico-paging-prev"></i></a></li>
            <li *ngFor="let p of pagesWeekly"><a [ngClass]="{'current': p.current}" href="#/"  (click)="PageWeekly(p.id)">{{p.id}}</a></li>
            <li data-type="go"><a href="#/" class="paging-next-emula" (click)="PagingNextWeekly()"><i class="ico-paging-next"></i></a></li>
          </ul>
        </div>
        <!-- /.paging -->
      </div>
      <!-- /.table-actions -->
    </div>

    <div class="tile-box-tab" id="search-tile-tab-4" *ngIf="content==''">
      <ul class="search-resultsults">
        <li class="search-resultsult search-resultsult-title">
          <!--<div class="col col-small">
            <div class="col col-1of2"></div>-->
          <!-- /.col col-1of2 -->

          <!--<div class="col col-1of2">
              <a href="#" class="current" (click)="Sort(berura)">Data</a>
            </div> -->
          <!-- /.col col-1of2 -->
          <!--  </div> -->
          <!-- /.col col-medium -->

          <div class="col col-large">
            <a href="#">Title</a>
          </div>
          <!-- /.col col-large -->

          <!--<div class="col col-small">
            <a href="#">Duration</a>
          </div>-->
          <!-- /.col col-small -->

          <div class="col col-small"></div>
          <!-- /.col col-small -->

          <!--<div class="col">
            <div class="col col-1of2">
              <a href="#">download</a>
            </div>-->
          <!-- /.col col-1of2 -->
          <!--</div> -->
          <!-- /.col -->
        </li>
        <!-- /.search-resultsult -->

        <li class="search-resultsult" *ngFor="let a of berura">
          <!-- <div class="col col-small">
            <div class="col col-1of2">
              <a href="#/" (click)="Play(a.title,a.audioUrl)">
												<i class="ico-mic"></i>
											</a>
            </div>-->
          <!-- /.col col-1of2 -->

          <!--<div class="col col-1of2">
              {{a.date|date: 'MM/dd/yyyy'}}
            </div>-->
          <!-- /.col col-1of2 -->
          <!--</div>-->
          <!-- /.col col-medium -->

          <div class="col col-large" style="text-align: left;justify-content: left;">
            <p>{{a.title}}</p>
          </div>
          <!-- /.col col-large -->

          <!--<div class="col col-small col-duration">
            {{a.length}} min
            <a href="#">EN</a>
          </div>-->
          <!-- /.col col-small -->

          <div class="col col-small">
            <div class="col col-1of2">
              <a href="#/" (click)="Read(a.title,a.text,a.audioUrl,a.sourceID,a.id)">read</a>
            </div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              <a href="#/" (click)="Print(a.title,a.text)">print</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-small -->

          <!--<div class="col">
                  <a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
          <!-- /.btn btn-download -->

          <!--<a href="{{a.audioUrl}}" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
										</a>-->
          <!-- /.btn btn-download -->
          <!--</div> -->
          <!-- /.col -->
        </li>
      </ul>
      <!-- /.search-resultsults -->
       <div class="tile-box-actions">
        <div class="paging">
          <ul>
            <li data-type="back"><a href="#/" class="paging-prev-emula" (click)="PagingPrevMishna()"><i class="ico-paging-prev"></i></a></li>
            <li *ngFor="let p of pagesMishna"><a [ngClass]="{'current': p.current}" href="#/"  (click)="PageMishna(p.id)">{{p.id}}</a></li>
            <li data-type="go"><a href="#/" class="paging-next-emula" (click)="PagingNextMishna()"><i class="ico-paging-next"></i></a></li>
          </ul>
        </div>
        <!-- /.paging -->
      </div>
      <!-- /.table-actions -->
    </div>

    <div class="tile-box-tab" id="search-tile-tab-5" *ngIf="content==''">
      <ul class="search-resultsults">
        <li class="search-resultsult search-resultsult-title">
          <!--<div class="col col-small">
            <div class="col col-1of2"></div>-->
          <!-- /.col col-1of2 -->

          <!--<div class="col col-1of2">
              <a href="#" class="current" (click)="Sort(berura)">Data</a>
            </div> -->
          <!-- /.col col-1of2 -->
          <!--  </div> -->
          <!-- /.col col-medium -->

          <div class="col col-large">
            <a href="#">Title</a>
          </div>
          <!-- /.col col-large -->

          <!--<div class="col col-small">
            <a href="#">Duration</a>
          </div>-->
          <!-- /.col col-small -->

          <div class="col col-small"></div>
          <!-- /.col col-small -->

          <!--<div class="col">
            <div class="col col-1of2">
              <a href="#">download</a>
            </div>-->
          <!-- /.col col-1of2 -->
          <!--</div> -->
          <!-- /.col -->
        </li>
        <!-- /.search-resultsult -->

        <li class="search-resultsult" *ngFor="let a of emunah">
          <!-- <div class="col col-small">
            <div class="col col-1of2">
              <a href="#/" (click)="Play(a.title,a.audioUrl)">
												<i class="ico-mic"></i>
											</a>
            </div>-->
          <!-- /.col col-1of2 -->

          <!--<div class="col col-1of2">
              {{a.date|date: 'MM/dd/yyyy'}}
            </div>-->
          <!-- /.col col-1of2 -->
          <!--</div>-->
          <!-- /.col col-medium -->

          <div class="col col-large" style="text-align: left;justify-content: left;">
            <p>{{a.title}}</p>
          </div>
          <!-- /.col col-large -->

          <!--<div class="col col-small col-duration">
            {{a.length}} min
            <a href="#">EN</a>
          </div>-->
          <!-- /.col col-small -->

          <div class="col col-small">
            <div class="col col-1of2">
              <a href="#/" (click)="Read(a.title,a.text,a.audioUrl,a.sourceID,a.id)">read</a>
            </div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              <a href="#/" (click)="Print(a.title,a.text)">print</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-small -->

          <!--<div class="col">
                  <a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
          <!-- /.btn btn-download -->

          <!--<a href="{{a.audioUrl}}" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
										</a>-->
          <!-- /.btn btn-download -->
          <!--</div> -->
          <!-- /.col -->
        </li>
      </ul>
      <!-- /.search-resultsults -->
       <div class="tile-box-actions">
        <div class="paging">
          <ul>
            <li data-type="back"><a href="#/" class="paging-prev-emula" (click)="PagingPrevEmunah()"><i class="ico-paging-prev"></i></a></li>
            <li *ngFor="let p of pagesEmunah"><a [ngClass]="{'current': p.current}" href="#/"  (click)="PageEmunah(p.id)">{{p.id}}</a></li>
            <li data-type="go"><a href="#/" class="paging-next-emula" (click)="PagingNextEmunah()"><i class="ico-paging-next"></i></a></li>
          </ul>
        </div>
        <!-- /.paging -->
      </div>
      <!-- /.table-actions -->
    </div>

    <div class="tile-box-tab" id="search-tile-tab-6" *ngIf="content==''">
      <ul class="search-resultsults">
        <li class="search-resultsult search-resultsult-title">
          <!--<div class="col col-small">
            <div class="col col-1of2"></div>-->
          <!-- /.col col-1of2 -->

          <!--<div class="col col-1of2">
              <a href="#" class="current" (click)="Sort(berura)">Data</a>
            </div> -->
          <!-- /.col col-1of2 -->
          <!--  </div> -->
          <!-- /.col col-medium -->

          <div class="col col-large">
            <a href="#">Title</a>
          </div>
          <!-- /.col col-large -->

          <!--<div class="col col-small">
            <a href="#">Duration</a>
          </div>-->
          <!-- /.col col-small -->

          <div class="col col-small"></div>
          <!-- /.col col-small -->

          <!--<div class="col">
            <div class="col col-1of2">
              <a href="#">download</a>
            </div>-->
          <!-- /.col col-1of2 -->
          <!--</div> -->
          <!-- /.col -->
        </li>
        <!-- /.search-resultsult -->

        <li class="search-resultsult" *ngFor="let a of inspire">
          <!-- <div class="col col-small">
            <div class="col col-1of2">
              <a href="#/" (click)="Play(a.title,a.audioUrl)">
												<i class="ico-mic"></i>
											</a>
            </div>-->
          <!-- /.col col-1of2 -->

          <!--<div class="col col-1of2">
              {{a.date|date: 'MM/dd/yyyy'}}
            </div>-->
          <!-- /.col col-1of2 -->
          <!--</div>-->
          <!-- /.col col-medium -->

          <div class="col col-large" style="text-align: left;justify-content: left;">
            <p>{{a.title}}</p>
          </div>
          <!-- /.col col-large -->

          <!--<div class="col col-small col-duration">
            {{a.length}} min
            <a href="#">EN</a>
          </div>-->
          <!-- /.col col-small -->

          <div class="col col-small">
            <div class="col col-1of2">
              <a href="#/" (click)="Read(a.title,a.text,a.audioUrl,a.sourceID,a.id)">read</a>
            </div>
            <!-- /.col col-1of2 -->

            <div class="col col-1of2">
              <a href="#/" (click)="Print(a.title,a.text)">print</a>
            </div>
            <!-- /.col col-1of2 -->
          </div>
          <!-- /.col col-small -->

          <!--<div class="col">
                  <a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
          <!-- /.btn btn-download -->

          <!--<a href="{{a.audioUrl}}" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
										</a>-->
          <!-- /.btn btn-download -->
          <!--</div> -->
          <!-- /.col -->
        </li>
      </ul>
      <!-- /.search-resultsults -->
       <div class="tile-box-actions">
        <div class="paging">
          <ul>
            <li data-type="back"><a href="#/" class="paging-prev-emula" (click)="PagingPrevInspire()"><i class="ico-paging-prev"></i></a></li>
            <li *ngFor="let p of pagesInspire"><a [ngClass]="{'current': p.current}" href="#/"  (click)="PageInspire(p.id)">{{p.id}}</a></li>
            <li data-type="go"><a href="#/" class="paging-next-emula" (click)="PagingNextInspire()"><i class="ico-paging-next"></i></a></li>
          </ul>
        </div>
        <!-- /.paging -->
      </div>
      <!-- /.table-actions -->
    </div>

    <div class="tile-box-tab" id="search-tile-tab-4" *ngIf="content!=''" [ngClass]="{'current': content!=''}">
        <div  class="content" [innerHTML]="content" style="white-space: pre-wrap;">
      
       

        </div>
    </div>

  </div>
  <!-- /.tile-box-primary -->
</div>