<div class="popup register" id="popup-register">
	<div class="popup-head">
		<form action="?" method="get">
			<label for="field-search-content">Reading and Announcement</label>

			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>
		</form>
	</div><!-- /.popup-head -->

	<div class="popup-body" id="form-register">
		<div class="cols cols-3">
			<div class="col-1of3 col-center">
				<div class="form-sponsor sponsor-toggle">
					<form action="?" method="post">
						<div class="form__head">
							<h4>Select</h4>
						</div><!-- /.form__head -->

						<div class="form__body">
							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-tehillim" id="field-register-tehillim" (click)="CloseResults()">

											<label class="form__label" for="field-register-tehillim">Register a name for TEHILLIM</label>
										</div><!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-levaya" id="field-register-levaya" (click)="CloseResults()">

											<label class="form__label" for="field-register-levaya">Register a name for LEVAYA</label>
										</div><!-- /.checkbox -->
									</li>
								</ul><!-- /.list-checkboxes -->
							</div><!-- /.form-row -->
						</div><!-- /.form__body -->

						<div class="form__actions hidden">
							<input type="submit" value="Submit" class="form__btn">
						</div><!-- /.form__actions -->
					</form>
				</div><!-- /.form-sponsor sponsor-toggle -->
			</div><!-- /.col-1of3 -->

			<div class="col-1of3">
				<div class="form-sponsor form-database form--large hidden" id="form-register-tehillim">
					<form action="?" method="post">
						<div class="form__head">
							<h4>Tehillim Announcement </h4>

							<div class="form__head-inner">
								<p>First, we have to check if the person is already in our database <br> Enter the transliteration name of the person for whol to say Tehillim for:</p>
							</div><!-- /.form__head-inner -->
						</div><!-- /.form__head -->

						<div class="form-body">
							<div class="form-row">
								<label for="field-mothers-name" class="form-label">Transliteration Name of the deceased  :</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-mothers-name" id="field-mothers-name" value="" placeholder="First Name" [(ngModel)]="firstName">
								</div><!-- /.form-controls -->

								<p class="form-hint">Please type the transliteration of the Hebrew name</p><!-- /.form-hint -->
							</div><!-- /.form-row -->

							<div class="form-row">
								<div class="form__controls">
									<div class="form__col form__col-size-4">
										<div class="select">
											<select class="select" name="field-8" id="field-8">
												<option value="ben">Ben</option>
												<option value="bat">Bat</option>
											</select>
										</div><!-- /.select -->
									</div><!-- /.form__col form__col-size-4 -->

									<div class="form__col">
										<input type="text" class="field" name="field-mothers-name" id="field-mothers-name" value="" placeholder="Mother’s First Name" [(ngModel)]="mother">
									</div><!-- /.form__col -->

									<div class="form__col">
										<div class="select">
											<select class="select" name="field-community" id="field-community" [(ngModel)]="comunity">
												<option *ngFor="let c of comunities" [ngValue]="c">{{c.name}}</option>
											</select>
										</div><!-- /.select -->
									</div><!-- /.form__col -->
								</div><!-- /.form__controls -->
							</div><!-- /.form-row -->
						</div><!-- /.form-body -->

						<div class="form-actions">
							<input type="submit" value="Search Database" class="form-btn" (click)="searchDatabase('tehillim')">
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-database -->

				<div class="form-sponsor form-database hidden" id="form-register-levaya">
					<form action="?" method="post">
						<div class="form__head">
							<h4>Levaya Announcement </h4>

							<div class="form__head-inner">
								<p>
									When the time befalls on a family, we can help spread<br>the word about the person who passed away. <br>
									We ask that a family member fill out the information below and click submit.<br>
									One of our administrators from the selected community will respond within the hour to verify and prepare the email announcement for immediate broadcast.
								</p>
							</div><!-- /.form__head-inner -->
						</div><!-- /.form__head -->

						<div class="form-body">
							<div class="form-row">
								<label for="field-fname" class="form__label">Transliteration Name :</label>

								<div class="form__controls">
									<input type="text" class="field" name="field-fname" id="field-fname" value="" placeholder="First Name" [(ngModel)]="firstName">
								</div><!-- /.form__controls -->
							</div><!-- /.form-row -->

							<div class="form-row">
								<label for="field-lname" class="form__label hidden">lname</label>

								<div class="form__controls">
									<input type="text" class="field" name="field-lname" id="field-lname" value="" placeholder="Last Name" [(ngModel)]="lastName">
								</div><!-- /.form__controls -->

								<p class="form-hint">Please type the transliteration of the Hebrew name</p>
							</div><!-- /.form-row -->

							<div class="form-row">
								<div class="form-cols">
									<div class="form-col col-1of2">
										<label for="field-age" class="form__label hidden">age</label>

										<div class="form__controls">
											<div class="select">
												<select name="field-age" id="field-age">
													<option value="">Select age</option>
													<option *ngFor="let a of ages" >{{a}}</option>
												</select>
											</div><!-- /.select -->
										</div><!-- /.form__controls -->
									</div><!-- /.form-col -->

									<div class="form-col col-1of2">
										<label for="field-ben" class="form__label hidden">ben</label>

										<div class="form__controls">
											<div class="select">
												<select name="field-ben" id="field-ben">
													<option value="">Ben</option>
													<option value="">Bat</option>
												</select>
											</div><!-- /.select -->
										</div><!-- /.form__controls -->
									</div><!-- /.form-col -->
								</div><!-- /.form-cols -->
							</div><!-- /.form-row -->

							<div class="form-row">
								<label for="field-mother-fname" class="form__label hidden">Mother’s First Name</label>

								<div class="form__controls">
									<input type="text" class="field" name="field-mother-fname" id="field-mother-fname" value="" placeholder="Mother’s First Name" [(ngModel)]="mother">
								</div><!-- /.form__controls -->
							</div><!-- /.form-row -->

							<div class="form-row">
								<label for="field-company" class="form__label hidden">company</label>

								<div class="form__controls">
									<div class="select">
										<select name="field-company" id="field-company">
											<option value="">Company</option>
											<option value="">Company 1</option>
											<option value="">Company 2</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form__controls -->
							</div><!-- /.form-row -->
						</div><!-- /.form-body -->

						<div class="form-actions">
							<input type="submit" value="Search Database" class="form-btn" (click)="searchDatabase('levaya')">
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-database -->
			</div><!-- /.col-1of3 -->

			<div class="col-1of3 col-center">
				<div class="form-sponsor sponsor-toggle" *ngIf="existResults==1"> <!-- hidden data-related="#form-register-tehillim"-->
					<form action="?" method="post">
						<div class="form__body">
							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-tehillim-step-regular" id="field-regular-reading" class="link-close" (click)="OpenRegular()">

											<label class="form__label" for="field-regular-reading">Regular Reading</label>

											<p class="form-hint">
												Names can be submitted here for Tehillim reading for a variety of purposes. After completing the registration form, an administrator will review and post your submission. Submissions may be modified at any time. The names will appear on our Home Page, and will be included in our emails. <br>
												<strong>Examples: To recover from illness, To become pregnant, For easy labor, etc. </strong>
											</p><!-- /.form-hint -->
										</div><!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-tehillim-step-emergency" id="field-emergency" class="link-close" (click)="OpenEmergency()">

											<label class="form__label form__label-red" for="field-emergency">EMERGENCY</label>

											<p class="form-hint">Emergency Emails/Texts are sent immediately upon administrator approval (usually within 1 hour) for Immediate Prayers Needed for Healing Of The Sick. The Administrator will determine based on strict given parameters if the email may be sent. Please note that we will strive to keep the Emergency emails/Texts to a minimum. Emergency Email will show Perek 20 of Tehillim, and will show a short Beracha that shall include the name of the person.</p><!-- /.form-hint -->
										</div><!-- /.checkbox -->
									</li>
								</ul><!-- /.list-checkboxes -->
							</div><!-- /.form-row -->
						</div><!-- /.form__body -->

						<div class="form__actions hidden">
							<input type="submit" value="Next Step" class="form__btn">
						</div><!-- /.form__actions -->
					</form>
				</div><!-- /.form-sponsor sponsor-toggle -->

				<div class="form-sponsor sponsor-toggle" *ngIf="existResults==2"> <!-- hidden data-related="#form-register-levaya"-->
					<form action="?" method="post">
						<div class="form__body">
							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-tehillim-step-next" id="field-next-step">

											<label class="form__label" for="field-next-step">Next Step</label>
										</div><!-- /.checkbox -->
									</li>
								</ul><!-- /.list-checkboxes -->
							</div><!-- /.form-row -->
						</div><!-- /.form__body -->

						<div class="form__actions hidden">
							<input type="submit" value="Next Step" class="form__btn">
						</div><!-- /.form__actions -->
					</form>
				</div><!-- /.form-sponsor sponsor-toggle -->

				<div class="form-sponsor sponsor-toggle" *ngIf="existResults==3"> <!-- hidden data-related="#form-register-tehillim-step-next"-->
					<form action="?" method="post">
						<div class="form__head">
							<div class="form__head-inner">
								<div class="table table-info">
									<table>
										<tr>
											<th>Transliteration Name</th>

											<th>Hebrew Name	</th>

											<th>Category</th>
										</tr>

										<tr *ngFor="let r of results">
											<td>{{r.TransliterationName}}</td>

											<td>{{r.HebrewName}}</td>

											<td>{{r.CategoryName}}</td>
										</tr>
									</table>
								</div><!-- /.table -->
							</div><!-- /.form__head-inner -->
						</div><!-- /.form__head -->

						<div class="form__body">
							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<p class="form-hint">Click continue to proceed with a new name submission</p><!-- /.form-hint -->

											<input type="checkbox" name="form-register-levaya-step" id="field-regular-reading-levaya" class="link-close" (click)="NavigateNewRegistration()">

											<label class="form__label" for="field-regular-reading-levaya">Continue with New Registration</label>
										</div><!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<p class="form-hint">Click cancel if the name of your submission is shown above</p><!-- /.form-hint -->

											<input type="checkbox" name="form-emergency" id="field-emergency" (click)="Close()">

											<label class="form__label form__label-red" for="field-emergency">Cancel Registration</label>
										</div><!-- /.checkbox -->
									</li>
								</ul><!-- /.list-checkboxes -->
							</div><!-- /.form-row -->
						</div><!-- /.form__body -->

						<div class="form__actions hidden">
							<input type="submit" value="Next Step" class="form__btn">
						</div><!-- /.form__actions -->
					</form>
				</div><!-- /.form-sponsor sponsor-toggle -->
			</div><!-- /.col-1of3 -->
		</div><!-- /.cols -->
	</div><!-- /.popup-body -->
</div>
