<div class="popup register" id="popup-register">
	<div class="popup-head">
		<form action="?" method="get">
			<label for="field-search-content">Reading and Announcement</label>

			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>
		</form>
	</div>
	<!-- /.popup-head -->

	<div class="popup-body" id="form-register" [hidden]="perekPassuk!=''">
		<div class="cols cols-3">
			<div class="col-1of3 col-center">
				<div class="form-sponsor sponsor-toggle">
					<form action="?" method="post">
						<div class="form__head">
							<h4>Select</h4>
						</div>
						<!-- /.form__head -->

						<div class="form__body">
							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-tehillim" id="field-register-tehillim" (click)="CloseResults('tehillim')">

											<label class="form__label" for="field-register-tehillim">Register a name for TEHILLIM</label>
										</div>
										<!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-levaya" id="field-register-levaya" (click)="CloseResults('levaya')">

											<label class="form__label" for="field-register-levaya">Register a name for LEVAYA</label>
										</div>
										<!-- /.checkbox -->
									</li>
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-119" id="field-register-119" (click)="CloseResults('cientoNueve')">

											<label class="form__label" for="field-register-119">Chapter 119 Pasuk</label>
										</div>
										<!-- /.checkbox -->
									</li>
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-perek" id="field-register-perek" (click)="CloseResults('perek')">

											<label class="form__label" for="field-register-perek">Choose Tehillim By Perek</label>
										</div>
										<!-- /.checkbox -->
									</li>
								</ul>
								<!-- /.list-checkboxes -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form__body -->

						<div class="form__actions hidden">
							<input type="submit" value="Submit" class="form__btn">
						</div>
						<!-- /.form__actions -->
					</form>
				</div>
				<!-- /.form-sponsor sponsor-toggle -->
			</div>
			<!-- /.col-1of3 -->

			<div class="col-1of3">
				<div class="form-sponsor form-database form--large hidden" id="form-register-tehillim">
					<form [formGroup]="form" (ngSubmit)="searchDatabase('tehillim')">
						<div class="form__head">
							<h4>Tehillim Announcement </h4>

							<div class="form__head-inner">
								<p>First, we have to check if the person is already in our database <br> Enter the transliteration name of the person
									for whom to say Tehillim:</p>
							</div>
							<!-- /.form__head-inner -->
						</div>
						<!-- /.form__head -->

						<div class="form-body">
							<div class="form-row">
								<label for="field-mothers-name" class="form-label">Transliteration Name:</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-mothers-name" id="field-mothers-name" value="" placeholder="First Name" formControlName="firstName">
									<div class="animated bounceIn" style="color:red;" *ngIf="form.get('firstName').hasError('required') && form.get('firstName').touched">
          									First Name is required
        							</div>
								</div>
								<!-- /.form-controls -->

								<!--<p class="form-hint">Please type the transliteration of the Hebrew name</p>-->
								<!-- /.form-hint -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form__controls">
									<div class="form__col form__col-size-4">
										<div class="select">
											<select class="select" name="field-8" id="field-8" formControlName="ben">
												<option value="ben">Ben</option>
												<option value="bat">Bat</option>
											</select>
										</div>
										<!-- /.select -->
									</div>
									<!-- /.form__col form__col-size-4 -->

									<div class="form__col">
										<input type="text" class="field" name="field-mothers-name" id="field-mothers-name" value="" placeholder="Mother’s First Name"
										 formControlName="mother">
										
										<div class="animated bounceIn" style="color:red;" *ngIf="form.get('mother').hasError('required') && form.get('mother').touched">
          									Mother name is required
        								</div>
									</div>
									<!-- /.form__col -->

									<div class="form__col">
										<div class="select">
											<select class="select" name="field-country" id="field-country" formControlName="country">
												<option *ngFor="let c of countries" [ngValue]="c.id">{{c.name}}</option>
											</select>
										</div>
										<!-- /.select -->
									</div>

									<div class="form__col">
										<div class="select">
											<select class="select" name="field-community" id="field-community" formControlName="community">
												<option *ngFor="let c of communities" [ngValue]="c.id">{{c.name}}</option>
											</select>
										</div>
										<!-- /.select -->
									</div>
									<!-- /.form__col -->
								</div>
								<!-- /.form__controls -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form-body -->

						<div class="form-actions">
							<input type="submit" value="Search Database" class="form-btn" [disabled]="Validate()" [class.mydisabled]="Validate()">
						</div>
						<!-- /.form-actions -->
					</form>
				</div>
				<!-- /.form-database -->

				<div class="form-sponsor form-database hidden" id="form-register-levaya">
					<form [formGroup]="formLevaya" (ngSubmit)="searchDatabase('levaya')">
						<div class="form__head">
							<h4>Levaya Announcement </h4>

							<div class="form__head-inner">
								<p>
									When the time befalls on a family, we can help spread<br>the word about the person who passed away. <br> We ask
									that a family member fill out the information below and click submit.<br> One of our administrators from the selected
									community will respond within the hour to verify and prepare the email announcement for immediate broadcast.
								</p>
							</div>
							<!-- /.form__head-inner -->
						</div>
						<!-- /.form__head -->

						<div class="form-body">
							<div class="form-row">
								<label for="field-fname" class="form__label">Transliteration Name :</label>

								<div class="form__controls">
									<input type="text" class="field" name="field-fname" id="field-fname" value="" placeholder="Transliteration First Name" formControlName="transFirstName">
									<div class="animated bounceIn" style="color:red;" *ngIf="formLevaya.get('transFirstName').hasError('required') && formLevaya.get('transFirstName').touched">
          									Transliteration FirstName is required
        							</div>
								</div>
								<!-- /.form__controls -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form-cols">
									<div class="form-col col-1of2">
										<label for="field-ben" class="form__label hidden">ben</label>

										<div class="form__controls">
											<div class="select">
												<select name="field-ben" id="field-ben" formControlName="ben">
													<option value="ben">Ben</option>
													<option value="bat">Bat</option>
												</select>
											</div>
											<!-- /.select -->
										</div>
										<!-- /.form__controls -->
									</div>
									<!-- /.form-col -->
								</div>
								<!-- /.form-cols -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-lname" class="form__label hidden">lname</label>

								<div class="form__controls">
									<input type="text" class="field" name="field-lname" id="field-lname" value="" placeholder="Transliteration Mother Name" formControlName="transMotherName">
									<div class="animated bounceIn" style="color:red;" *ngIf="formLevaya.get('transMotherName').hasError('required') && formLevaya.get('transMotherName').touched">
          									Transliteration Mother Name is required
        							</div>
								</div>
								<!-- /.form__controls -->

							<!--	<p class="form-hint">Please type the transliteration of the Hebrew name</p>-->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form-cols">
									<div class="form-col col-1of2">
										<label for="field-age" class="form__label hidden">age</label>

										<div class="form__controls">
											<div class="select">
												<select name="field-age" id="field-age" formControlName="Age">
													<option value="0">Select age</option>
													<option *ngFor="let a of ages" >{{a}}</option>
												</select>
											</div>
											<!-- /.select -->
										</div>
										<!-- /.form__controls -->
									</div>
									<!-- /.form-col -->
								</div>
								<!-- /.form-cols -->
							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-lname" class="form__label hidden">English First Name</label>

								<div class="form__controls">
									<input type="text" class="field" name="field-lname" id="field-lname" value="" placeholder="English First Name" formControlName="EnglishFirstName">
									<div class="animated bounceIn" style="color:red;" *ngIf="formLevaya.get('EnglishFirstName').hasError('required') && formLevaya.get('EnglishFirstName').touched">
          									English First Name is required
        							</div>
								</div>
								<!-- /.form__controls -->

							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<label for="field-lname" class="form__label hidden">English Last Name</label>

								<div class="form__controls">
									<input type="text" class="field" name="field-lname" id="field-lname" value="" placeholder="English Last Name" formControlName="EnglishLastName">
									<div class="animated bounceIn" style="color:red;" *ngIf="formLevaya.get('EnglishLastName').hasError('required') && formLevaya.get('EnglishLastName').touched">
          									English Last Name is required
        							</div>
								</div>
								<!-- /.form__controls -->

							</div>
							<!-- /.form-row -->


						</div>
						<!-- /.form-body -->

						<div class="form-actions">
							<input type="submit" value="Search Database" class="form-btn" [disabled]="ValidateLevaya()" [class.mydisabled]="ValidateLevaya()">
						</div>
						<!-- /.form-actions -->
					</form>
				</div>
				<!-- /.form-database -->

				<div class="form-sponsor form-database form--large hidden" id="form-register-perek">
					<form action="?" method="post">
						<div class="form__head">
							<h4>Choose Tehellim by Perek </h4>

						</div>
						<!-- /.form__head -->

						<div class="form-body">
							<div class="form-row">
								<label for="field-mothers-name" class="form-label">Choose Tehellim By Main Category :</label>

								<div class="form-row">
									<div class="form__controls">
										<div class="form__col form__col-size-4">
											<div class="select">
												<select class="select" id="categoryPerek" name="categoryPerek" [(ngModel)]="categoryPerek" (change)="ChangeCategoryPerek()">
													<option *ngFor="let s of categoriesPerek" [ngValue]="s">{{s.name}}</option>
												</select>
											</div>
											<!-- /.select -->
										</div>
										<!-- /.form__col form__col-size-4 -->
									</div>
									<!-- /.form__controls -->
								</div>
								<!-- /.form-row -->


								<div class="form-row">
									<label for="field-specific-need" class="form-label">Search By Specific Need:</label>
									<div class="form-controls">
										<input [(ngModel)]="perekSearch" auto-complete [source]="needsToShow" (ngModelChange)="Go($event)" type="text" class="field"
										 name="field-specific-need" id="field-specific-need" value="" placeholder="" style="width:100%">

										<!--<input type="button" value="go" class="form-btn btn_small_yellow" style="width:20%;margin-top: 0.5em;" (click)="Go()">-->


									</div>
									<!-- /.form-controls -->
								</div>


							</div>
							<!-- /.form-row -->


						</div>
						<!-- /.form-body -->
						<div class="form-actions" style="padding-top: 0">
							<input type="submit" value="Show entire list" class="form-btn" (click)="ShowList()">
						</div>
						<!-- /.form-actions -->

						<div class="form-row" style="    margin-top: 1rem;padding-bottom: 1rem;">
							<div class="text-wrap-left">
								<p>Choose tehillim By Perek</p>
								<p>Number Between 1-150</p>
							</div>
							<div class="text-wrap-right">
								<input type="submit" value="+" class="form-btn btn_small_yellow btn_small_yellow_circle" style="width:21%" (click)="Increment()">
								<input [(ngModel)]="perek" type="text" class="field" name="perek-number" id="field-specific-need" value="" placeholder=""
								 style="width:52%">
								<input type="submit" value="-" class="form-btn btn_small_yellow btn_small_yellow_circle" style="width:21%" (click)="Decrement()">
							</div>

						</div>

						<div class="form-row">
							<input (click)="SelectPerek()" type="button" value="Select" class="form-btn btn_small_yellow " style="width:41%;float: right;">
						</div>


					</form>
				</div>

				<div class="form-sponsor form-database form--large hidden" id="form-register-119" style="margin-right: 0;margin-left: 0;max-width: 100%;">
					<form action="?" method="post" style="margin: 0 auto;max-width: 340px;">
						<div class="form__head">
							<h4>Chapter 119 Pasuk</h4>

							<!--<div class="form__head-inner">
								<p>First, we have to check if the person is already in our database <br> Enter the transliteration name of the person
									for whol to say Tehillim for:
								</p>
							</div>-->
							<!-- /.form__head-inner -->
						</div>
						<!-- /.form__head -->

						<div class="form-body">
							<div class="form-row">

								<label for="field-mothers-name" class="form-label" style="text-align: center;">Please Provide de Hebrew Names</label>
								<label for="field-mothers-name" class="form-label" style="text-align: center;margin-bottom: 0.7em;">(Must be in Hebrew only,to properly utilize this tool)</label>

								<div class="form-controls">
									<input type="text" class="field" name="field-first-Pasuk-name" id="field-first-Pasuk-name" value="" placeholder="First Name"
									 [(ngModel)]="firstNamePasuk" (focus)="SetKeyboard('field-first-Pasuk-name')">
								</div>
								<!-- /.form-controls -->



							</div>
							<!-- /.form-row -->

							<div class="form-row">
								<div class="form__controls">
									<div class="form__col form__col-size-4">
										<div class="select">
											<select class="select" name="field-8" id="field-8" [(ngModel)]="benPasuk">
												<option value="ben">Ben</option>
												<option value="bat">Bat</option>
											</select>
										</div>
										<!-- /.select -->
									</div>
									<!-- /.form__col form__col-size-4 -->

									<div class="form__col">
										<input type="text" class="field" name="field-mothers-Pasuk-name" id="field-mothers-Pasuk-name" value="" placeholder="Mother’s First Name"
										 [(ngModel)]="motherPasuk" (focus)="SetKeyboard('field-mothers-Pasuk-name')">
									</div>
									<!-- /.form__col -->


								</div>
								<!-- /.form__controls -->


								<!--<div class="form__controls">
									<div class="form__col">
										<div class="VirtualKeyboardHolder" id="VirtualKeyboardHolderPasuk"></div>
									</div>
								</div>-->

							</div>
							<!-- /.form-row -->

						</div>
						<!-- /.form-body -->

						<!--<div class="form-actions">
							<input type="submit" value="Search Database" class="form-btn" (click)="searchDatabase('tehillim')">
						</div> -->
						<!-- /.form-actions -->
					</form>


					<div class="VirtualKeyboardHolder" id="VirtualKeyboardHolderPasuk"></div>


				</div>

			</div>
			<!-- /.col-1of3 -->

			<div class="col-1of3 col-center">
				<div class="form-sponsor sponsor-toggle" *ngIf="existResults==1">
					<!-- hidden data-related="#form-register-tehillim"-->
					<form action="?" method="post">
						<div class="form__body">
							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-tehillim-step-regular" id="field-regular-reading" class="link-close" (click)="OpenRegular()">

											<label class="form__label" for="field-regular-reading">Regular Reading</label>

											<p class="form-hint">
												Names can be submitted here for Tehillim reading for a variety of purposes. After completing the registration form, an administrator
												will review and post your submission. Submissions may be modified at any time. The names will appear on our Home
												Page, and will be included in our emails. <br>
												<strong>Examples: To recover from illness, To become pregnant, For easy labor, etc. </strong>
											</p>
											<!-- /.form-hint -->
										</div>
										<!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-tehillim-step-emergency" id="field-emergency" class="link-close" (click)="OpenEmergency()">

											<label class="form__label form__label-red" for="field-emergency">EMERGENCY</label>

											<p class="form-hint">Emergency Emails/Texts are sent immediately upon administrator approval (usually within 1 hour) for Immediate
												Prayers Needed for Healing Of The Sick. The Administrator will determine based on strict given parameters if
												the email may be sent. Please note that we will strive to keep the Emergency emails/Texts to a minimum. Emergency
												Email will show Perek 20 of Tehillim, and will show a short Beracha that shall include the name of the person.</p>
											<!-- /.form-hint -->
										</div>
										<!-- /.checkbox -->
									</li>
								</ul>
								<!-- /.list-checkboxes -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form__body -->

						<div class="form__actions hidden">
							<input type="submit" value="Next Step" class="form__btn">
						</div>
						<!-- /.form__actions -->
					</form>
				</div>
				<!-- /.form-sponsor sponsor-toggle -->

				<div class="form-sponsor sponsor-toggle" *ngIf="existResults==2">
					<!-- hidden data-related="#form-register-levaya"-->
					<form action="?" method="post">
						<div class="form__body">
							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<input type="checkbox" name="form-register-tehillim-step-next" id="field-next-step" (click)="OpenLevaya()">

											<label class="form__label" for="field-next-step">Next Step</label>
										</div>
										<!-- /.checkbox -->
									</li>
								</ul>
								<!-- /.list-checkboxes -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form__body -->

						<div class="form__actions hidden">
							<input type="submit" value="Next Step" class="form__btn">
						</div>
						<!-- /.form__actions -->
					</form>
				</div>
				<!-- /.form-sponsor sponsor-toggle -->

				<div class="form-sponsor sponsor-toggle" *ngIf="existResults==3">
					<!-- hidden data-related="#form-register-tehillim-step-next"-->
					<form action="?" method="post">
						<div class="form__head">
							<div class="form__head-inner">
								<div class="table table-info">
									<table>
										<tr>
											<th>Transliteration Name</th>

											<th>Hebrew Name </th>

											<th>Category</th>
										</tr>

										<tr *ngFor="let r of results">
											<td>{{r.TransliterationName}}</td>

											<td>{{r.HebrewName}}</td>

											<td>{{r.CategoryName}}</td>
										</tr>
									</table>
								</div>
								<!-- /.table -->
							</div>
							<!-- /.form__head-inner -->
						</div>
						<!-- /.form__head -->

						<div class="form__body">
							<div class="form-row">
								<ul class="list-checkboxes list-checkboxes-blocks">
									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<p class="form-hint">Click continue to proceed with a new name submission</p>
											<!-- /.form-hint -->

											<input type="checkbox" name="form-register-levaya-step" id="field-regular-reading-levaya" class="link-close" (click)="NavigateNewRegistration()">

											<label class="form__label" for="field-regular-reading-levaya">Continue with New Registration</label>
										</div>
										<!-- /.checkbox -->
									</li>

									<li>
										<div class="checkbox checkbox-secondary checkbox-block">
											<p class="form-hint">Click cancel if the name of your submission is shown above</p>
											<!-- /.form-hint -->

											<input type="checkbox" name="form-emergency" id="field-emergency" (click)="Close()">

											<label class="form__label form__label-red" for="field-emergency">Cancel Registration</label>
										</div>
										<!-- /.checkbox -->
									</li>
								</ul>
								<!-- /.list-checkboxes -->
							</div>
							<!-- /.form-row -->
						</div>
						<!-- /.form__body -->

						<div class="form__actions hidden">
							<input type="submit" value="Next Step" class="form__btn">
						</div>
						<!-- /.form__actions -->
					</form>
				</div>
				<!-- /.form-sponsor sponsor-toggle -->


				<!-- START By Perek Number -->
				<div class="form-sponsor sponsor-toggle" *ngIf="existResults==21">
					<form action="?" method="post">
						<div class="form__body">
							<div class="form-row">
								<p style="text-align:center;padding-right: 16px; line-height: 32px;">
									You have selected</p>
								<p style="text-align:center;padding-right: 16px; line-height: 32px;"><strong>Perek # {{perek}}</strong></p>
							</div>
							<div class="form-row" style="text-align: center;">
								<input type="submit" value="Select" class="form-btn btn_small_yellow " style="width:40%;" (click)="NavigatePerek()">
							</div>
						</div>
					</form>
				</div>
				<!-- END -->
				<!-- START By Category -->
				<div class="form-sponsor sponsor-toggle" *ngIf="existResults==22">
					<form action="?" method="post">
						<div class="form__body">
							<div class="form-row">
								<p style="text-align:center;padding-right: 16px; line-height: 32px;"> {{kindSearch}}</p>
								<p style="text-align:center;padding-right: 16px; line-height: 32px;"><strong>{{searchValue}}</strong></p>
							</div>
							<div class="form-row" style="text-align: center;">
								<div class="col-1of33" *ngFor="let p of pereksGroup"><input type="submit" value="Perek {{p.id}}" class="form-btn btn_small_yellow " style="width:100%;" (click)="setPerek(p.id)"></div>
							</div>
						</div>
					</form>
				</div>
				<!-- END -->

				<!-- START Entire List -->
				<div class="form-sponsor sponsor-toggle entire-list" *ngIf="existResults==23">
					<form action="?" method="post">
						<div class="form__body form_body_no_margin">
							<div class="form-row">
								<p style="text-align:center;padding-right: 16px; line-height: 32px;"> <strong>Entire List</strong></p>
								<span class="list_paragr" *ngFor="let e of entireList">
									<p style="text-align:left;padding-right: 16px;margin-bottom: 0.3em;"> <strong>{{e.title}}</strong></p>
									<p style="text-align:left;padding-right: 16px;margin-bottom: 0.1em;" *ngFor="let n of e.needs">{{n.need}} - Perek 
										<b style="cursor: pointer" *ngFor="let p of n.perek" (click)="setPerek(p)"> {{p}} &nbsp; </b>
									</p>
								</span>

							</div>
						</div>
					</form>
				</div>
				<!-- END -->

				<div class="form-sponsor sponsor-toggle tool-wrap" *ngIf="existResults==119">
					<form action="?" method="post">
						<div class="form__body" style="height:100%">
							<div class="form-row" style="min-height: 200px;">
								<ul>
									<li>
										<input type="radio" id="f-option" name="selector" [value]="1" [(ngModel)]="option">
										<label for="f-option">System adds the word at the end when generating reading for the sick.(Recomended) </label>

										<div class="check"></div>
									</li>

									<li>
										<input type="radio" id="s-option" name="selector" [value]="2" [(ngModel)]="option">
										<label for="s-option">System adds the word at the end when generating reading for the deceased.(Recomended) </label>

										<div class="check">
											<div class="inside"></div>
										</div>
									</li>

									<li>
										<input type="radio" id="t-option" name="selector" [value]="3" [(ngModel)]="option">
										<label for="t-option">Generating reading without additional special words.(Recomended)</label>
										<div class="check">
											<div class="inside"></div>
										</div>
									</li>
								</ul>
							</div>
							<div class="form-row" style="text-align: center;">

								<input (click)="Generate()" class="form-btn btn_small_yellow " type="button" value="Generate" style="padding: .5rem 2rem;">

							</div>
						</div>

					</form>
					<span style=" position: absolute; bottom: 0; color:blue;">Click here for explanation about how to read Chapter 119<a href=""> <i class="fa fa-info-circle" aria-hidden="true"></i>  </a></span>
				</div>

			</div>
			<!-- /.col-1of3 -->
		</div>
		<!-- /.cols -->
	</div>
	<!-- /.popup-body -->

	<div class="popup-body" id="form-perek" [hidden]="perekPassuk!='perek'">
		<div class="cols cols-3" style="min-height: 350px;">
			<div class="form-row" style="padding:.5rem 1rem;width: 100%;">

				<button class="search-btn btn_small_yellow" id="buttonBackSearch" type="button" (click)="Back()">
						 <i  class="fa fa-long-arrow-left" style="font-size: 2rem;padding-right: .5rem;padding-left: .5rem;"></i> 
			</button>
			</div>


			<!-- body -->
			<!-- LEFT SIDE	 -->
			<div class="form-sponsor sponsor-toggle body_left">
				<form action="?" method="post">
					<div class="form__body">

						<div class="form-row" style="text-align: center;">
							<span class="span_text">Play</span>
							<span> <a href="#/"><i  class="ico-play-yellow" id="weekly-play" (click)="Play()"></i></a></span>
						</div>
						<div class="form-row" style="text-align: center;">
							<span class="span_text">Download</span>
							<span> <a href="{{downloadUrl}}" class="icon-yellow-download" download><i  class="ico-download"></i></a></span>

						</div>
						<div class="form-row" style="text-align: center;">
							<span class="span_text">Print</span>
							<span> <a href="#/" (click)="Print()"><i  class="ico-print-yellow" id="weekly-print"></i></a></span>
						</div>
						<div class="form-row" style="    margin-top: 1rem;padding-bottom: 1rem;">
							<div class="text-wrap-left" style="width:100%;padding-bottom: 1rem;">
								<p style="text-align: center;">Choose tehillim By Perek</p>
								<p style="text-align: center;">Number Between 1-150</p>
							</div>
							<div class="text-wrap-right" style="width:100%;text-align: center;">
								<input type="submit" value="+" class="form-btn btn_small_yellow btn_small_yellow_circle" style="width:10%" (click)="IncrementSpecial()">
								<input type="text" class="field" name="perek-number" id="field-specific-need" value="{{perek}}" placeholder="" style="width:36%">
								<input type="submit" value="-" class="form-btn btn_small_yellow btn_small_yellow_circle" style="width:10%" (click)="DecrementSpecial()">
							</div>

						</div>
					</div>
				</form>
			</div>


			<!-- RIGHT SIDE -->

			<div class="body_right">
				<div class="head-btn-wrap">
					<a class="btn btn-yellow  sponsor-btn-grey active" href="#/" style="margin: 0;" (click)="setTabPerek('hebrew')">Hebrew Text</a>
					<!--<a class="btn btn-yellow  sponsor-btn-grey" href="#/" style="margin: 0;" (click)="setTabPerek('english')">English Text</a>
					<a class="btn btn-yellow  sponsor-btn-grey" href="#/" style="margin: 0;" (click)="setTabPerek('transliteration')">Transliteration</a>-->
					<a class="btn btn-yellow  sponsor-btn-grey" href="#/" style="margin: 0;" (click)="setTabPerek('both')">Hebrew/English/Transliteration</a>
					<a class="btn btn-yellow  sponsor-btn-grey" href="#/" style="margin: 0;" (click)="setTabPerek('summary')">Perek Summary</a>
				</div>
				<div class="body-wrap">
					<div class="body-wrap-header">
						<strong>Perek {{perekNumberSelected}}</strong> Categories: {{perekTitleSelected}}
					</div>
				</div>
				<div class="body-content-wrap" *ngIf="summary==''" id="printPerek">
					<img src="{{i}}" *ngFor="let i of images">
				</div>
				<div class="body-content-wrap" [innerHTML]="summary" *ngIf="summary!=''" id="printPerek">

				</div>

			</div>


		</div>
		<!-- /.cols -->
	</div>

	<div class="popup-body" id="form-pasuk" [hidden]="perekPassuk!='pasuk'">
		<div class="cols cols-3" style="min-height: 350px;">
			<div class="form-row" style="padding:.5rem 1rem;width: 100%;">

				<button class="search-btn btn_small_yellow" id="buttonBackSearch" type="button" (click)="Back()">
						 <i  class="fa fa-long-arrow-left" style="font-size: 2rem;padding-right: .5rem;padding-left: .5rem;"></i> 
			</button>
			</div>


			<!-- body -->
			<!-- LEFT SIDE	 -->
			<div class="form-sponsor sponsor-toggle body_left">
				<form action="?" method="post">
					<div class="form__body">


						<div class="form-row" style="text-align: center;">
							<span class="span_text" style="padding-left:3%">Add To My Tehillim List</span>
							<span><input  class="form-btn btn_small_yellow btn_small_yellow_circle" style="width:22%" type="submit" value="+"></span>

						</div>
						<div class="form-row" style="text-align: center;">
							<span class="span_text" style="padding-left:3%">Print</span>
							<span> <a href="#/" ><i  class="ico-print-yellow" id="weekly-print" (click)="PrintPasuk()"></i></a></span>
						</div>

					</div>
				</form>
			</div>


			<!-- RIGHT SIDE -->

			<div class="body_right">

				<div class="body-wrap">
					<div class="body-wrap-header">
						<strong>Chapter 119 Configured For:</strong> {{generate?.configuredFor}}
					</div>
				</div>
				<div class="body-content-wrap" style="min-height: 400px;" id="printPasuk">
					<img src="{{i}}" *ngFor="let i of generate?.textList">
				</div>

			</div>


		</div>
		<!-- /.cols -->
	</div>

</div>