<div class="tile-box" id="item-content-5">
	<div class="tile-box-primary tile-box-results tile-box-results-2">
		<div class="tile-box-head">
			<h4 style="color: #4792d9;">PeleYoetz.com</h4>
			
			<div class="search-tertiary">
				<form  action="">
					<label for="q">Search: </label>
					<a href="" download id="download" hidden></a>
					
					<!--<div class="select">
						<select name="field-search-content" id="field-search-content">
							<option value="">All</option>
						</select>--><!-- /.form-row -->
					<!--</div> --><!-- /.select -->
					
					<input type="search" name="q" id="q" value="" placeholder="Enter Search word ..." class="search-field"  [(ngModel)]="query_main" (keyup)="keyDownPeleFunction($event)">
					
					<button data-type="search-shirium" type="button" class="search-btn" (click)="Search()">
						<i class="ico-magnify"></i>
					</button>
				</form>
			</div><!-- /.search-tertiary -->
			
			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>					
		</div><!-- /.table-head -->
		
		<div class="tile-box-body">
			<div class="lists">
				<div class="lists-head">
					<div class="lists-head-inner">
						<p>{{amount}} Subjects</p>
					</div><!-- /.lists-head-inner -->
				</div><!-- /.lists-head -->
				
				<div class="lists-body">
					<ul class="subjects">


						<li class="subject" *ngFor="let p of peles" id="{{p.id}}">
							<div class="subject-inner">
								<div class="subject-play">
									<a href="#" class="play-secondary" data-title="{{p?.title|peleTitle}}" attr.data-url="{{p?.audioUrl}}" (click)="Play(p.title,p.audioUrl,p.id)">
										<i class="ico-play-2"></i>
									</a>
								</div><!-- /.subject-play -->
								
								<div class="subject-head">
									<p>{{p.title.split(" ")[0]}}</p>
									
									<h5>{{p.title|peleTitle}}</h5>
								</div><!-- /.subject-head -->
							</div><!-- /.subject-inner -->
							
							<div class="subject-inner">
								<div class="subject-body">
									<p><span></span>  {{p.audioLength}}</p>
									
									<p><strong>{{p.hebrewTitle}}</strong></p>
								</div><!-- /.subject-body -->
								
								<div class="subject-actions">
									<a href="#/" class="link-more" attr.data-value="{{p.id}}" (click)="More(p.id)">More</a>
								</div><!-- /.subject-actions -->
							</div><!-- /.subject-inner -->
						</li><!-- /.subject -->
						
						
					</ul><!-- /.subjects -->
				</div><!-- /.lists-body -->
			</div><!-- /.lists -->
		</div><!-- /.table-body -->
	</div><!-- /.tile-box-primary -->
</div>