#item-content-9 .donate-body form{
   padding-bottom: 0.5em;
   border-bottom: 1px solid #dadada;
}

#item-content-9 .donate-body{
  padding: 1em;
}

ul{
margin-top: 1em
}
      
.tracks-secondary .track {
    width: 25%;
    
}

.row{
    height: 90%;
    width: 95%;
}

@media(max-width:768px) {
 
  .tracks-secondary .track {
       width: 100%;
  }

  .tracks .track {
    border-top: none;
   /* padding: 2px 4px 2px 2px;*/
  }

  .row{
    height: 90%;
    margin-bottom: 1em;
    width: 100%;
  }
}

/*remove the borders*/
.tracks .track{
  border-top:none;
  padding: 0 4px 0 2px;
}

.tracks .track:before{
  background:none
}

/* trying to fix the search button header, temp fix */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  h4 > b{
    font-size: 19px;
    margin-left: 158px;
    margin-right: 26px;
  }

  h4 > span{
    padding-left: 4px;
    font-size: 16px;
  }
  
  .tile-box-primary .link-close{
    margin-bottom: 116px;
    margin-right:6px;

  }
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {

    .tile-box-primary .link-close{
        margin-bottom: 116px;
        margin-right:6px;
    }
}
