.lists .lists-head {
    padding: 0.5em 48px 10px 0.5em;
}

.tile-box-speakers { min-height: 426px;  }

.tile-box-speakers .tile-box-body {

    height: 460px;
}

.tracks .track {
    cursor: pointer;
    height: 63px;
}

[hidden], .hidden {
    display: none !important;
}

.tracks .track h4 {
    font-size: 12px;
    line-height: 1;
    text-transform: none;
    letter-spacing: 0;
    margin-top: 0.3em;
    font-style: initial;
}

.tracks .track .link-mic{
    text-decoration: none
}

#buttonBackAllPager{
    width: 80px;
    height: 33px;
    border: 1px solid #d3d3d3;
    background: #ffcc00;
    border-radius: 2px;
    border-radius: 4px;
}