.lists .lists-head {
    padding: 0.5em 48px 10px 0.5em;
}

.tile-box-speakers { min-height: 426px;  }

.tile-box-speakers .tile-box-body {

    height: 420px;
}

.tracks .track {
    cursor: pointer;
}

[hidden], .hidden {
    display: none !important;
}