<div class="popup" id="readNowEmunah">
  <div class="popup-head">
    <span class="waterMark">DailyEmunah.org</span>
    <span> <b> {{rNow?.title}}</b> </span>

    <a  href="#/" style="margin-left: 2em;"><i id="weekly-play" class="ico-play-yellow" (click)="Play()"></i></a>
    <a  href="#/"><i id="weekly-print" class="ico-print-yellow" (click)="Print()"></i></a>

    <a href="#" class="link-close">
						<i class="ico-close"></i>
		</a>

  </div>
  <!-- /.donate-head -->


  <div class="popup-body" id="printReadEmunah" >

    <p style="text-align: center" class="titlePrint">{{rNow?.title}}</p>

    <div *ngIf="htmlFormatted" class="content" [innerHTML]="rNow?.content">

    </div>

    <div *ngIf="!htmlFormatted" style="white-space: pre-wrap;">

        {{rNow?.content}}

    </div>


  </div>
  <!-- /.donate-body -->
</div>