#readNowEmunah .popup-body{
  padding: 1em;
}


#readNowEmunah .popup-body .content
{
max-height: 500px;    
overflow: auto;
}

#readNowEmunah .popup-body .content p
{
margin-bottom: 1em;
}


.titlePrint{ display: none; }

@media print
{
 .titlePrint{ display: initial; }

}


.waterMark{
    color: #4792d9;
    border-right: 1px solid #151515;
    padding-right: 0.5em;
}