<ul class="list-updates" dnd-sortable-container [sortableData]="queues">
<li *ngFor="let s of queues;let i = index" dnd-sortable [sortableIndex]="i" dnd-droppable (onDropSuccess)="Moved()">
	<!--<a href="#" class="link-play-secondary"></a>-->

	<h6 data-title="{{s.title}}">{{s.title|reduceString}}</h6>

	<p>{{s.speakerName}} <span>{{s.dateRecorded| date: 'MM/dd/yyyy'}}</span></p>

	<p>
		<strong>{{s.length|time}}min</strong> <strong>{{s.language|language}}</strong>
	</p>

	<div class="list-updates-actions">

		<a href="#/"  *ngIf="s?.video!=''" data-type="media" id="{{s?.video}}" data-title="{{s.title}}" (click)="Play(s.title,s.video)">
			<i class="ico-camera"></i>
        </a>

		<a href="#/" *ngIf="s?.audio!=''" data-type="media" id="{{s?.audio}}" data-title="{{s.title}}" (click)="Play(s.title,s.audio)">
			<i class="ico-mic"></i>
		</a>

		<a href="#/" title="Download">
			<i class="ico-download"></i>
		</a>

		<a href="#/" title="Remove" (click)="Remove(s.id)">
			<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
		</a>
	</div>
	<!-- /.list-actions -->
</li>
</ul>