<li *ngFor="let q of queues">
	<a href="#" class="link-play-secondary"></a>

	<h6>How to enjoy your Shabbat</h6>

	<p>Rabbi Eli Mansour <span>4/21/2017</span></p>

	<p>
		<em>In memory of First Name Last Name</em>
	</p>

	<p>
		<strong>70min</strong> <strong>EN</strong>
	</p>

	<div class="list-updates-actions">
		<a href="#">
			<i class="ico-mic"></i>
		</a>

		<a href="#">
			<i class="ico-download"></i>
		</a>

		<a href="#">
			<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
		</a>
	</div>
	<!-- /.list-actions -->
</li>