 .loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../assets/build/css/images/images/spinner.gif') 50% 50% no-repeat rgba(255, 255, 255, 0.8);
}


/**********************************************************************************************************************/

/* 
when .item:hover, show overlay.
overwrite .item-overlay."position"
*/
 .item-overlay.top {
  top: 0;
}

/* 
by default, overlay is visible… 
*/
.item-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  
  background: #14213d;
  color: white;
  overflow: hidden;
  text-align: center;
  /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
  width: 100%; 
  
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;

  font-size: xx-large;
  font-weight: 600;
  opacity: 0.9;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 9999
}
/*
…but this hide it
*/
/*.item-overlay.top {
  top: 100%;
}*/

div.blur .dropdown-foot,div.blur .dropdown-head,div.blur .dropdown-body{
  filter:blur(2px)
}

.top .form-signin{
padding: 0.5em;
}

.top p{
  font-size: -webkit-xxx-large;
}
.top span{
  font-size: initial;
  font-weight: initial
}

.top input{
  font-size: initial;
  
}

/***************************************************************************************************************************/
.nor-circle{
    border-radius: 100%;
    padding: 10px;
    background: #508992;
    text-align: center;
}

/**************************************************************************************************/
/**** Mishna Beroura Yomi  *******/



#tile-10 .tile-actions {
   padding: 0px 0px 9px 0px;
   margin-bottom: 0em;
}


.mishna{
  background: rgba(43, 58, 90, 0.8);
  padding: 1px 11px 5px 19px;
  margin-top: 0.3em;
  line-height: 1;
}

.mishna h3{
  font-size: 1.9em;
}

.mishna span{
  color: white;
}

/********************************************************************************************************/
@media(max-width:768px) {
.nav ul {
    padding: 0 0 10px 9px;
}
}

/*********************************************************************************************************/
.section-tiles {
    padding: 5px 0 12px;
}

/***********************************************************************************************************/
@media (max-width: 1240px)
{ .wrapper {
    padding-top: 148px;
 }
}