 <div class="wrapper">
	<div class="container-wrap">
		<header class="header">
			<div class="shell">
				<div class="header-inner">
					<a href="#" class="logo">iTorah.com</a>
					
					<div class="header-content">
						<ul class="nav-utilities">
							<li>
								<a class="link-play" href="#" data-tooltip="Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametLorem ipsum dolor sit amet">
									<i class="ico-podcast"></i> <span>Podcast</span>
								</a>
								
								<div class="dropdown">
									<div class="dropdown-head">
										<h4><i class="ico-podcast-2"></i> Podcast</h4>
										
										<ul class="nav-list">
											<li>
												<a href="#">Subscribe</a>
											</li>
											
											<li>
												<a href="#">Archive</a>
											</li>
										</ul><!-- /.nav-list -->
									</div><!-- /.dropdown-head -->
									
									<div class="dropdown-body">
										<ul class="list-updates">
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>Episode 86: Podcast Name  5/8/2017</h6>
												
												<p>Podcast episode descriptions  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
												
												<p>
													<a href="#">
														Download
													</a>
													
													<a href="#">
														Share
													</a>
												</p>
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>Episode 86: Podcast Name  5/8/2017</h6>
												
												<p>Podcast episode descriptions  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
												
												<p>
													<a href="#">
														Download
													</a>
													
													<a href="#">
														Share
													</a>
												</p>
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>Episode 86: Podcast Name  5/8/2017</h6>
												
												<p>Podcast episode descriptions  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
												
												<p>
													<a href="#">
														Download
													</a>
													
													<a href="#">
														Share
													</a>
												</p>
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>Episode 86: Podcast Name  5/8/2017</h6>
												
												<p>Podcast episode descriptions  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
												
												<p>
													<a href="#">
														Download
													</a>
													
													<a href="#">
														Share
													</a>
												</p>
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>Episode 86: Podcast Name  5/8/2017</h6>
												
												<p>Podcast episode descriptions  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
												
												<p>
													<a href="#">
														Download
													</a>
													
													<a href="#">
														Share
													</a>
												</p>
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>Episode 86: Podcast Name  5/8/2017</h6>
												
												<p>Podcast episode descriptions  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
												
												<p>
													<a href="#">
														Download
													</a>
													
													<a href="#">
														Share
													</a>
												</p>
											</li>
										</ul><!-- /.list-updates -->
									</div><!-- /.dropdown-body -->
									
									<div class="dropdown-foot">
										<a href="#">More Episodes</a>
									</div><!-- /.dropdown-foot -->
								</div><!-- /.dropdown -->
							</li>
							
							<li>
								<a href="#" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, maiores.">
									<i class="ico-queue"></i> <span>Queue</span>
								</a>
								
								<div class="dropdown" >
									<div class="dropdown-head">
										<h4><i class="ico-play-3"></i> Queue list</h4>
										
										<ul class="nav-list">
											<li>
												<a href="#">Edit</a>
											</li>
										</ul><!-- /.nav-list -->
									</div><!-- /.dropdown-head -->
									
									<div class="dropdown-body">
										<ul class="list-updates">
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>How to enjoy your Shabbat</h6>
												
												<p>Rabbi Eli Mansour <span>4/21/2017</span></p>
												
												<p>
													<em>In memory of First Name Last Name</em>
												</p>
												
												<p>
													<strong>70min</strong> <strong>EN</strong>
												</p>
												
												<div class="list-updates-actions">
													<a href="#">
														<i class="ico-mic"></i>
													</a>
													
													<a href="#">
														<i class="ico-download"></i>
													</a>
													
													<a href="#">
														<i class="ico-burger"></i>
													</a>
												</div><!-- /.list-actions -->
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>How to enjoy your Shabbat</h6>
												
												<p>Rabbi Eli Mansour <span>4/21/2017</span></p>
												
												<p>
													<em>In memory of First Name Last Name</em>
												</p>
												
												<p>
													<strong>70min</strong> <strong>EN</strong>
												</p>
												
												<div class="list-updates-actions">
													<a href="#">
														<i class="ico-mic"></i>
													</a>
													
													<a href="#">
														<i class="ico-download"></i>
													</a>
													
													<a href="#">
														<i class="ico-burger"></i>
													</a>
												</div><!-- /.list-actions -->
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>How to enjoy your Shabbat</h6>
												
												<p>Rabbi Eli Mansour <span>4/21/2017</span></p>
												
												<p>
													<em>In memory of First Name Last Name</em>
												</p>
												
												<p>
													<strong>70min</strong> <strong>EN</strong>
												</p>
												
												<div class="list-updates-actions">
													<a href="#">
														<i class="ico-mic"></i>
													</a>
													
													<a href="#">
														<i class="ico-download"></i>
													</a>
													
													<a href="#">
														<i class="ico-burger"></i>
													</a>
												</div><!-- /.list-actions -->
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>How to enjoy your Shabbat</h6>
												
												<p>Rabbi Eli Mansour <span>4/21/2017</span></p>
												
												<p>
													<em>In memory of First Name Last Name</em>
												</p>
												
												<p>
													<strong>70min</strong> <strong>EN</strong>
												</p>
												
												<div class="list-updates-actions">
													<a href="#">
														<i class="ico-mic"></i>
													</a>
													
													<a href="#">
														<i class="ico-download"></i>
													</a>
													
													<a href="#">
														<i class="ico-burger"></i>
													</a>
												</div><!-- /.list-actions -->
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>How to enjoy your Shabbat</h6>
												
												<p>Rabbi Eli Mansour <span>4/21/2017</span></p>
												
												<p>
													<em>In memory of First Name Last Name</em>
												</p>
												
												<p>
													<strong>70min</strong> <strong>EN</strong>
												</p>
												
												<div class="list-updates-actions">
													<a href="#">
														<i class="ico-mic"></i>
													</a>
													
													<a href="#">
														<i class="ico-download"></i>
													</a>
													
													<a href="#">
														<i class="ico-burger"></i>
													</a>
												</div><!-- /.list-actions -->
											</li>
											
											<li>
												<a href="#" class="link-play-secondary"></a>
												
												<h6>How to enjoy your Shabbat</h6>
												
												<p>Rabbi Eli Mansour <span>4/21/2017</span></p>
												
												<p>
													<em>In memory of First Name Last Name</em>
												</p>
												
												<p>
													<strong>70min</strong> <strong>EN</strong>
												</p>
												
												<div class="list-updates-actions">
													<a href="#">
														<i class="ico-mic"></i>
													</a>
													
													<a href="#">
														<i class="ico-download"></i>
													</a>
													
													<a href="#">
														<i class="ico-burger"></i>
													</a>
												</div><!-- /.list-actions -->
											</li>
										</ul><!-- /.list-updates -->
									</div><!-- /.dropdown-body -->
								</div><!-- /.dropdown -->
							</li>
							
							<li>
								<a href="#" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, maiores.">
									<i class="ico-subscribe"></i> <span>Subscribe</span>
								</a>
								
								<div class="dropdown dropdown-subscription">
									<div class="dropdown-head">
										<h4><i class="ico-mail-dark"></i> <span>My Subscriptions</span></h4>
									</div><!-- /.dropdown-head -->
									
									<div class="dropdown-body">
										<div class="dropdown-group">
											<ul class="list-checkboxes">
												<li>
													<div class="checkbox">
														<input type="checkbox" id="checkbox11">
														
														<label for="checkbox11">
															<strong>Daily Halacha</strong>
															
															A concise Halacha in english emailed every day authored by Rabbi Eli Mansour
														</label>
													</div><!-- /.checkbox -->
												</li>
												
												<li>
													<div class="checkbox">
														<input type="checkbox" id="checkbox2">
														
														<label for="checkbox2">
															<strong>Weekly Perasha</strong>
															
															Insight on the parsha emailed every Thursday 
														</label>
													</div><!-- /.checkbox -->
												</li>
												
												<li>
													<div class="checkbox">
														<input type="checkbox" id="checkbox3">
														
														<label for="checkbox3">
															<strong>Daily Emunah</strong>
															
															Daily audio email authored by Rabbi David Ashear   
														</label>
													</div><!-- /.checkbox -->
												</li>
												
												<li>
													<div class="checkbox">
														<input type="checkbox" id="checkbox4">
														
														<label for="checkbox4">
															<strong>Daily Tehillim Daily List</strong>
															
															Daily email updates from your own community
														</label>
													</div><!-- /.checkbox -->
												</li>
												
												<li>
													<div class="checkbox">
														<input type="checkbox" id="checkbox5">
														
														<label for="checkbox5">
															<strong>Prayers and Tefilot</strong>
															
															Coming soon
														</label>
													</div><!-- /.checkbox -->
												</li>
											</ul><!-- /.list-checkboxes -->
										</div><!-- /.dropdown-group -->
										
										<div class="dropdown-group">
											<div class="dropdown-group-inner">
												<h4>Emergency Tehillim</h4>
												
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae arcu id leo malesuada pulvinar.</p>
											</div><!-- /.dropdown-group-inner -->
											
											<ul class="list-checkboxes list-checkboxes-secondary">
												<li>
													<div class="checkbox">
														<input type="checkbox" id="checkbox12">
														
														<label for="checkbox12">
															Notify by email
														</label>
													</div><!-- /.checkbox -->
													
													<div class="checkbox-actions">
														<span>Name@email.com</span>
														
														<a href="#" class="link-edit">
															<i class="ico-pen-3"></i>
														</a>
													</div><!-- /.checkbox-actions -->
												</li>
												
												<li>
													<div class="checkbox">
														<input type="checkbox" id="checkbox13">
														
														<label for="checkbox13">
															Notify by text message
														</label>
													</div><!-- /.checkbox -->
													
													<div class="checkbox-actions">
														<span>(212)123-4567</span>
														
														<a href="#" class="link-edit">
															<i class="ico-pen-3"></i>
														</a>
													</div><!-- /.checkbox-actions -->
												</li>
											</ul>
											
											<div class="dropdown-group-inner">
												<h4>Funeral Announcements</h4>
												
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae arcu id leo malesuada pulvinar.</p>
											</div><!-- /.dropdown-group-inner -->
											
											<ul class="list-checkboxes list-checkboxes-secondary">
												<li>
													<div class="checkbox">
														<input type="checkbox" id="checkbox14">
														
														<label for="checkbox14">
															Notify by email
														</label>
													</div><!-- /.checkbox -->
													
													<div class="checkbox-actions">
														<span>Name@email.com</span>
														
														<a href="#" class="link-edit">
															<i class="ico-pen-3"></i>
														</a>
													</div><!-- /.checkbox-actions -->
												</li>
												
												<li>
													<div class="checkbox">
														<input type="checkbox" id="checkbox15">
														
														<label for="checkbox15">
															Notify by text message
														</label>
													</div><!-- /.checkbox -->
													
													<div class="checkbox-actions">
														<span>(212)123-4567</span>
														
														<a href="#" class="link-edit">
															<i class="ico-pen-3"></i>
														</a>
													</div><!-- /.checkbox-actions -->
												</li>
											</ul>
										</div><!-- /.dropdown-group -->
									</div><!-- /.dropdown-body -->
									
									<div class="dropdown-actions">
										<ul class="nav-list">
											<li>
												<a class="link-cancel" href="#">Cancel</a>
											</li>
											
											<li>
												<a class="link-save" href="#">Save</a>
											</li>
										</ul><!-- /.nav-list -->
									</div><!-- /.dropdown-actions -->
								</div>
							</li>
							
							<li>
								<a href="#" data-tooltip="Lorem ipsum dolor sit amet">
									<i class="ico-sponsors"></i> <span>Sponsors</span>
								</a>
								
								<div class="dropdown" >
									<div class="dropdown-head">
										<h4><i class="ico-leaf"></i> Sponsors</h4>
										
										<ul class="nav-list">
											<li>
												<a class="link-blue" href="#">Become a sponsor</a>
											</li>
										</ul><!-- /.nav-list -->
									</div><!-- /.dropdown-head -->
									
									<div class="dropdown-body">
										<ul class="list-updates">
											<li>
												<i class="ico-leaf"></i>
												
												<h6>Sponsor Name</h6>
												
												<p>Company description or tag line</p>
												
												<p>
													<a href="#">www.Name.com</a>
												</p>
											</li>
											
											<li>
												<i class="ico-leaf"></i>
												
												<h6>Sponsor Name</h6>
												
												<p>Company description or tag line</p>
												
												<p>
													<a href="#">www.Name.com</a>
												</p>
											</li>
											
											<li>
												<i class="ico-leaf"></i>
												
												<h6>Sponsor Name</h6>
												
												<p>Company description or tag line</p>
												
												<p>
													<a href="#">www.Name.com</a>
												</p>
											</li>
											
											<li>
												<i class="ico-leaf"></i>
												
												<h6>Sponsor Name</h6>
												
												<p>Company description or tag line</p>
												
												<p>
													<a href="#">www.Name.com</a>
												</p>
											</li>
											
											<li>
												<i class="ico-leaf"></i>
												
												<h6>Sponsor Name</h6>
												
												<p>Company description or tag line</p>
												
												<p>
													<a href="#">www.Name.com</a>
												</p>
											</li>
											
											<li>
												<i class="ico-leaf"></i>
												
												<h6>Sponsor Name</h6>
												
												<p>Company description or tag line</p>
												
												<p>
													<a href="#">www.Name.com</a>
												</p>
											</li>
											
											<li>
												<i class="ico-leaf"></i>
												
												<h6>Sponsor Name</h6>
												
												<p>Company description or tag line</p>
												
												<p>
													<a href="#">www.Name.com</a>
												</p>
											</li>
											
											<li>
												<i class="ico-leaf"></i>
												
												<h6>Sponsor Name</h6>
												
												<p>Company description or tag line</p>
												
												<p>
													<a href="#">www.Name.com</a>
												</p>
											</li>
										</ul><!-- /.list-updates -->
									</div><!-- /.dropdown-body -->
								</div>
							</li>
							
							<li>
								<a class="link-donate" href="#donate" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, maiores.">
									<i class="ico-donate"></i> <span>DONATE</span>
								</a>
							</li>
							
							<li>
								<a href="#" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, maiores.">
									<i class="ico-dedications"></i> <span>DEDICATIONS</span>
								</a>
							</li>
						</ul><!-- /.nav-utilities -->
						
						<div class="select-box">
							<select class="select">
								<option value="" hidden selected>Browse</option>

								<option value="">Option 1</option>

								<option value="">Option 2</option>
							</select>
						</div><!-- /.select-box -->

						<div class="search">
							<div class="search-inner">
								<form action="?" method="get">
									<div class="search-content">
										<label for="q" class="hidden">Search</label>

										<input type="search" name="q" id="q" value="" placeholder="" class="search-field">

										<button type="submit" class="search-btn">
											<i class="ico-magnifier"></i>
										</button>
									</div><!-- /.search-content -->
								</form>
							</div><!-- /.search-inner -->
						</div><!-- /.search -->
					</div><!-- /.header-content -->

					<aside class="header-aside">
						<ul class="nav-access">
							<li>
								<a href="#" class="link" id="login-title">Sign In</a>
								
								<div class="dropdown dropdown-signin">
								<app-social-login></app-social-login>
								</div>
							</li>
						</ul><!-- /.nav-utilities -->

						<a href="#" class="btn-menu">
							<span>Menu</span>

							<span>Menu</span>

							<span>Menu</span>
						</a>
					</aside><!-- /.header-aside -->
				</div><!-- /.header-inner -->

				<nav class="nav">
					<div class="shell">
						<ul>
							<li>
								<a href="#">About</a>
							</li>

							<li>
								<a href="#">Contact</a>
							</li>

							<li>
								<a href="#">Sponsors</a>
							</li>

							<li>
								<a href="#">Information</a>
							</li>

							<li>
								<a href="#">Links</a>
							</li>

							<li>
								<a href="#">Privacy</a>
							</li>
						</ul>
					</div><!-- /.shell -->
				</nav><!-- /.nav -->
			</div><!-- /.shell -->
		</header><!-- /.header -->


<i class="ico-ballon-arrow"></i>

<div class="main">
	<div class="donate" id="donate">
		<div class="donate-head">
			<form action="?" method="get">
				<label for="field-search-content">Donate: </label>
				
				<div class="select select-tertiary">
					<select name="field-search-content" id="field-search-content">
						<option value="">Select your credit card</option>
					</select><!-- /.form-row -->
				</div><!-- /.select -->
				
				<a href="#" class="link-close">
					<i class="ico-close"></i>
				</a>
			</form>
		</div><!-- /.donate-head -->
		
		<div class="donate-body">
			<div class="cols">
				<div class="col-1of3">
					<div class="form-sponsor">
						<form action="?" method="post">
							<div class="form-head">
								<h4>Sponsor a Day</h4>
							</div><!-- /.form-head -->
							
							<div class="form-body">
								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-sponsorship" id="field-sponsorship">
											<option value="">Select sponsorship</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="form-controls">
										<input type="text" class="field field-date" name="field-date" id="field-date" value="" placeholder="Date">
										
										<i class="ico-calendar"></i>
									</div><!-- /.form-controls -->
									
									<p>
										<a href="#">Add another day</a>
									</p>
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-sponsorship" id="field-sponsorship">
											<option value="">Repeat</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-sponsorship" id="field-sponsorship">
											<option value="">Sponsorship for</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="form-controls">
										<input type="text" class="field" name="field-name" id="field-name" value="" placeholder="Name">
									</div><!-- /.form-controls -->
								</div><!-- /.form-row -->
							</div><!-- /.form-body -->
							
							<div class="form-actions">
								<input type="submit" value="Process order" class="form-btn">
							</div><!-- /.form-actions -->
						</form>
					</div><!-- /.form-sponsor -->
				</div><!-- /.col-1of3 -->
				
				<div class="col-1of3">
					<div class="form-sponsor">
						<form action="?" method="post">
							<div class="form-head">
								<h4>Sponsor a Shiur</h4>
							</div><!-- /.form-head -->
							
							<div class="form-body">
								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-speaker" id="field-speaker">
											<option value="">Speaker</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-name-speaker" id="field-name-speaker">
											<option value="">Rabbi Mansour</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-navi" id="field-navi">
											<option value="">Navi</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-shemuel-2" id="field-shemuel-2">
											<option value="">Shemuel 2</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->

								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-transform" id="field-transform">
											<option value="">Transform your Shabbat</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-repeat" id="field-repeat">
											<option value="">Repeat</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="select select-tertiary">
										<select name="field-sponsorship" id="field-sponsorship">
											<option value="">Sponsorship for</option>
										</select>
									</div><!-- /.select -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="form-controls">
										<input type="text" class="field" name="field-name" id="field-name" value="" placeholder="Name">
									</div><!-- /.form-controls -->
								</div><!-- /.form-row -->
							</div><!-- /.form-body -->
							
							<div class="form-actions">
								<input type="submit" value="Process order" class="form-btn">
							</div><!-- /.form-actions -->
						</form>
					</div>
				</div><!-- /.col-1of3 -->
				
				<div class="col-1of3">
					<div class="form-sponsor">
						<form action="?" method="post">
							<div class="form-head">
								<h4>General Donation</h4>
							</div><!-- /.form-head -->
							
							<div class="form-body">
								<div class="form-row">
									<ul class="list-checkboxes">
										<li>
											<div class="checkbox checkbox-secondary">
												<input type="checkbox" name="field-5" id="field-5">
												
												<label class="form__label" for="field-5">$5</label>
											</div><!-- /.checkbox -->
										</li>
										
										<li>
											<div class="checkbox checkbox-secondary">
												<input type="checkbox" name="field-10" id="field-10">
												
												<label class="form__label" for="field-10">$10</label>
											</div><!-- /.checkbox -->
										</li>
										
										<li>
											<div class="checkbox checkbox-secondary">
												<input type="checkbox" name="field-15" id="field-15">
												
												<label class="form__label" for="field-15">$15</label>
											</div><!-- /.checkbox -->
										</li>
										
										<li>
											<div class="checkbox checkbox-secondary">
												<input type="checkbox" name="field-25" id="field-25">
												
												<label class="form__label" for="field-25">$25</label>
											</div><!-- /.checkbox -->
										</li>
										
										<li>
											<div class="checkbox checkbox-secondary">
												<input type="checkbox" name="field-50" id="field-50">
												
												<label class="form__label" for="field-50">$50</label>
											</div><!-- /.checkbox -->
										</li>
										
										<li>
											<div class="checkbox checkbox-secondary">
												<input type="checkbox" name="field-100" id="field-100">
												
												<label class="form__label" for="field-100">$100</label>
											</div><!-- /.checkbox -->
										</li>
										
										<li>
											<div class="checkbox checkbox-secondary">
												<input type="checkbox" name="field-250" id="field-250">
												
												<label class="form__label" for="field-250">$250</label>
											</div><!-- /.checkbox -->
										</li>
										
										<li>
											<div class="checkbox checkbox-secondary">
												<input type="checkbox" name="field-300" id="field-300">
												
												<label class="form__label" for="field-300">$300</label>
											</div><!-- /.checkbox -->
										</li>
										
										<li>
											<div class="checkbox checkbox-secondary">
												<input type="checkbox" name="field-1000" id="field-1000">
												
												<label class="form__label" for="field-1000">$1,000</label>
											</div><!-- /.checkbox -->
										</li>
									</ul><!-- /.list-checkboxes -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<span>or</span>
									
									<div class="form-controls">
										<input type="text" class="field" name="field-name" id="field-name" value="" placeholder="$Other amount">
									</div><!-- /.form-controls -->
								</div><!-- /.form-row -->
							</div><!-- /.form-body -->
							
							<div class="form-actions">
								<input type="submit" value="Process order" class="form-btn">
							</div><!-- /.form-actions -->
						</form>
					</div>
				</div><!-- /.col-1of3 -->
			</div><!-- /.cols -->
		</div><!-- /.donate-body -->
	</div>
	
	<section class="section section-tiles">
		<div class="shell">
			<div class="section-content">
				<div class="tiles">
					<div class="tile tile-large" id="tile-1">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-1.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>LearnTorah<small>.com</small></h3>

									<p>
										<app-learn-torah></app-learn-torah>Shiurim Online
									</p>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<a href="#item-content-1" class="btn btn-yellow btn-medium" data-size="full">Speakers</a>

									<a href="#" class="link-search">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						
						<p class="sorting">1</p>
					</div><!-- /.tile tile-large -->

					<div class="tile" id="tile-2">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-2.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>DailyHalacha<small>.com</small></h3>

									<p>
										<app-daily-halacha></app-daily-halacha> <em>Halachot Online</em>
									</p>

									<p>An Encyclopedia of Jewish Laws</p>

									<span>Authored by Rabbie Eli J Mansour</span>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<a href="#" class="link-play">
										<span>Play Now</span>

										<i class="ico-play"></i>
									</a>

									<a href="#item-content-2" class="btn btn-yellow btn-small" data-size="full" id="">WEEKLY PERASHA</a>

									<a href="#item-content-8" data-size="half" class="link-search">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						
						<p class="sorting">2</p>
					</div><!-- /.tile -->

					<div class="tile" id="tile-3">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-3.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>DailyTehillim<small>.com</small></h3>

									<p>Tehillim List and Levayot by Community</p>

									<span>Listen - Read - Learn</span>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<ul class="list-actions">
										<li data-id="item-3">
											<a href="#item-content-3" data-size="full">
												<i class="ico-paper"></i>
											</a>
										</li>

										<li >
											<a href="#item-content-7" data-size="half">
												<i class="ico-edit"></i>
											</a>
										</li>
									</ul><!-- /.list-actions -->

									<a href="#" class="link-search">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						
						<p class="sorting">3</p>
					</div><!-- /.tile -->

					<div class="tile" id="tile-4">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-4.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>DailyGemara<small>.com</small></h3>

									<p>Daf Yomi taught by Rabbi Eli Mansour</p>

									<span>Taught by Rabbi Eli J Mansour</span>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<a href="#" class="link-play">
										<span>Play Now</span>

										<i class="ico-play"></i>
									</a>

									<a href="#" class="link-search">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						
						<p class="sorting">4</p>
					</div><!-- /.tile -->

					<div class="tile" id="tile-5">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-5.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>DailyEmunah<small>.com</small></h3>

									<p>
										<strong>415</strong><span>Short Lessons</span>
									</p>

									<span>Authored by Rabbie Eli J Mansour</span>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<a href="#" class="link-play">
										<span>Play Now</span>

										<i class="ico-play"></i>
									</a>

									<ul class="list-actions">
										<li data-id="tile-5">
											<!--<a href="#">
												<i class="ico-envelope"></i>
											</a>-->
										</li>
									</ul><!-- /.list-actions -->

									<a class="link-search" href="#item-content-4" data-size="full">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						
						<p class="sorting">5</p>
					</div><!-- /.tile -->

					<div class="tile tile-high" id="tile-6">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-6.jpg);">
							<div class="tile-body">
								<div class="tile-entry">
									<div class="tile-content">
										<h3>MishnaBerura<small>.com</small></h3>

										<p>The Shulchan Aruch Explained</p>

										<span>Taught by Rabbi Eli J Mansour</span>
									</div><!-- /.tile-content -->

									<div class="tile-actions">
										<a href="#" class="link-search">
											<i class="ico-magnifier-large"></i>
										</a>
									</div><!-- /.tile-actions -->
								</div><!-- /.tile-entry -->

								<div class="tile-entry">
									<div class="tile-content">
										<h3>MishnaBeruraYomi<small>.com</small></h3>

										<span>Taught by Rabbi Eli J Mansour</span>
									</div><!-- /.tile-content -->

									<div class="tile-actions">
										<a href="#" class="link-play">
											<span>Play Now</span>

											<i class="ico-play"></i>
										</a>

										<ul class="list-actions">
											<li>
											<!--	<a href="#">
													<i class="ico-envelope"></i>
												</a>-->
											</li>
										</ul><!-- /.list-actions -->

										<a class="link-search" href="#item-content-9" data-size="half">
											<i class="ico-magnifier-large"></i>
										</a>
									</div><!-- /.tile-actions -->
								</div><!-- /.tile-entry -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						
						<p class="sorting">6</p>
					</div><!-- /.tile -->

					<div class="tile" id="tile-7">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-7.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>PeleYoetz<small>.com</small></h3>

									<p>Musar | Ethics for Living</p>

									<span>Taught by Rabbi Eli J Mansour</span>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<a class="link-search" href="#item-content-5" data-size="full">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						
						<p class="sorting">7</p>
					</div><!-- /.tile -->

					<div class="tile" id="tile-8">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-8.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>DailyHok<small>.com</small></h3>

									<p>Hok L’Yisrael for Every Day Learning</p>

									<span>Taught by Rabbi Eli J Mansour</span>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<a href="#" class="link-play">
										<span>Play Now</span>

										<i class="ico-play"></i>
									</a>

									<a href="#item-content-6" class="link-search" data-size="full">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						
						<p class="sorting">8</p>
					</div><!-- /.tile -->

					<div class="tile" id="tile-9">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-9.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>PrayersAndTefilot<small>.com</small></h3>

									<p>Berachot for all situations</p>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<a href="#" class="link-search">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						
						<p class="sorting">9</p>
					</div><!-- /.tile -->

					<div class="tile" id="tile-10">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-10.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>WeeklyInspire<small>.com</small></h3>

									<span>Authored by Rabbie Eli J Mansour</span>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<a href="#" class="link-play">
										<span>Play Now</span>

										<i class="ico-play"></i>
									</a>

									<ul class="list-actions">
										<li>
										<!--	<a href="#">
												<i class="ico-envelope"></i>
											</a>-->
										</li>
									</ul><!-- /.list-actions -->

									<a href="#" class="link-search">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->
						<p class="sorting">10</p>
					</div><!-- /.tile -->
				</div><!-- /.tiles -->
			</div><!-- /.section-content -->
		</div><!-- /.shell -->
	</section><!-- /.section section-tiles -->

	<app-video-thumbnail></app-video-thumbnail>

    <app-place-holder></app-place-holder>

</div><!-- /.main -->

		<footer class="footer">
			<div class="shell">
				<div class="footer-inner">
					<aside class="footer-aside">
						<p class="copyright">&copy; 2008-09 Torah Learning Resources Ltd. All rights reserved.</p><!-- /.copyright -->
					</aside><!-- /.footer-aside -->

					<nav class="nav-secondary">
						<ul>
							<li>
								<a href="#">About</a>
							</li>

							<li>
								<a href="#">Contact</a>
							</li>

							<li>
								<a href="#">Judica Text</a>
							</li>

							<li>
								<a href="#">Links</a>
							</li>

							<li>
								<a href="#">Privacy</a>
							</li>

							<li>
								<a href="#">Advertise on iTorah</a>
							</li>
						</ul>
					</nav><!-- /.nav-secondary -->
				</div><!-- /.footer-inner -->
			</div><!-- /.shell -->
		</footer><!-- /.footer -->
	</div><!-- /.container -->
</div><!-- /.wrapper -->



<app-speaker></app-speaker>
<app-weekly></app-weekly>
<app-weekly-search></app-weekly-search>
<app-tehillim-show></app-tehillim-show>
<app-tehillim-edit></app-tehillim-edit>
<app-emunah-search></app-emunah-search>
<app-hok-search></app-hok-search>
<app-pele-yoetz></app-pele-yoetz>
<app-mishna-berura-yomi></app-mishna-berura-yomi>