<div class="wrapper">
	<div class="container-wrap">
		<header class="header">
			<div class="shell">
				<div class="header-inner">
					<a href="#" class="logo">iTorah.com</a>

					<div class="header-content">
						<ul class="nav-utilities">
							<li>
								<a class="link-play" href="#" data-tooltip="Automatically receive audio files every day of DailyHalacha, DailyGemara, DailyEmunah, and DailyTehillim via RSS Feed to your Podcast software (such as ITunes).">
									<i class="ico-podcast"></i> <span>Podcast</span>
								</a>

								<div class="dropdown item" [class.blur]="VerifyUser()" id="podcastBox">
									<div class="dropdown-head">
										<h4><i class="ico-podcast-2"></i> Podcast</h4>

										<ul class="nav-list">
											<li>
												<a href="#">Subscribe</a>
											</li>

											<li>
												<a href="#">Archive</a>
											</li>
										</ul><!-- /.nav-list -->
									</div><!-- /.dropdown-head -->

									<div class="dropdown-body">
										<ul class="list-updates">
											<app-podcast></app-podcast>
										</ul><!-- /.list-updates -->
									</div><!-- /.dropdown-body -->

									<div class="dropdown-foot">
										<a href="#">More Episodes</a>
									</div><!-- /.dropdown-foot -->
									<div class="item-overlay top" *ngIf="VerifyUser()">
										<div class="form-signin">
											<p>iTorah</p>
											<span>You must to be signed in to have access this feature</span>
											<input type="submit" value="SIGN IN" class="form-btn" (click)="OpenLogin('podcastBox')">
										</div>
									</div>

								</div><!-- /.dropdown -->


							</li>

							<li (click)="CloseSpeaker()">
								<a href="#" data-tooltip="As you browse the available Shiurim on iTorah.com, simply add them to a list of classes to listen (or watch).  This list is called the QUEUE.  The shiur will remain on the lsit until after you have completed it.">
									<i class="ico-queue"></i> <span>Queue</span>
								</a>

								<div class="dropdown item" [class.blur]="VerifyUser()" id="queueBox">
									<div class="dropdown-head">
										<h4><i class="ico-play-3"></i> Queue list</h4>

										<ul class="nav-list">
											<li>
												<!--<a href="#">Edit</a>--><span>Drag and Drop</span>
											</li>
										</ul><!-- /.nav-list -->
									</div><!-- /.dropdown-head -->

									<div class="dropdown-body">

										<app-queue></app-queue>

									</div><!-- /.dropdown-body -->

									<div class="item-overlay top" *ngIf="VerifyUser()">
										<div class="form-signin">
											<p>iTorah</p>
											<span>You must to be signed in to have access this feature</span>
											<input type="submit" value="SIGN IN" class="form-btn" (click)="OpenLogin('queueBox')">
										</div>
									</div>

								</div><!-- /.dropdown -->
							</li>

							<li>
								<a href="#" data-tooltip="Automatically receive via email; Daily Halacha, DailyEmunah, DailyTehillim with its list of names to read for, and Levaya announcements.">
									<i class="ico-subscribe"></i> <span>Subscribe</span>
								</a>

								<div class="dropdown dropdown-subscription item" [class.blur]="VerifyUser()" id="subscribeBox">
									<div class="dropdown-head">
										<h4><i class="ico-mail-dark"></i> <span>My Subscriptions</span></h4>
									</div><!-- /.dropdown-head -->

									<app-subscribe></app-subscribe>
									<div class="item-overlay top" *ngIf="VerifyUser()">
										<div class="form-signin">
											<p>iTorah</p>
											<span>You must to be signed in to have access this feature</span>
											<input type="submit" value="SIGN IN" class="form-btn" (click)="OpenLogin('subscribeBox')"> 
										</div>
									</div>
								</div>


							</li>

							<li class="">
								<a href="#sponsor" data-tooltip="Sponsor a shiur for $180.00 and your dedication will always appear when someone listens or watches. Sponsoring a Shiur enables viewers to download the audio file for free.   You can also sponsor a day of Learning on iTorah for $180.00." (click)="OpenSponsor()">
									<i class="ico-sponsors"></i> <span>Sponsors</span>
								</a>
							</li>

							<li class="">
								<a  (click)="OpenPopup('#donate')"  href="#donate" data-tooltip="General anonymous donation to iTorah and helping us cover our expenses associated with the recording all the classes and maintaining this web site.">
									<i class="ico-donate"></i> <span>DONATE</span>
								</a>
							</li>

							<li >
								<a (click)="OpenPopup('#dedications')" href="#dedications" data-tooltip="Dedications in honor, memory, or for Refuah of someone on iTorah.com. May the merit of all the learning stemming for iTorah.com be attributable to the beneficiary.">
									<i class="ico-dedications"></i> <span>DEDICATIONS</span>
								</a>
							</li>
						</ul><!-- /.nav-utilities -->

						<div class="select-box">
							<select class="select" (change)="ChangeBrowse($event.target.value)">
								<option value="" hidden selected>Browse</option>

								<option value="Recently">Recently Uploaded</option>

								<option value="Popular">Popular</option>

								<option value="Relevant">Relevant</option>

								<option value="Category">Category</option>
							</select>
						</div><!-- /.select-box -->

						<div class="search">
							<div class="search-inner">
								<form action="?" method="get" >
									<div class="search-content">
										<label for="q" class="hidden">Search</label>

										<input type="search" name="q" id="q" value="" [(ngModel)]="gSearch" placeholder="" class="search-field" (keyup)="keyDownFunction($event)">

										<button type="submit" class="search-btn">
											<i class="ico-magnifier"></i>
										</button>
									</div><!-- /.search-content -->
								</form>
							</div><!-- /.search-inner -->
						</div><!-- /.search -->
					</div><!-- /.header-content -->

					<aside class="header-aside">
						<ul class="nav-access">
							<li>
								<a href="#" class="link" id="login-title">Sign In</a>

								<div class="dropdown dropdown-signin">
									<app-social-login></app-social-login>
								</div>
							</li>
						</ul><!-- /.nav-utilities -->

						<a href="#" class="btn-menu">
							<span>Menu</span>

							<span>Menu</span>

							<span>Menu</span>
						</a>
					</aside><!-- /.header-aside -->
				</div><!-- /.header-inner -->

				<nav class="nav">
					<div class="shell">
						<ul>
							<li>
								<a href="#" (click)="OpenPopup('#myAccount')">My Account</a>
							</li>

							<li>
								<a style="color:#786c6c" href="#" title="Coming Soon">My Dynamic Playlist</a>
							</li>

							<li>
								<a href="#" (click)="OpenPopup('#myAlert')">My Alerts</a>
							</li>

							<li>
								<a href="#" (click)="OpenPopup('#credits')">My Order History</a>
							</li>

							<li *ngIf="credit!=null">
								<a href="#"> Current Credits: {{credit.shiurimBalance}}<span style="font-size: 0.8em;"> (${{credit.dollarBalance}})</span> </a>
							</li>

							<li class="link-popup">
								<a style="color:#786c6c" href="#" title="Coming Soon">Completed Classes</a>
							</li>

							<li class="link-popup">
								<a href="#tour">Take a Tour</a>
							</li>

							<!--<li>
								<a href="#">Donate/Sponsor</a>
							</li>-->

							<li>
								<a (click)="OpenPopup('#shop')">Shop</a>
							</li>
						</ul>
					</div><!-- /.shell -->
				</nav><!-- /.nav -->

				<app-global-search [accion]="gSearchPattern"></app-global-search>
				<app-weekly-result></app-weekly-result>
				<app-browse [browseClass]="browseClasses"></app-browse>
				<app-read-now [title]="rNow?.title" [content]="rNow?.content" [dedication]="rNow?.dedication"></app-read-now>
				<app-read-search></app-read-search>
				<app-download-shirium></app-download-shirium>
			</div><!-- /.shell -->
		</header><!-- /.header -->

		<i class="ico-ballon-arrow"></i>
      
		<div class="main">
	   <app-donate></app-donate>

	<app-popup-register></app-popup-register>

	<app-popup-regular></app-popup-regular>

	<app-popup-emergency></app-popup-emergency>

	<app-popup-levaya></app-popup-levaya>

	<app-sponsor></app-sponsor>

	<app-file-shower></app-file-shower>

	<app-shop></app-shop>
	<app-my-credits></app-my-credits>
	<app-account></app-account>

	<div class="popup tour" id="tour">
		<div class="popup-head">
			<form action="?" method="get">
				<label for="field-search-content">Tour</label>

				<a href="#" class="link-close">
					<i class="ico-close"></i>
				</a>
			</form>
		</div><!-- /.popup-head -->

		<div class="popup-body">
			<div class="video">
				<iframe width="1058" height="595" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe>
			</div><!-- /.video -->
		</div><!-- /.popup-body -->
	</div><!-- /.popup tour -->

    <app-classes></app-classes>

	<app-alert></app-alert>

    <app-advertise></app-advertise>

			<app-dedication></app-dedication>

			<app-pay-confirmed></app-pay-confirmed>

			<app-privacy-policy></app-privacy-policy>

			<app-about></app-about>
			
		    <app-contact></app-contact>

			<app-recover [accion]="emailRecover"></app-recover>

			<app-today-sponsor></app-today-sponsor>

			<section class="section section-tiles">
				<div class="shell">
					<div class="section-content">
						<div class="tiles">
							<div class="tile" id="tile-1">
								 <div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-1.jpg);">
									<div class="tile-body">
										<div class="tile-content">
											<h3>LearnTorah<small>.com</small></h3>

											<p>
												<app-learn-torah></app-learn-torah>Shiurim Online
											</p>
											<p>
												<strong>{{amountSpeaker}}</strong> Speakers
											</p>
										</div><!-- /.tile-content -->

										<div class="tile-actions">
											<a href="#item-content-1" class="btn btn-yellow btn-medium" data-size="full" (click)="AccionSpeaker()" id="speakers">Speakers</a>

											<a href="#" class="link-search" (click)="Browse()">
										<i class="ico-magnifier-large"></i>
									</a>
										</div><!-- /.tile-actions -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->
														<p class="sorting">0</p>
					</div><!-- /.tile -->

					<div class="tile" id="tile-12">
						<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-1.jpg);">
							<div class="tile-body">
								<div class="tile-content">
									<h3>ParashaInsight.com</h3>

									<p>Lessons learned from the Weekly Parasha or Holiday</p>

									<span>Authored by Rabbi Eli J Mansour</span>
								</div><!-- /.tile-content -->

								<div class="tile-actions">
									<a href="#" class="link-play" style="margin-right: 0px;">
										<img  src="/assets/build/css/images/play_button.png" (click)="ReadPerashaInsigth()"/>
									</a>
									<a href="#item-content-2" data-size="full" (click)="AccionHalacha('first')">
										<img  src="/assets/build/css/images/read_now.png" />
									</a>

									<a href="#item-content-2" data-size="full" class="link-search" (click)="AccionHalacha('more')">
										<i class="ico-magnifier-large"></i>
									</a>
								</div><!-- /.tile-actions -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->



								<p class="sorting">1</p>
							</div><!-- /.tile tile-large -->

							<div class="tile ballon" id="item-content-1">
							  <app-speaker (myEvent) = "ShowLoader($event)" (myEventSpeakers) = "ChangeSpeakers($event)"></app-speaker>
							</div><!-- /.tile ballon -->

							<div class="tile tile-sizer" id="tile-2">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-2.jpg);">
									<div class="tile-body">
										<div class="tile-content">
											<h3>DailyHalacha<small>.com</small></h3>

											<p>
												<app-daily-halacha></app-daily-halacha> <em>Halachot Online</em>
											</p>

											<p>An Encyclopedia of Jewish Laws</p>

											<span>Authored by Rabbi Eli J Mansour</span>
										</div><!-- /.tile-content -->

										<div class="tile-actions">
											<a href="#" class="link-play">
										

										<img  src="/assets/build/css/images/play_button.png" (click)="playNow(6,'DailyHalacha.com')"/>
										<img src="/assets/build/css/images/read_now.png" (click)="readNow(6)"/>
										
									</a>

											<!--<a href="#item-content-2" class="btn btn-yellow btn-small" data-size="full" id="" >Weekly Parasha</a>-->

											
											<a href="#item-content-8" data-size="full" class="link-search">
										 <i class="ico-magnifier-large"></i>
									</a>
										</div><!-- /.tile-actions -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->

								<p class="sorting">2</p>
							</div><!-- /.tile -->

							<div class="tile ballon"  id="item-content-2">
								<app-weekly [valCombo]='halachacomboValue'></app-weekly>
							</div><!-- /.tile ballon -->

							<div class="tile ballon" id="item-content-8">
								<app-weekly-search [accion]="valHalacha"></app-weekly-search>
							</div><!-- /.tile ballon -->

							<div class="tile" id="tile-3">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-3.jpg);">
									<div class="tile-body">
										<div class="tile-content">
											<h3>DailyTehillim<small>.com</small></h3>

											<p>Tehillim List and Levayot by Community</p>

											<span>Listen - Read - Learn</span> <br>
											<span>Audio by Chacham Baruch’</span>
											<marquee>{{tehillimDedication}} </marquee>
										</div><!-- /.tile-content -->

										<div class="tile-actions">
											<ul class="list-actions">
												<li style="margin-bottom: 0.5em;">
													<a href="#item-content-666" data-size="full">
														<img src="/assets/build/css/images/candle.png" />
													</a>
													<a href="#item-content-3" data-size="full" (click)="Accion()" title="Read">
														<img src="/assets/build/css/images/name List.png" />
													</a>
													<a href="#popup-register" class="popup-toggle" data-size="half" title="Register" (click)="OpenRegister('Register')">
														<img src="/assets/build/css/images/register.png" />
													</a>
												</li>
											</ul>
											<ul class="list-actions">
												<li >
													<a href="#"  title="Today's Reading" (click)="playNow(7,'DailyHalacha.com')">
														<img  src="/assets/build/css/images/play_button.png" />
													</a>
													<a href="#" data-size="half" title="Today's Reading" (click)="OpenRegister('Read')">
														<img src="/assets/build/css/images/read_now.png" />
													</a>
												</li>
											</ul><!-- /.list-actions -->

											<!--<a href="#" class="link-search">
												<i class="ico-magnifier-large"></i>
											</a>-->
										</div><!-- /.tile-actions -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->

								<p class="sorting">3</p>
							</div><!-- /.tile -->
							

							<div class="tile ballon" id="item-content-3">
								<app-tehillim-show></app-tehillim-show>
							</div><!-- /.tile ballon -->

							<div class="tile ballon" id="item-content-7">
								<app-tehillim-edit></app-tehillim-edit>
							</div><!-- /.tile ballon -->

							<div class="tile ballon" id="item-content-666">
								<app-shiba></app-shiba>
							</div><!-- /.tile ballon -->

							<div class="tile" id="tile-4">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-4.jpg);">
									<div class="tile-body">
										<div class="tile-content">
											<h3>DailyGemara<small>.com</small></h3>

											<p>Daf Yomi Program</p>

											<span>Taught by Rabbi Eli J Mansour</span>
										</div><!-- /.tile-content -->

										<div class="tile-actions">
											<a href="#" class="link-play">
										

										<img  src="/assets/build/css/images/play_button.png" (click)="playNow(8,'DailyGemara.com')" />
										<img src="/assets/build/css/images/read_now.png" (click)="OpenPopup('#fileShower')"/>
									</a>

											<a href="#" class="link-search">
										<i class="ico-magnifier-large"></i>
									</a>
										</div><!-- /.tile-actions -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->

								<p class="sorting">4</p>
							</div><!-- /.tile -->

							<div class="tile" id="tile-5">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-5.jpg);">
									<div class="tile-body">
										<div class="tile-content">
											<h3>DailyEmunah<small>.org</small></h3>

											<p>
												<strong>415</strong><span>Short Lessons</span>
											</p>
											<p>Achieving A Life of Serenity Through Faith</p>

											<span>Authored by Rabbi David Asher</span>
											<br>
											
										</div><!-- /.tile-content -->

										<div class="tile-actions">
											<a href="#" class="link-play">
										

										<img  src="/assets/build/css/images/play_button.png" (click)="playNow(3,'DailyEmunah.com')"/>
										<img src="/assets/build/css/images/read_now.png" (click)="readNow(3)"/>
									</a>

											<ul class="list-actions">
												<li data-id="tile-5">
													<!--<a href="#">
												<i class="ico-envelope"></i>
											</a>-->
												</li>
											</ul><!-- /.list-actions -->

											<a class="link-search" href="#item-content-4" data-size="full" (click)="AccionEmunah()">
												<i class="ico-magnifier-large"></i>
											</a>
										</div><!-- /.tile-actions -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->

								<p class="sorting">5</p>
							</div><!-- /.tile -->

							<div class="tile ballon" id="item-content-4">
								<app-emunah-search ></app-emunah-search>
							</div><!-- /.tile ballon -->

							<div class="tile" id="tile-6">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-6.jpg);">
									<div class="tile-body">
										<div class="tile-entry">
											<div class="tile-content">
												<h3>AruchHashulchan<small>.com</small></h3>

												<p>The Shulchan Aruch Explained, and organized with commentaries from the Gemara and Rambam</p>

												<span>Taught by Rabbi Eli J Mansour</span>
											</div><!-- /.tile-content -->

											<div class="tile-actions">
												<!--<a href="#" class="link-play">
										  			<i class="fa fa-book fa-lg" title="Today's Reading"></i>
									    		</a>-->
												<a href="#" class="link-search"  href="#item-content-25" data-size="full">
													<i class="ico-magnifier-large"></i>
												</a>
											</div><!-- /.tile-actions -->
										</div><!-- /.tile-entry -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->

								<p class="sorting">6</p>
							</div><!-- /.tile -->

							<div class="tile ballon" id="item-content-25">
								<app-aruch ></app-aruch>
							</div><!-- /.tile ballon -->

							<div class="tile" id="tile-7">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-7.jpg);">
									<div class="tile-body">
										<div class="tile-content">
											<h3>PeleYoetz<small>.com</small></h3>

											<p>Musar | Ethics for Living</p>

											<span>Taught by Rabbi Eli J Mansour</span>
										</div><!-- /.tile-content -->

										<div class="tile-actions">
											<a class="link-search" href="#item-content-5" data-size="full" (click)="AccionPele()">
										<i class="ico-magnifier-large"></i>
									</a>
										</div><!-- /.tile-actions -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->

								<p class="sorting">7</p>
							</div><!-- /.tile -->

					       <div class="tile ballon" id="item-content-5">
						      <app-pele-yoetz ></app-pele-yoetz>
					       </div><!-- /.tile ballon -->

							<div class="tile" id="tile-8">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-8.jpg);">
									<div class="tile-body">
										<div class="tile-content">
											<h3>DailyHok<small>.com</small></h3>

											<p>Hok L’Yisrael for Every Day Learning</p>

											<span>Taught by Rabbi Eli J Mansour</span>
										</div><!-- /.tile-content -->

										<div class="tile-actions">
											<a href="#" class="link-play">
										

										<img  src="/assets/build/css/images/play_button.png" (click)="playNow(2,'DailyHok Class')" />
										<a href="#" data-size="half" title="Today's Reading" (click)="readNow(2)">
										  <img src="/assets/build/css/images/read_now.png" />
										</a>
									</a>

									<a href="#item-content-6" class="link-search" data-size="full">
										<i class="ico-magnifier-large"></i>
									</a>
										</div><!-- /.tile-actions -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->

								<p class="sorting">8</p>
							</div><!-- /.tile -->

							<div class="tile ballon" id="item-content-6">
								<app-hok-search ></app-hok-search>
							</div><!-- /.tile ballon -->

							<div class="tile" id="tile-9">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-9.jpg);">
									<div class="tile-body">
										<div class="tile-content">
											<h3>PrayersAndTefilot<small>.com</small></h3>

											<p>Berachot for all situations</p>

											<span style="color:darkgoldenrod;">COMING SOON</span>
										</div><!-- /.tile-content -->

										<div class="tile-actions">
											<a href="#" class="link-search">
										<i class="ico-magnifier-large"></i>
									</a>
										</div><!-- /.tile-actions -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->

								<p class="sorting">9</p>
							</div><!-- /.tile -->

							<div class="tile" id="tile-10">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-6.jpg);">
							<div class="tile-body">
								<div class="tile-entry">
									<div class="tile-content" style="padding: 5px 0 50px 0;">
										
										

									</div><!-- /.tile-content -->

									<div class="tile-actions">
										<div class="mishna">
										  <div style="display: inline-block;width:80%">
										    <h3>MishnaBerura<small>.com</small></h3>

										    <span>Taught by Rabbi Eli J Mansour</span>
										  </div>

										  <div style="display:inline-block;width:20%;text-align:right;padding:10px 0px;float:right;">
											<a class="" href="#item-content-77" data-size="full">
											<i class="ico-magnifier-large"></i>
											</a>
										</div>
										</div>	

										
										<div class="mishna">

										<div style="display: inline-block;width:80%">
											<h3>MishnaBeruraYomi<small>.com</small></h3>

											<span>Taught by Rabbi Meyer Yedid</span>
										</div>	

										<div style="display:inline-block;width:20%;text-align:right;padding:10px 0px;float:right;">
											<a class="" href="#item-content-88" data-size="full">
											<i class="ico-magnifier-large"></i>
											</a>
										</div>	

										</div>
										
									
										<div class="mishna">
											<div style="display: inline-block;width:80%">
												<h3>MishnaBeruraDaily<small>.com</small></h3>

												<span>Taught by Rabbi Shmuel Choueka</span>
											</div>
											
											<div style="display:inline-block;width:20%;text-align:right;padding:10px 0px;float:right;">
											 <a class="" href="#item-content-9" data-size="full">
											 <i class="ico-magnifier-large"></i>
											 </a>
										    </div>


										</div>
									</div><!-- /.tile-actions -->
								</div><!-- /.tile-entry -->
							</div><!-- /.tile-body -->
						</div><!-- /.tile-inner -->

						<p class="sorting">10</p>
					</div><!-- /.tile -->
                    
					
					<div class="tile ballon" id="item-content-77">
						<app-berura></app-berura>
					</div><!-- /.tile ballon -->
                    
					<div class="tile ballon" id="item-content-88">
						<app-mishna-berura-yomi></app-mishna-berura-yomi>
					</div><!-- /.tile ballon -->

					<div class="tile ballon" id="item-content-9">
						<app-berura-daily></app-berura-daily>
					</div><!-- /.tile ballon -->

					<div class="tile" id="tile-11">
								<div class="tile-inner" style="background-image: url(/assets/build/css/images/temp/tile-image-10.jpg);">
									<div class="tile-body">
										<div class="tile-content">
											<h3>WeeklyInspire<small>.com</small></h3>

											<span>Authored by Rabbi Joey Haber</span>
										</div><!-- /.tile-content -->

										<div class="tile-actions">
											<a href="#" class="link-play">
										

										<img  src="/assets/build/css/images/play_button.png" (click)="playNow(15,'WeeklyInspire.com')"/>
										<img src="/assets/build/css/images/read_now.png" (click)="readNow(15)"/>
									</a>

											<ul class="list-actions">
												<li>
													<!--	<a href="#">
												<i class="ico-envelope"></i>
											</a>-->
												</li>
											</ul><!-- /.list-actions -->

									<a href="#item-content-12" class="link-search" data-size="full">
										<i class="ico-magnifier-large"></i>
									</a>
										</div><!-- /.tile-actions -->
									</div><!-- /.tile-body -->
								</div><!-- /.tile-inner -->
								<p class="sorting">11</p>
							</div><!-- /.tile -->

							<div class="tile ballon" id="item-content-12">
								<app-inspire></app-inspire>
							</div><!-- /.tile ballon -->

						</div><!-- /.tiles -->
					</div><!-- /.section-content -->
				</div><!-- /.shell -->
			</section><!-- /.section section-tiles -->

			<app-video-thumbnail></app-video-thumbnail>

			<app-place-holder></app-place-holder>

		</div><!-- /.main -->

		<footer class="footer">
			<div class="shell">
				<div class="footer-inner">
					<aside class="footer-aside">
						<p class="copyright">© 2016-17 iTorah.com Learning Resources Ltd. All rights reserved.</p><!-- /.copyright -->
					</aside><!-- /.footer-aside -->

					<nav class="nav-secondary">
						<ul>
							<li>
								<a href="#" (click)="AboutUs()">About</a>
							</li>

							<li>
								<a href="#" (click)="Contact()">Contact</a>
							</li>

							<!--<li>
								<a href="#">Judica Text</a>
							</li>

							<li>
								<a href="#">Links</a>
							</li> -->

							<li>
								<a href="#" (click)="Privacy()">Privacy</a>
							</li>

							<li >
								<a (click)="OpenPopup('#popup-advertise')" href="#popup-advertise">Advertise on iTorah</a>
							</li>
						</ul>
					</nav><!-- /.nav-secondary -->
				</div><!-- /.footer-inner -->
			</div><!-- /.shell -->
		</footer><!-- /.footer -->
	</div><!-- /.container -->
</div><!-- /.wrapper -->

<div class="loader"  *ngIf="loader">   </div>
