<div class="popup dedications" id="mobile">
	<div class="popup-head">
		<form action="?" method="get">
			<label for="field-search-content" style="color: #4792d9;">
				<span style=" letter-spacing: 0.01em;   padding: .5em 1em; font-size: 0.9em; color: #0551b1; font-weight: 500; border-right: 2px solid #b7b7b7;">iTorah Mobile</span>
				<span style="letter-spacing: 0.01em;padding-left:1em;font-weight:600;color: #000">Mobile Settings</span>
			</label>

			<a href="#" class="link-close" (click)="Close()">
					<i class="ico-close"></i>
				</a>
		</form>
	</div>
	<!-- /.popup-head -->

	<div class="popup-body">

		<div class="row">
			<!-- Current settings -->
			<div class="app_wrap">
				<div class="app_header">Current Settings</div>
				<div class="app_sub_header"><i class="fa fa-info-circle"></i>Configure below when and how your portable device will download each preferred audio
					files each day.</div>
				<form novalidate [formGroup]="form">
					<div class="app_wifi app_borders">
						<p>Wi-Fi Download</p>

						<div class="form-check">
							<label>
								<input type="radio" name="wifiOnly" [value]="false" formControlName="wifiOnly"> <span class="label-text">Update app at any time data charge may apply</span>
							</label>
						</div>
						<div class="form-check">
							<label>
								<input type="radio" name="wifiOnly" [value]="true" formControlName="wifiOnly"> <span class="label-text">Update app over wifi only</span>
							</label>
						</div>
					</div>

					<div class="app_time app_borders">
						<p class="app_label">Set Time</p>

						<input id="time" type="time" formControlName="downloadTime">

						<!--*<select>
							<option>12:00 PM</option>
							<option>12:30 PM</option>
					    </select>-->
					</div>

					<div class="app_time app_borders">
						<p class="app_label">Set When To Download </p>
						<select multiple="true" formControlName="downloadDays">
              				<option value="1">Sunday</option>
              				<option value="2">Monday</option>
              				<option value="3">Tuesday</option>
              				<option value="4">Wednesday</option>
              				<option value="5">Thursday</option>
              				<option value="6">Friday</option>
              				<option value="7">Saturday</option>
						</select>
					</div>
				</form>

				<div class="app_time app_borders" style="color:#c34242;font-size: 13px;">
					iTorah will attemp 3 times, once per hour, starting with your assigned time above. If unsuccessful all 3 times, the iTorah
					will not ttry again until the next scheduled download

					<input *ngIf="!requesting" type="button" value="Apply" class="apply" (click)="Apply()">
					<i *ngIf="requesting" class="fa fa-spinner fa-pulse fa-2x"></i>

				</div>
			</div>
			<!-- your current playlist -->
			<div class="app_wrap_content" style="min-height:500px">
				<div class="app_header">Your Current Playlist</div>
				<div style="background: #e4e5e9;min-height:500px;padding: 1em;max-height: 501px; overflow-y: auto; padding: 1em;" id="style-2">

					<div class="app_box" *ngFor="let item of Favorites()" (click)="Remove(item)">
						<div style="width:90%;float:left;display: inline-block;">
							<p>{{item.title}}</p>
							<p style=" font-size: .7em; color: blue;">{{item.descripcion}}</p>
						</div>
						<div style="width:10%;text-align: center;display: inline-block; line-height:2em;">
							<i class="fa fa-minus"></i>
						</div>
					</div>


				</div>

			</div>

			<!-- choose your playlist -->
			<div class="app_wrap_content" style="min-height:500px">
				<div class="app_header">Choose Your Playlist</div>
				<div class="app_sub_header"><i class="fa fa-info-circle"></i>The most recent lectures for you selected list will be downloaded.</div>

				<div style="background: #f9f9f9;min-height:445px;padding: 1em;max-height: 446px; overflow-y: auto; padding: 1em;" id="style-2">

					<div class="app_box" *ngFor="let item of browseList" (click)="ChangeStatus(item,true)">
						<div style="width:90%;float:left;display: inline-block;">
							<p>{{item.title}}</p>
							<p style=" font-size: .7em; color: blue;">{{item.descripcion}}</p>
						</div>
						<div style="width:10%;text-align: center;display: inline-block; line-height:2em;">
							<i class="fa fa-plus" *ngIf="!IsFavorite(item)"></i>
							<i class="fa fa-check" *ngIf="IsFavorite(item)" style="color: #37c47c;"></i>
						</div>
					</div>

					<div class="app_box"  (click)="ShowColum(true)">
						<div style="width:90%;float:left;display: inline-block;">
							<p>Parasha of the Week by</p>
							<!--<p style=" font-size: .7em; color: blue;">{{item.descripcion}}</p>-->
						</div>
						<div style="width:10%;text-align: center;display: inline-block; line-height:2em;">
							<i class="fa fa-arrow-right"></i>
						</div>
					</div>

				</div>

			</div>

			<!-- Parasha of the week by -->
			<div class="app_wrap_content_last" style="min-height:500px;" *ngIf="parashaColum"> 
				<div class="app_header">Parasha of The Week By</div>
				<div class="app_sub_header"><i class="fa fa-info-circle"></i>The most recent Parasha shiur for your selected speaker will be downloaded.</div>

				<div style="background: #f9f9f9;min-height:445px;padding: 1em;max-height: 446px; overflow-y: auto; padding: 1em;" id="style-2">

					<div class="app_box" *ngFor="let item of subBrowseList" (click)="ChangeStatus(item)">
						<div style="width:90%;float:left;display: inline-block;">
							<p>{{item.title}}</p>
							<p style=" font-size: .7em; color: blue;">{{item.descripcion}}</p>
						</div>
						<div style="width:10%;text-align: center;display: inline-block; line-height:2em;">
							<i class="fa fa-plus" *ngIf="!IsFavorite(item)"></i>
							<i class="fa fa-check" *ngIf="IsFavorite(item)" style="color: #37c47c;"></i>
						</div>
					</div>

				</div>

			</div>



		</div>
		<!-- row  -->
		<!-- /.list-dedications -->
	</div>
	<!-- /.popup-body -->

</div>