<div class="popup" id="downloadShirium">
  
  <div class="popup-head">
    
    <span> <b> {{headerTitle}}</b> </span>

    <a href="#" class="link-close-download" (click)="Close()">
						<i class="ico-close"></i>
		</a>

  </div>
  <!-- /.donate-head -->

  <div class="popup-body">

    <a href="" download id="downloadShiur" hidden></a>
    <p> {{message}} <a href="#/" (click)="StartDowload()" *ngIf="started">here</a>  </p>

    <div style="float: right;margin-bottom: 1em;" *ngIf="!started">

      <button type="button" class="search-btn buttonPurchase" (click)="goShop()" style="width:100px;" *ngIf="!enough">
						 <i class="fa fa-shopping-cart"></i> Shop
			</button>

      <button type="button" class="search-btn buttonPurchase" (click)="Download()" style="width:100px;" *ngIf="enough">
						 <i class="fa fa-download"></i> Download
			</button>

      <button type="button" class="search-btn buttonPurchase" (click)="Close()" style="background: #f05122">
						 <i class="fa fa-ban"></i> Cancel
			</button>

    </div>

  </div>
  <!-- /.donate-body -->
</div>