.donate-body{
    padding: 0.5em

}
ul{
        list-style-type: none;
        margin-left: 0.5em;
}

ul li{
    font-weight:500
}

.tile-box-results .tile-box-body {
    height: 340px;
}


ul li span{
    opacity: 0.7;
    font-weight: 400;
}


.col-lg-3:nth-of-type(1),.col-lg-3:nth-of-type(2),.col-lg-3:nth-of-type(3){

    border-right: 1px solid #dadada;
}

.col-xs-12, .col-md-6, .col-lg-3{
    height: 95%
}



@media(max-width:768px) {

.col-lg-3:nth-of-type(1),.col-lg-3:nth-of-type(2),.col-lg-3:nth-of-type(3){

    border-right: none;
    padding-bottom: 1em;
}

}

.waterMark{
    color: #4792d9;
    border-right: 1px solid #d3d3d3;
    padding-right: 0.5em;
}