<div class="tile-box" id="item-content-666">
  <div class="tile-box-primary tile-box-results">

    <div class="tile-box-head ">
      <span>This week's Levayot/Mournings </span> 


      <a href="#" class="link-close">
						<i class="ico-close"></i>
			</a>
    </div>
    <!-- /.donate-head -->


		<div class="tile-box-body">
      <div *ngFor="let s of shibas" class="col-xs-12 col-md-6 col-lg-3">

        <div>
          <b>Levaya is for: </b> <span>{{s.levayaIsFor}}</span>
        </div>

        <div>
          <b>Hebrew: </b> <span>{{s.hebrewName}} {{s.transliterationName}}</span>
        </div>

        <div>
          <b>Deceased On: </b> <span>{{s.deceasedOn| date: 'MM/dd/yyyy'}}</span>
        </div>


        <div>
          <b>Family Members: </b>
          <p>
            {{s.familyMembers}}
          </p>
          <!--<ul>
             <li *ngIf="s.spouse!=''">
               Spouse - <span style="opacity: .7;font-weight: 400;">{{s.spouse}}</span>
             </li>
             <li *ngIf="s.children.length>0">
               Children - 
               <span *ngFor="let c of s.children;let i = index" >
                 {{c}} <span *ngIf="i<s.children.length-1">,</span>
               </span>
             </li>  
             <li *ngIf="s.sibblings.length>0">
               Siblings - 
               <span *ngFor="let c of s.sibblings;let i = index" >
                 {{c}} <span *ngIf="i<s.sibblings.length-1">,</span>
               </span>
             </li>
          </ul> -->
        </div>

        <div>
          <b>Prayer Times: </b> <span>{{s.prayerTimes}}</span>
         </div>

         <div>
          <b>Sitting at: </b> <span>{{s.sittingAt}}</span>
         </div>

         <div>
          <b>Arayat Details: </b> <span>{{s.arayatDetails}}</span>
         </div>

         <div>
          <b>Shiva Until: </b> <span>{{s.shivaUntil| date: 'MM/dd/yyyy'}}</span>
         </div>

      </div>
    </div>
    <!-- /.donate-body -->

    <div class="tile-box-actions">
			<div class="paging">
			    <ul>
			          <li data-type="back"><a href="#/" class="paging-prev-shiba" (click)="PagingPrev()"><i class="ico-paging-prev"></i></a></li>
				      <li *ngFor="let p of pages"><a [ngClass]="{'current': p.current}" href="#/" data-type="page-shiba" id="{{p.id}}" (click)="Page(p.id)">{{p.id}}</a></li>
				      <li data-type="go"><a href="#/" class="paging-next-shiba" (click)="PagingNext()"><i class="ico-paging-next"></i></a></li>
			    </ul>
			</div><!-- /.paging -->
		</div><!-- /.table-actions -->

  </div>
</div>

