<div id="browseSearch" class="tile tile-search ballon tile-full">
    <div class="tile-box-primary">
        <div class="tile-box-head tile-box-head-block">
            <h3 *ngIf="!loading">Browse results</h3>
            <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-2x"></i>

            <a class="link-close" href="#">
								<i class="ico-close"></i>
							</a>
        </div>
        <!-- /.tile-box-head tile-box-head-block -->

        <div class="tabs-head">
            <ul class="">
                <!--<ul class="tabs-nav-->
                <li [class.current]="Current('All')" (click)="setCurrent('All')">
                    <a href="#/">
										All
										<span>{{all.length}} </span>
									</a>
                </li>

                <li [class.current]="Current('Recently')" (click)="setCurrent('Recently')">
                    <a href="#/">
										Recently Uploaded Classes
										<span>{{recently.length}} </span>
									</a>
                </li>

                <li [class.current]="Current('Popular')" (click)="setCurrent('Popular')">
                    <a href="#/">
										Popular Classes
										<span>{{popular.length}} </span>
									</a>
                </li>

                <li [class.current]="Current('Relevant')" (click)="setCurrent('Relevant')">
                    <a href="#/">
										Relevant Classes
										<span>{{relevant.length}} </span>
									</a>
                </li>

                <li [class.current]="Current('Category')" style="background-color:white" id="drops">

                    <div class="row" style="padding: 0.2em;">

                        <select class="col-sm-12 col-md-7" (click)="setCurrent('Category')" name="Scategory" id="Scategory" [(ngModel)]="category"
                            (change)="Category()">
					        <option *ngFor="let c of categorys" [ngValue]="c">{{c.name}}</option>
				        </select>

                        <select class="col-sm-12 col-md-5" (click)="setCurrent('Category')" name="Sspeaker" id="Sspeaker" [(ngModel)]="speaker" (change)="Category()">
					        <option *ngFor="let c of speakers" [ngValue]="c">{{c.firstName}} {{c.lastName}}</option>
				        </select>

                    </div>
                </li>


            </ul>
        </div>
        <!-- /.tabs-head -->
        <div style="max-height: 500px;overflow: auto;">

            <div class="tile-box-tab" [class.current]="Current('All')" id="search-tile-tab-1-b">
                <ul class="search-resultsults">
                    <li class="search-resultsult search-resultsult-title">
                        <div class="col col-medium">
                            <div class="col col-1of2"></div>
                            <!-- /.col col-1of2 -->

                            <div class="col col-1of2">
                                <a href="#/" (click)="Sort(all)" class="current">Data</a>
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col col-medium -->

                        <div class="col col-large">
                            <a href="#">Title</a>
                        </div>
                        <!-- /.col col-large -->

                        <div class="col col-small">
                            <a href="#">Duration</a>
                        </div>
                        <!-- /.col col-small -->

                        <div class="col col-small">Speaker</div>
                        <!-- /.col col-small -->

                        <div class="col">
                            <div class="col col-1of2">
                                <a href="#">download</a>
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col -->
                    </li>
                    <!-- /.search-resultsult -->

                    <li class="search-resultsult" *ngFor="let a of all">
                        <div class="col col-medium">
                            <div class="col col-1of2">


                                <a href="#/" *ngIf="a?.video!=''" (click)="Play(a.video,a.title,a.speaker,a.sponsor,a.id)" style="margin-right: 0.4em;">
								    <i class="ico-camera"></i>
								</a>

                                <a href="#/" *ngIf="a?.audio!=''" (click)="Play(a.audio,a.title,a.speaker,a.sponsor,a.id)">
								    <i class="ico-mic"></i>
								</a>

                            </div>
                            <!-- /.col col-1of2 -->

                            <div class="col col-1of2">
                                {{a.dateRecorded|date: 'MM/dd/yyyy'}}
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col col-medium -->

                        <div class="col col-large">
                            <p>{{a.title}}</p>
                        </div>
                        <!-- /.col col-large -->

                        <div class="col col-small col-duration" *ngIf="a.length!=null && a.length!=''">
                            {{a.length}} min
                            <a href="#">{{a.language|language}}</a>
                        </div>
                        <div class="col col-small col-duration" *ngIf="a.length==null || a.length==''">
                            <a href="#">Not Available</a>
                        </div>
                        <!-- /.col col-small -->

                        <div class="col col-small">
                            {{a.speaker}}
                        </div>
                        <!-- /.col col-small -->

                        <div class="col">
                            <!--<a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
                            <!-- /.btn btn-download -->

                            <a href="#" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
										</a>
                            <!-- /.btn btn-download -->
                        </div>
                        <!-- /.col -->
                    </li>
                    <!-- /.search-resultsult -->

                </ul>
                <!-- /.search-resultsults -->
            </div>

            <div class="tile-box-tab" [class.current]="Current('Recently')" id="search-tile-tab-2-b">
                <ul class="search-resultsults">
                    <li class="search-resultsult search-resultsult-title">
                        <div class="col col-medium">
                            <div class="col col-1of2"></div>
                            <!-- /.col col-1of2 -->

                            <div class="col col-1of2">
                                <a href="#/" (click)="Sort(recently)" class="current">Data</a>
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col col-medium -->

                        <div class="col col-large">
                            <a href="#">Title</a>
                        </div>
                        <!-- /.col col-large -->

                        <div class="col col-small">
                            <a href="#">Duration</a>
                        </div>
                        <!-- /.col col-small -->

                        <div class="col col-small">Speaker</div>
                        <!-- /.col col-small -->

                        <div class="col">
                            <div class="col col-1of2">
                                <a href="#">download</a>
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col -->
                    </li>
                    <!-- /.search-resultsult -->

                    <li class="search-resultsult" *ngFor="let a of recently">
                        <div class="col col-medium">
                            <div class="col col-1of2">
                                <a href="#/" *ngIf="a?.video!=''" (click)="Play(a.video,a.title,a.speaker,a.sponsor,a.id)" style="margin-right: 0.4em;">
								    <i class="ico-camera"></i>
								</a>

                                <a href="#/" *ngIf="a?.audio!=''" (click)="Play(a.audio,a.title,a.speaker,a.sponsor,a.id)">
								    <i class="ico-mic"></i>
								</a>
                            </div>
                            <!-- /.col col-1of2 -->

                            <div class="col col-1of2">
                                {{a.dateRecorded|date: 'MM/dd/yyyy'}}
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col col-medium -->

                        <div class="col col-large">
                            <p>{{a.title}}</p>
                        </div>
                        <!-- /.col col-large -->

                        <div class="col col-small col-duration" *ngIf="a.length!=null && a.length!=''">
                            {{a.length}} min
                            <a href="#">{{a.language|language}}</a>
                        </div>
                        <div class="col col-small col-duration" *ngIf="a.length==null || a.length==''">
                            <a href="#">Not Available</a>
                        </div>
                        <!-- /.col col-small -->

                        <div class="col col-small">
                            {{a.speaker}}
                        </div>
                        <!-- /.col col-small -->

                        <div class="col">
                            <!--<a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
                            <!-- /.btn btn-download -->

                            <a href="#" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
										</a>
                            <!-- /.btn btn-download -->
                        </div>
                        <!-- /.col -->
                    </li>
                    <!-- /.search-resultsult -->

                </ul>
                <!-- /.search-resultsults -->
            </div>

            <div class="tile-box-tab" [class.current]="Current('Popular')" id="search-tile-tab-3-b">
                <ul class="search-resultsults">
                    <li class="search-resultsult search-resultsult-title">
                        <div class="col col-medium">
                            <div class="col col-1of2"></div>
                            <!-- /.col col-1of2 -->

                            <div class="col col-1of2">
                                <a href="#/" (click)="Sort(popular)" class="current">Data</a>
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col col-medium -->

                        <div class="col col-large">
                            <a href="#">Title</a>
                        </div>
                        <!-- /.col col-large -->

                        <div class="col col-small">
                            <a href="#">Duration</a>
                        </div>
                        <!-- /.col col-small -->

                        <div class="col col-small">Speaker</div>
                        <!-- /.col col-small -->

                        <div class="col">
                            <div class="col col-1of2">
                                <a href="#">download</a>
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col -->
                    </li>
                    <!-- /.search-resultsult -->

                    <li class="search-resultsult" *ngFor="let a of popular">
                        <div class="col col-medium">
                            <div class="col col-1of2">
                                <a href="#/" *ngIf="a?.video!=''" (click)="Play(a.video,a.title,a.speaker,a.sponsor,a.id)" style="margin-right: 0.4em;">
								    <i class="ico-camera"></i>
								</a>

                                <a href="#/" *ngIf="a?.audio!=''" (click)="Play(a.audio,a.title,a.speaker,a.sponsor,a.id)">
								    <i class="ico-mic"></i>
								</a>
                            </div>
                            <!-- /.col col-1of2 -->

                            <div class="col col-1of2">
                                {{a.dateRecorded|date: 'MM/dd/yyyy'}}
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col col-medium -->

                        <div class="col col-large">
                            <p>{{a.title}}</p>
                        </div>
                        <!-- /.col col-large -->

                        <div class="col col-small col-duration" *ngIf="a.length!=null && a.length!=''">
                            {{a.length}} min
                            <a href="#">{{a.language|language}}</a>
                        </div>
                        <div class="col col-small col-duration" *ngIf="a.length==null || a.length==''">
                            <a href="#">Not Available</a>
                        </div>
                        <!-- /.col col-small -->

                        <div class="col col-small">
                            {{a.speaker}}
                        </div>
                        <!-- /.col col-small -->

                        <div class="col">
                            <!--<a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
                            <!-- /.btn btn-download -->

                            <a href="#" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
										</a>
                            <!-- /.btn btn-download -->
                        </div>
                        <!-- /.col -->
                    </li>
                    <!-- /.search-resultsult -->

                </ul>
                <!-- /.search-resultsults -->
            </div>

            <div class="tile-box-tab" [class.current]="Current('Relevant')" id="search-tile-tab-4-b">
                <ul class="search-resultsults">
                    <li class="search-resultsult search-resultsult-title">
                        <div class="col col-medium">
                            <div class="col col-1of2"></div>
                            <!-- /.col col-1of2 -->

                            <div class="col col-1of2">
                                <a href="#/" (click)="Sort(relevant)" class="current">Data</a>
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col col-medium -->

                        <div class="col col-large">
                            <a href="#">Title</a>
                        </div>
                        <!-- /.col col-large -->

                        <div class="col col-small">
                            <a href="#">Duration</a>
                        </div>
                        <!-- /.col col-small -->

                        <div class="col col-small">Speaker</div>
                        <!-- /.col col-small -->

                        <div class="col">
                            <div class="col col-1of2">
                                <a href="#">download</a>
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col -->
                    </li>
                    <!-- /.search-resultsult -->

                    <li class="search-resultsult" *ngFor="let a of relevant">
                        <div class="col col-medium">
                            <div class="col col-1of2">
                                <a href="#/" *ngIf="a?.video!=''" (click)="Play(a.video,a.title,a.speaker,a.sponsor,a.id)" style="margin-right: 0.4em;">
								    <i class="ico-camera"></i>
								</a>

                                <a href="#/" *ngIf="a?.audio!=''" (click)="Play(a.audio,a.title,a.speaker,a.sponsor,a.id)">
								    <i class="ico-mic"></i>
								</a>
                            </div>
                            <!-- /.col col-1of2 -->

                            <div class="col col-1of2">
                                {{a.dateRecorded|date: 'MM/dd/yyyy'}}
                            </div>
                            <!-- /.col col-1of2 -->
                        </div>
                        <!-- /.col col-medium -->

                        <div class="col col-large">
                            <p>{{a.title}}</p>
                        </div>
                        <!-- /.col col-large -->

                        <div class="col col-small col-duration" *ngIf="a.length!=null && a.length!=''">
                            {{a.length}} min
                            <a href="#">{{a.language|language}}</a>
                        </div>
                        <div class="col col-small col-duration" *ngIf="a.length==null || a.length==''">
                            <a href="#">Not Available</a>
                        </div>
                        <!-- /.col col-small -->

                        <div class="col col-small">
                            {{a.speaker}}
                        </div>
                        <!-- /.col col-small -->

                        <div class="col">
                            <!--<a href="#" class="btn btn-download">
											<i class="ico-download"></i> wma
										</a>-->
                            <!-- /.btn btn-download -->

                            <a href="#" class="btn btn-download" download>
											<i class="ico-download"></i> mp3
										</a>
                            <!-- /.btn btn-download -->
                        </div>
                        <!-- /.col -->
                    </li>
                    <!-- /.search-resultsult -->

                </ul>
                <!-- /.search-resultsults -->
            </div>

            <div class="tile-box-tab" [class.current]="Current('Category')" id="search-tile-tab-5-b">
                <app-pager [allResults]="allBrowse"></app-pager>
            </div>
        </div>
    </div>


    <!-- /.tile-box-primary -->
</div>