<div id="browseSearch" class="tile tile-search ballon tile-full">
    <div class="tile-box-primary">
        <div class="tile-box-head tile-box-head-block">
            <h3 *ngIf="!loading">Browse Lectures</h3>
            <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-2x"></i>

            <a class="link-close" href="#" (click)="Close()" id="CloseDedicationButton">
			    <i class="ico-close"></i>
			</a>
        </div>
        <!-- /.tile-box-head tile-box-head-block -->

        <div class="tabs-head">
            <ul class="">
                <!--<ul class="tabs-nav-->
                <!--<li [class.current]="Current('All')" (click)="setCurrent('All')">
                    <a href="#/">
										All
										<span>{{all.length}} </span>
									</a>
                </li> -->

                <li [class.current]="Current('Recently')" (click)="setCurrent('Recently')">
                    <a href="#/">
										Recently Uploaded Classes
										<span>{{recently.length}} </span>
									</a>
                </li>

                <li [class.current]="Current('Popular')" (click)="setCurrent('Popular')">
                    <a href="#/">
										Popular Classes
										<span>{{popular.length}} </span>
									</a>
                </li>

                <li [class.current]="Current('Relevant')" (click)="setCurrent('Relevant')">
                    <a href="#/">
										Relevant Classes
										<span>{{relevant.length}} </span>
									</a>
                </li>

                <li [class.current]="Current('Category')" id="drops" (click)="setCurrent('Category')">

                    <a href="#/" id="searchByLabel">
										Search by
										
                    </a>

                    <div class="row" style="padding: 0.2em;font-size: 13px;">

                        <div class="col-sm-12 col-md-1">
                            <label>Search by</label>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <select [(ngModel)]="category" (change)="SubCategory()">
					            <option *ngFor="let c of categorys" [ngValue]="c">{{NameforSelect(c)}}</option>
				            </select>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <select [(ngModel)]="subCategory"  [disabled]="category!=undefined&&category.id==0" [class.mydisabled]="category!=undefined&&category.id==0">
					            <option *ngFor="let c of subCategorys" [ngValue]="c">{{NameforSelect(c)}}</option>
				            </select>
                        </div>

                        <div class="col-sm-12 col-md-3">
                            <select [(ngModel)]="speaker" >
					            <option *ngFor="let c of speakers" [ngValue]="c">{{c.firstName}} {{c.lastName}}</option>
				            </select>
                        </div>

                    </div>
                </li>


            </ul>
        </div>
        <!-- /.tabs-head -->
        <div >

            <div  *ngIf="current=='Category'">

                <div id="auxDrops">

                            <select [(ngModel)]="category" (change)="SubCategory()" style="width:33%">
					            <option *ngFor="let c of categorys" [ngValue]="c">{{NameforSelect(c)}}</option>
				            </select>
                        
                            <select [(ngModel)]="subCategory"  [disabled]="category!=undefined&&category.id==0" [class.mydisabled]="category!=undefined&&category.id==0" style="width:33%">
					            <option *ngFor="let c of subCategorys" [ngValue]="c">{{NameforSelect(c)}}</option>
				            </select>
                        
                            <select [(ngModel)]="speaker" style="width:33%">
					            <option *ngFor="let c of speakers" [ngValue]="c">{{c.firstName}} {{c.lastName}}</option>
				            </select>
                </div>
            </div>

            <!--<div class="tile-box-tab" [class.current]="Current('All')" id="search-tile-tab-1-b">
             <app-pager [allResults]="all" ></app-pager>
            </div> -->

            <div class="tile-box-tab" [class.current]="Current('Recently')" id="search-tile-tab-2-b">
                <app-pager [allResults]="recently"></app-pager>
            </div>

            <div class="tile-box-tab" [class.current]="Current('Popular')" id="search-tile-tab-3-b">
                <app-pager [allResults]="popular"></app-pager>
            </div>

            <div class="tile-box-tab" [class.current]="Current('Relevant')" id="search-tile-tab-4-b">
                <app-pager [allResults]="relevant"></app-pager>
            </div>

            <div class="tile-box-tab" [class.current]="Current('Category')" id="search-tile-tab-5-b">
                <app-pager-server [categoryId]="category?.id" [subCategoryId]="subCategory?.id" [speakerId]="speaker?.id" (myEvent)="Status($event)"></app-pager-server>
            </div>
        </div>
    </div>


    <!-- /.tile-box-primary -->
</div>