


.search-resultsults .search-resultsult-title > .col a.current{
    background-color:inherit ;
    border-bottom: none;
}

@media (min-width: 992px){

.col-md-7 {
    width: 58.33333333% !important;
}

}

@media (max-width: 767px)
{
 #drops{
  width: 100%
 }
}

select
{
    border-color: #ffc800;
    border-radius: 0.2em;
    height: 2em;
        margin-top: 0.35em;
}
