<div class="popup classes" id="myAlert">
  <div class="popup-head">
    <form action="?" method="get">
      <label for="field-search-content">Alerts</label>

      <a href="#" class="link-close">
					<i class="ico-close"></i>
				</a>
    </form>
  </div>
  <!-- /.popup-head -->

  <div class="popup-body">

    <div class="row myHeader">
      <div class="col-lg-3">
        <p>Current alerts</p>
        <p style="font-weight: 200;">Email alerts for shiurim/lectures by Rabbis/teacher</p>
      </div>

      <div class="col-lg-3 buttonContainer">
        <button class="search-btn" type="button" style="background: #3dc277;color: white;">NEW ALERT</button>
      </div>

      <div class="col-lg-6 buttonContainer">
        <button class="search-btn button-save" type="button">SAVE</button>
      </div>
    </div>
      
  </div>
  <!-- /.popup-body -->

</div>
<!-- /.popup classes -->