<div class="popup shop" id="shop">
  <div class="popup-head">
    <form action="?" method="get">
      <label for="field-search-content">Shop</label>

      <a href="#" class="link-close">
					<i class="ico-close"></i>
				</a>
    </form>
  </div>
  <!-- /.popup-head -->

  <div class="popup-body" id="shop-1">
    <div class="cols cols-2">
      <div class="col-1of2">
        <div class="form-credits">
          <form action="?" method="post">
            <div class="form-head">
              <h4>Credits</h4>
            </div>
            <!-- /.form-head -->

            <div class="form-body">
              <div class="form-row">

                <div class="form-total-credits">
                  <h3 class="total-credits-label">Current Shiurim balance</h3>

                  <h1 class="total-credits">
                    <span>32</span> Shiurim
                    <small class="average-price">($16)</small>
                  </h1>

                  <p>
                    Select amount to charge <br>
                    <strong>Each credit costs $2</strong>
                  </p>

                </div>



              </div>
              <!-- /.form-row -->

              <div class="form-row">
                <ul class="list-credits">
                  <li>
                    <h2>
                      5
                      <small>shiurim</small>
                    </h2>

                    <a href="#" class="btn btn-yellow" (click)="Add(1)">Buy</a>

                    <p class="price">$10</p>
                    <!-- /.price -->
                  </li>

                  <li>
                    <h2>
                      10
                      <small>shiurim</small>
                    </h2>

                    <a href="#" class="btn btn-yellow" (click)="Add(2)">Buy</a>

                    <p class="price">$20</p>
                    <!-- /.price -->
                  </li>

                  <li>
                    <h2>
                      13
                      <small>shiurim</small>
                    </h2>

                    <a href="#" class="btn btn-yellow" (click)="Add(3)">Buy</a>

                    <p class="price">$26</p>
                    <!-- /.price -->
                  </li>

                  <li>
                    <h2>
                      25
                      <small>shiurim</small>
                    </h2>

                    <a href="#" class="btn btn-yellow" (click)="Add(4)">Buy</a>

                    <p class="price">$50</p>
                    <!-- /.price -->
                  </li>

                  <li>
                    <h2>
                      50
                      <small>shiurim</small>
                    </h2>

                    <a href="#" class="btn btn-yellow" (click)="Add(5)">Buy</a>

                    <p class="price">$100</p>
                    <!-- /.price -->
                  </li>
                </ul>
                <!-- /.list-credits -->
              </div>
              <!-- /.form-row -->

              <div class="form-row"></div>
              <!-- /.form-row -->
            </div>
            <!-- /.form-body -->

            <div class="form-actions hidden">
              <input type="submit" value="Submit" class="form-btn">
            </div>
            <!-- /.form-actions -->
          </form>
        </div>
        <!-- /.form-credits -->
      </div>
      <!-- /.col-1of2 -->

      <div class="col-1of2">
        <div class="form-order-summary">
          <form action="?" method="post">
            <div class="form-head">
              <h4>Order Summary</h4>
            </div>
            <!-- /.form-head -->

            <div class="form-body">
              <!--<div class="form-row form-total-credits">
                <h3 class="total-credits-label">Current Shiurim balance</h3>

                <h1 class="total-credits">
                  <span>32</span> Shiurim
                  <small class="average-price">($16)</small>
                </h1>
              </div> -->
              <!-- /.form-row -->

              <div class="form-row">
                <div class="table-credits">
                  <table>
                    <tfoot>
                      <tr>
                        <th colspan="2">Total</th>

                        <th>{{Total()| currency:'USD':true:'2.2-2'}}</th>
                      </tr>
                    </tfoot>

                    <tbody>
                      <tr *ngIf="rows.length>0">
                        <th>Product</th>

                        <th>QTY</th>

                        <th>Price</th>
                      </tr>

                      <tr *ngFor="let r of rows">
                        <td>{{r.quantity}} Shiurim</td>

                        <td>

                          <div class="select select-yellow" style="width: 50%;">
                            <select name="field-by-topic" id="field-by-topic" (change)="ChangeCount(r.id,$event.target.value)">
				                			<option *ngFor="let n of numbers">{{n}}</option>	
						                </select>
                          </div>

                        </td>

                        <td>
                          {{r.price| currency:'USD':true:'2.2-2'}}
                        </td>

                        <td>
                          <a href="#/" class="link-add" (click)="Remove(r.id)" title="Remove">
								            <i class="fa fa-minus" ></i>
							            </a>
                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
                <!-- /.table -->
              </div>
              <!-- /.form-row -->
            </div>
            <!-- /.form-body -->

            <div class="form-actions">
              <a href="#shop-2" class="form-submit" (click)="Buy()"  [class.mydisabled]="rows.length<=0">continue to checkout</a>
            </div>
            <!-- /.form-actions -->
          </form>
        </div>
        <!-- /.form-order-summary -->
      </div>
      <!-- /.col-1of2 -->
    </div>
    <!-- /.cols -->
  </div>
  <!-- /.popup-body -->

  <div class="popup-body hidden" id="shop-2">
    <a href="#shop-1" class="btn btn-yellow btn-make-dedication btn-back btn-toggle"></a>

    <div class="cols cols-2">
      <div class="col-1of2">
        <div class="form-order-summary">
          <form action="?" method="post">
            <div class="form-head">
              <h4>Order Summary</h4>
            </div>
            <!-- /.form-head -->

            <div class="form-body">
              <!--<div class="form-row form-total-credits">
                <h3 class="total-credits-label">Current Shiurim balance</h3>

                <h1 class="total-credits">
                  <span>32</span> Shiurim
                  <small class="average-price">($16)</small>
                </h1>
              </div>-->
              <!-- /.form-row -->

              <div class="form-row">
                <div class="table-credits">
                  <table>
                    <tfoot>
                      <tr>
                        <th colspan="2">Total</th>

                        <th>{{Total()| currency:'USD':true:'2.2-2'}}</th>
                      </tr>
                    </tfoot>

                    <tbody>
                      <tr>
                        <th>Product</th>

                        <th>QTY</th>

                        <th>Price</th>
                      </tr>

                      <tr *ngFor="let r of rows">
                        <td>{{r.quantity}} Shiurim</td>

                        <td>

                          <div class="select select-yellow" style="width: 50%;">
                            <select name="field-by-topic" id="field-by-topic" (change)="ChangeCount(r.id,$event.target.value)">
				                			<option *ngFor="let n of numbers">{{n}}</option>	
						                </select>
                          </div>

                        </td>

                        <td>
                          {{r.price| currency:'USD':true:'2.2-2'}}
                        </td>

                        <!--<td>
                          <a href="#/" class="link-add" (click)="Remove(r.id)">
								            <i class="fa fa-minus" ></i>
							            </a>
                        </td> -->

                      </tr>

                    </tbody>
                  </table>
                </div>
                <!-- /.table -->
              </div>
              <!-- /.form-row -->
            </div>
            <!-- /.form-body -->

            <!--<div class="form-actions">
              <input type="submit" value="continue to checkout" class="form-btn">
            </div> -->
            <!-- /.form-actions -->
          </form>
        </div>
        <!-- /.form-order-summary -->
      </div>
      <!-- /.col-1of2 -->

      <div class="col-1of2">
        <div class="form-order form-sponsor">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-head">
              <h4>Credit card detail</h4>
            </div>
            <!-- /.form-head -->

            <div class="form-body">
              <div class="form-row">
                <label for="field-select-card-on-file" class="form__label">Select card on file</label>

                <div class="form-controls">
                  <div class="select">
                    <select name="field-select-card-on-file" id="field-select-card-on-file">
												<option value="1234 4567 7890">1234 4567 7890</option>
												<option value="1234 1234 1234">1234 1234 1234</option>
											</select>
                  </div>
                  <!-- /.select -->
                </div>
                <!-- /.form-controls -->
              </div>
              <!-- /.form-row -->

              <div class="form-row">
                <span>or</span>

                <label for="field-card-number" class="form__label">Card number</label>

                <div class="form-controls">
                  <input formControlName="creditCard"  class="field" type="tel" autocomplete="cc-number" ccNumber name="field-card-number" id="field-card-number">
                </div>
                <div   class="animated bounceIn" style="color:red;" *ngIf="form.get('creditCard').hasError('required') && form.get('creditCard').touched">
        						Credit Card is required
      					</div>
                
                <div   class="animated bounceIn" style="color:red;" *ngIf="form.controls.creditCard.errors!=null && form.get('creditCard').touched">
        						Credit Card number is invalid
      					</div>

                <!-- /.form-controls -->
              </div>
              <!-- /.form-row -->

              <div class="form-row">
                <label for="field-expiration" class="form__label">Expiration</label>

                <div class="form-controls">
                  <input type="text" class="field field-date" name="field-expiration" id="field-expiration" formControlName="expirationDate" type="tel" autocomplete="cc-exp" ccExp >
                </div>
                
                <div   class="animated bounceIn" style="color:red;" *ngIf="form.get('expirationDate').hasError('required') && form.get('expirationDate').touched">
        						Expiration Date is required
      					</div>
                
                <div   class="animated bounceIn" style="color:red;" *ngIf="form.controls.expirationDate.errors!=null && form.get('expirationDate').touched">
        						Expiration Date is invalid
      					</div>
                <!-- /.form-controls -->
              </div>
              <!-- /.form-row -->

              <div class="form-row">
                <label for="field-cvv" class="form__label">CVV</label>

                <div class="form-controls">
                  <input type="text" class="field" name="field-cvv" id="field-cvv" formControlName="cvc" type="tel" autocomplete="off" ccCvc>
                </div>

                <div   class="animated bounceIn" style="color:red;" *ngIf="form.get('cvc').hasError('required') && form.get('cvc').touched">
        						CVV is required
      					</div>
                
                <div   class="animated bounceIn" style="color:red;" *ngIf="form.controls.cvc.errors!=null && form.get('cvc').touched">
        						CVV is invalid
      					</div>

                <!-- /.form-controls -->
              </div>
              <!-- /.form-row -->

              <div class="form-row form-row-small">
                <label for="field-total" class="form__label">Total (USD)</label>

                <div class="form-controls">
                  <input type="text" class="field" name="field-total" id="field-total" value="" placeholder="{{Total()| currency:'USD':true:'2.2-2'}}" disabled>
                </div>
                <!-- /.form__controls -->
              </div>
              <!-- /.form-row form-row-small -->

              <div class="form-row">
                <p>You will get an email with process order information</p>

                <div class="g-recaptcha" data-sitekey="6LfMsi4UAAAAACwKrKCRPHYpmqVFCuCZYNM7mFH9"></div>
              </div>
              <!-- /.form-row -->
            </div>
            <!-- /.form-body -->

            <div class="form-actions">
              <input type="submit" value="Process order" class="form-btn" [disabled]="Validate()" [class.mydisabled]="Validate()" >
            </div>
            <!-- /.form-actions -->
          </form>
        </div>
        <!-- /.form-order -->
      </div>
      <!-- /.col-1of2 -->
    </div>
    <!-- /.cols -->
  </div>
  <!-- /.popup-body -->
</div>
<!-- /#shop.popup shop -->