<div class="form-order form-sponsor">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-head">
      <h4 class="step-title">
        	<span *ngIf="origin=='sponsor'">
						step
						<span>3</span>
					</span>
        Credit card detail
      </h4>
    </div>
    <!-- /.form-head -->

    <div class="form-body">
     
      <div class="form-row" [hidden]="savedArr.length==0">
        <label for="field-select-card-on-file" class="form__label">Select card on file</label>

        <div class="form-controls">

          <div class="select">
            <select  name="field-select-card-on-file" id="field-select-card-on-file" formControlName="saveds" (change)="CheckSSaveds()">
							
              <option value="default">Select a Card</option>
              <option *ngFor="let c of savedArr" [ngValue]="c"> 
                <i class="fa fa-credit-card"></i>
                 <b>{{c.cardType}}</b> ending in {{c.last4Digits}}
              </option>
						</select>
          </div>
          
        </div>
        
      </div>
      <!-- /.form-row -->

      <div class="form-row" [hidden]="savedArr.length>0 && form.controls.saveds.value!='default'">
        <label for="field-name" class="form__label">Name</label>

        <div class="form-controls">
          <input type="text" class="field" name="field-name" id="field-name" formControlName="name">
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
          Name is required
        </div>

        <!-- /.form-controls -->
      </div>
      <!-- /.form-row -->

      <div class="form-row" [hidden]="isDonate==false||isAuthenticated()">
        <label for="field-name" class="form__label">Email</label>

        <div class="form-controls">
          <input type="text" class="field" name="field-email" id="field-email" formControlName="email">
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="!form.get('email').valid  && form.get('email').touched">
          Email is invalid
        </div>

        <!-- /.form-controls -->
      </div>
      <!-- /.form-row -->


      <div class="form-row" [hidden]="savedArr.length>0 && form.controls.saveds.value!='default'">
        <!--<span>or</span>-->

        <label for="field-card-number" class="form__label">Card number</label>

        <div class="form-controls">
          <input formControlName="creditCard" class="field" type="tel" autocomplete="cc-number" ccNumber name="field-card-number" id="field-card-number">
        </div>
        <div class="animated bounceIn" style="color:red;" *ngIf="form.get('creditCard').hasError('required') && form.get('creditCard').touched">
          Credit Card is required
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.controls.creditCard.errors!=null && form.get('creditCard').touched">
          Credit Card number is invalid
        </div>

        <!-- /.form-controls -->
      </div>
      <!-- /.form-row -->

      <div class="form-row">
        <label for="field-expiration" class="form__label">Expiration</label>

        <div class="form-controls">
          <input type="text" class="field field-date" name="field-expiration" id="field-expiration" formControlName="expirationDate"
            type="tel" autocomplete="cc-exp" ccExp>
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.get('expirationDate').hasError('required') && form.get('expirationDate').touched">
          Expiration Date is required
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.controls.expirationDate.errors!=null && form.get('expirationDate').touched">
          Expiration Date is invalid
        </div>
        <!-- /.form-controls -->
      </div>
      <!-- /.form-row -->

      <div class="form-row">
        <label for="field-cvv" class="form__label">CVV</label>

        <div class="form-controls">
          <input type="text" class="field" name="field-cvv" id="field-cvv" formControlName="cvc" type="tel" autocomplete="off" ccCvc>
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.get('cvc').hasError('required') && form.get('cvc').touched">
          CVV is required
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.controls.cvc.errors!=null && form.get('cvc').touched">
          CVV is invalid
        </div>

        <!-- /.form-controls -->
      </div>
      <!-- /.form-row -->

      <div class="form-row form-row-small">
        <label for="field-total" class="form__label">Total (USD)</label>

        <div class="form-controls">
          <input type="text" class="field" name="field-total" id="field-total" value="" placeholder="{{value| currency:'USD':true:'2.2-2'}}"
            disabled>
        </div>



        <!-- /.form__controls -->
      </div>
      <!-- /.form-row form-row-small -->

      <div class="form-row">
        <p>You will get an email receipt confirming your order</p>

     <!--   <div class="g-recaptcha" data-sitekey="6LfMsi4UAAAAACwKrKCRPHYpmqVFCuCZYNM7mFH9"></div> -->
      </div>
      <!-- /.form-row -->
    </div>
    <!-- /.form-body -->

    <div class="form-actions">
      <input *ngIf="!requesting" type="submit" value="Process order" class="form-btn"> <!-- [disabled]="Validate()" [class.mydisabled]="Validate()" -->
      <i *ngIf="requesting" class="fa fa-spinner fa-pulse fa-2x"></i>
      <span style="margin-top: 0.5em;" *ngIf="paymentError">
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="display:table; color:red"></i>
        <span style="color:red"> Your order was not approved. Please try again </span>
      </span>  
    </div>
    <!-- /.form-actions -->
  </form>
</div>