<div class="form-order form-sponsor">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-head">
      <h4>Credit card detail</h4>
    </div>
    <!-- /.form-head -->

    <div class="form-body">
      <div class="form-row">
        <label for="field-select-card-on-file" class="form__label">Select card on file</label>

        <div class="form-controls">
          <div class="select">
            <select name="field-select-card-on-file" id="field-select-card-on-file">
												<option value="1234 4567 7890">1234 4567 7890</option>
												<option value="1234 1234 1234">1234 1234 1234</option>
											</select>
          </div>
          <!-- /.select -->
        </div>
        <!-- /.form-controls -->
      </div>
      <!-- /.form-row -->

      <div class="form-row">
        <span>or</span>

        <label for="field-card-number" class="form__label">Card number</label>

        <div class="form-controls">
          <input formControlName="creditCard" class="field" type="tel" autocomplete="cc-number" ccNumber name="field-card-number" id="field-card-number">
        </div>
        <div class="animated bounceIn" style="color:red;" *ngIf="form.get('creditCard').hasError('required') && form.get('creditCard').touched">
          Credit Card is required
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.controls.creditCard.errors!=null && form.get('creditCard').touched">
          Credit Card number is invalid
        </div>

        <!-- /.form-controls -->
      </div>
      <!-- /.form-row -->

      <div class="form-row">
        <label for="field-expiration" class="form__label">Expiration</label>

        <div class="form-controls">
          <input type="text" class="field field-date" name="field-expiration" id="field-expiration" formControlName="expirationDate"
            type="tel" autocomplete="cc-exp" ccExp>
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.get('expirationDate').hasError('required') && form.get('expirationDate').touched">
          Expiration Date is required
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.controls.expirationDate.errors!=null && form.get('expirationDate').touched">
          Expiration Date is invalid
        </div>
        <!-- /.form-controls -->
      </div>
      <!-- /.form-row -->

      <div class="form-row">
        <label for="field-cvv" class="form__label">CVV</label>

        <div class="form-controls">
          <input type="text" class="field" name="field-cvv" id="field-cvv" formControlName="cvc" type="tel" autocomplete="off" ccCvc>
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.get('cvc').hasError('required') && form.get('cvc').touched">
          CVV is required
        </div>

        <div class="animated bounceIn" style="color:red;" *ngIf="form.controls.cvc.errors!=null && form.get('cvc').touched">
          CVV is invalid
        </div>

        <!-- /.form-controls -->
      </div>
      <!-- /.form-row -->

      <div class="form-row form-row-small">
        <label for="field-total" class="form__label">Total (USD)</label>

        <div class="form-controls">
          <input type="text" class="field" name="field-total" id="field-total" value="" placeholder="{{value| currency:'USD':true:'2.2-2'}}"
            disabled>
        </div>



        <!-- /.form__controls -->
      </div>
      <!-- /.form-row form-row-small -->

      <div class="form-row">
        <p>You will get an email with process order information</p>

        <div class="g-recaptcha" data-sitekey="6LfMsi4UAAAAACwKrKCRPHYpmqVFCuCZYNM7mFH9"></div>
      </div>
      <!-- /.form-row -->
    </div>
    <!-- /.form-body -->

    <div class="form-actions">
      <input type="submit" value="Process order" class="form-btn" [disabled]="Validate()" [class.mydisabled]="Validate()">
    </div>
    <!-- /.form-actions -->
  </form>
</div>