.current_letter {

	background: #fedb4f; color: #000;
}

.disabled_letter {

	opacity: 0.2;
}

.tile-box-speakers { min-height: 426px;  }

.tile-box-speakers .tile-box-body {

    height: 420px;
}

.lists .lists-head {
    padding: 0 48px 10px 0px;
}

#buttonBackAll{
    width: 80px;
    height: 33px;
    border: 1px solid #d3d3d3;
    background: #ffcc00;
    border-radius: 2px;
    border-radius: 4px;
}

.tracks-secondary .track-content {
    cursor: pointer;
}

/*****************************************************************************************/
.tile-box-primary .link-expand {
    position: absolute;
    bottom: -2em;
    right: 2em;
    z-index: 500;
    color: #959595;
}


@media(max-width:768px) {
   .tile-box-primary .link-expand {
       visibility: hidden
   } 
}