.imgGif{
margin-top: 1em;
height: 67.8em;
}

@media(max-height:800px) { /*mobile*/
 
 .imgGif{
    max-height: 58em;
 }

}

/*------------------------------------------------------------------------------------------------------------------------*/
.headerGemara
{
     border-left: 1px solid #dadada;

}

.select.select-yellow{
    width:inherit
}

.col-md-2{
    padding-left: 0px
}


.search-btn{
    width: 85px;
    height: 33px;
    border: 1px solid #d3d3d3;
    background: #ffcc00;
    border-radius: 4px;
}

.navigationContainer{
    padding-top: 1.1em;
    float: right;
    text-align: right;
}

@media(max-width:768px) {
 
 .navigationContainer{
    padding-top: 0.5em;
    float: initial;
    text-align: center;
 }

}