<div class="popup sponsor" id="fileShower">
  <div class="popup-head" style="padding:1rem">
    <form>
      <label for="field-search-content">Gemara</label>

      <a href="#" class="link-close">
					<i class="ico-close"></i>
				</a>
    </form>
  </div>
  <!-- /.popup-head -->
  <!-- This is sponsor Componenet -->
  <div class="popup-body">

    <img src="{{right}}" class="col-sm-12 col-lg-6" class="imgGif">
    <img src="{{left}}" class="col-sm-12 col-lg-6" class="imgGif">
   
  </div>


</div>