.imgGif{
margin-top: 1em;
height: 67.8em;
}

@media(max-height:800px) { /*mobile*/
 
 .imgGif{
    max-height: 58em;
 }

}

/*------------------------------------------------------------------------------------------------------------------------*/
.headerGemara
{
     border-left: 1px solid #dadada;

}

.select.select-yellow{
    width:inherit
}

.col-md-2{
    padding-left: 0px
}