@media(max-width: 767px){
  .daty{ display: none;}
}

.withMargin{

  padding-right: 0.5em;
  padding-left: 0.5em;
  border-right: 1px solid #bababa;
  background-color: #e2e2e2;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  float: right;

}

.col-lg-10{
  padding-right: 0px
}