<div style="border-bottom: 1px solid #dadada;" class="row"> 
   <div class="col-lg-2" style="background: #ffc800;text-align: center;height: 2em;padding-top: .5em">
      <span>SPONSOR A DAY</span>
   </div>

   <div class="col-lg-8" style="text-align: center;height: 2em;padding-top: .5em">
      <span> <b>{{dedicated}}</b> </span> 
   </div>

   <div class="col-lg-2 daty" style="background: #e2e2e2;text-align: center;height: 2em;padding-top: .5em">
      <span> Today {{todayDate| date: 'MM/dd/yyyy'}}</span>
   </div>

</div>