<div style="border-bottom: 1px solid #dadada;" class="row" id="todaySponsor"> 
   <div class="col-sm-2" style="background: #ffc800;text-align: center;height: 2em;padding-top: .5em;cursor: pointer;" (click)="OpenSponsor()">
      <span>SPONSOR</span>
   </div>
<!-- 
   <div class="col-sm-5 banner" style="text-align: right;height: 2em;padding-top: .5em">
      <b>IN LOVING MEMORY OF ABRAHAM ZION BEN NAVA A"H</b> 
   </div>  -->

   <div class="col-sm-5 daty" style="background: #fff;height: 2em;">
      <span class="withMargin" >  {{superhebrewDate}}</span>
      <span class="withMargin" >  {{hebrewDate}}</span>
      <span class="withMargin" >  {{englishDate}}</span>
   </div>

</div>