/* @media(max-width: 767px){
  .daty{ display: none;}
} */

.withMargin{

  padding-right: 0.5em;
  padding-left: 0.5em;
  border-right: 1px solid #bababa;
  background-color: #e2e2e2;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  float: right;

}

.col-sm-5{
  padding-right: 0px
}

@media(max-width:375px) /*phone portrait*/ 
{
  .daty{
    padding-right: 33px;

  }
  
  .banner{
    font-size: 13px;
    padding-right: 17px;
  }
}

@media only screen /*Ipad Portrait*/
  and (min-width: 768px) 
  and (max-width: 1024px)  {
  
    .daty{
      font-size: 15px;
      float: right;
    }
    
    .withMargin {
      height: 32px;
    }
}