<div style="border-bottom: 1px solid #dadada;" class="row" id="todaySponsor"> 
   <div class="col-lg-2" style="background: #ffc800;text-align: center;height: 2em;padding-top: .5em;cursor: pointer;" (click)="OpenSponsor()">
      <span>SPONSOR A DAY</span>
   </div>

   <div class="col-lg-7" style="text-align: center;height: 2em;padding-top: .5em">
      <span> <b>{{dedicated}}</b> </span> 
   </div>

   <div class="col-lg-3 daty" style="background: #e2e2e2;text-align: center;height: 2em;padding-top: .5em">
      <span class="withMargin">  {{englishDate}}</span>
      <span class="withMargin">  {{hebrewDate}}</span>
      <span>  {{superhebrewDate}}</span>
   </div>

</div>