<div class="tile-box" id="item-content-9">
	<div class="tile-box-primary tile-box-form">
		<div class="tile-box-head ">
			<h4>Mishna Berura by Rabbi Eli Mansour <span>With current day application and augmentation from the sefer Halacha Berura written by Chacham David Yoseph of Yichaave Daat</span></h4>
		</div><!-- /.table-head -->
		
		<div class="tile-box-body">
			<div class="form-secondary">
				<form action="?" method="post">
					<div class="form-body">
						<div class="form-row">
							<label for="field-select-halacha" class="form-label">Select Halacha by Chelek and Siman/Seif#</label>
							
							<div class="form-controls">
								<div class="form-cols">
									<div class="form-col">
										<div class="select select-yellow">
											<select name="field-chelek" id="field-chelek">
												<option value="">Chelek He</option>
											</select>
										</div><!-- /.select -->	
									</div><!-- /.form-col -->
									
									<div class="form-col">
										<div class="select select-yellow">
											<select name="field-siman" id="field-siman">
												<option value="">Siman : 486, 01</option>
											</select>
										</div><!-- /.select -->
									</div><!-- /.form-col -->
								</div><!-- /.form-cols -->
							</div><!-- /.form-controls -->
						</div><!-- /.form-row -->
						
						<div class="form-row">
							<label for="field-by-date" class="form-label">By date:</label>
							
							<div class="form-controls">
								<div class="form-cols">
									<div class="form-col">
										<div class="select select-yellow">
											<select name="field-chelek" id="field-chelek">
												<option value="">December</option>
											</select>
										</div><!-- /.select -->	
									</div><!-- /.form-col -->
									
									<div class="form-col">
										<div class="form-cols">
											<div class="form-col">
												<div class="select select-yellow">
													<select name="field-chelek" id="field-chelek">
														<option value="">13</option>
													</select>
												</div><!-- /.select -->	
											</div><!-- /.form-col -->
											
											<div class="form-col">
												<div class="select select-yellow">
													<select name="field-chelek" id="field-chelek">
														<option value="">2013</option>
													</select>
												</div>
											</div><!-- /.form-col -->
										</div><!-- /.form-cols -->
									</div><!-- /.form-col -->
								</div><!-- /.form-cols -->
							</div><!-- /.form-controls -->
						</div><!-- /.form-row -->
						
						<div class="form-row">
							<label for="field-by-topic" class="form-label">by-topic</label>
							
							<div class="form-controls">
								<div class="select select-yellow">
									<select name="field-by-topic" id="field-by-topic">
										<option value="">The Laws of Pesah</option>
									</select>
								</div><!-- /.select -->
								
								<div class="select select-yellow">
									<select name="field-by-topic" id="field-by-topic">
										<option value="">How much is a kezayit</option>
									</select>
								</div><!-- /.select -->
							</div><!-- /.form-controls -->
						</div><!-- /.form-row -->
						
						<div class="form-row">
							<label for="field-by-keyword" class="form-label">By Keyword</label>
							
							<div class="form-controls form-controls-search">
								<input type="text" class="field" name="field-by-keyword" id="field-by-keyword" value="" placeholder="Enter Search word ...">
								
								<input type="submit" value="" class="form-btn">
							</div><!-- /.form-controls -->
						</div><!-- /.form-row -->
					</div><!-- /.form-body -->
				</form>
			</div><!-- /.form-secondary -->
		</div><!-- /.table-body -->
		
	</div><!-- /.tile-box-primary -->
</div>