<div class="dropdown-head">
	
	<h4><i class="ico-profile"></i>{{title}}</h4>
	<a href="#" class="link-close-half" (click)="Close()">
						<i class="ico-close"></i>
	        </a>
</div>
<!-- /.dropdown-head -->

<div class="dropdown-body">
	<div class="form-signin">
		<form novalidate [formGroup]="form">
			<div class="form-head">
				<i class="ico-logo-small"></i>
			</div>
			<!-- /.form-head -->
			<div *ngIf="signIn" class="animated" [class.fadeIn]="!forgot || !createAccount">
				<div class="form-body">
					<div class="form-row">
						<label for="field-email" class="form-label hidden">Email</label>

						<div class="form-controls">
							<input type="text" class="field" name="field-email" id="field-email" value="" placeholder="Email" formControlName="email">
						</div>
						<!-- /.form-controls -->
						<div   class="animated bounceIn" style="color:red;" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
        						Email is required
      					</div>

						<div   class="animated bounceIn" style="color:red;" *ngIf="!form.get('email').valid  && form.get('email').touched">
        						Email is invalid
      					</div>
					</div>
					<!-- /.form-row -->

					<div class="form-row">
						<label for="field-password" class="form-label hidden">Password</label>

						<div class="form-controls">
							<input type="password" class="field" name="field-password" id="field-password" value="" placeholder="Password" formControlName="password">
						</div>
						<!-- /.form-controls -->
						<div   class="animated bounceIn" style="color:red;" *ngIf="form.get('password').hasError('required') && form.get('password').touched">
        						Password is required
      					</div>
					</div>
					<!-- /.form-row -->

					<div class="form-row">
						<div class="form-cols">
							<div class="form-col">
								<div class="animated bounceIn" *ngIf="messageVisible">
									<!--<input type="checkbox" id="checkbox1">-->

									<label for="checkbox1" style="color:red;cursor: text;" >Email or Password Incorrect</label>
								</div>
								<!-- /.checkbox -->
							</div>
							<!-- /.form-col -->

							<div class="form-col">
								<a class="link-forgot" href="#/" (click)="Forgot()">Forgot password</a>
							</div>
							<!-- /.form-col -->
						</div>
						<!-- /.form-cols -->
					</div>
					<!-- /.field-row -->
				</div>
				<!-- /.form-body -->

				<div class="form-actions">
					<input type="submit" value="SIGN IN" class="form-btn" (click)="Submit()" [disabled]="form.get('email').hasError('required')||!form.get('email').valid||form.get('password').hasError('required')" [class.mydisabled]="form.get('email').hasError('required')||!form.get('email').valid||form.get('password').hasError('required')">

					<p>or</p>

					<ul class="list-signin">
						<li>
							<a href="#" class="link-facebook" (click)="SignIn('facebook')">
																<i class="ico-btn-facebook"></i>
																
																Sign in with Facebook
															</a>
						</li>

						<li>
							<a href="#" class="link-google" (click)="SignIn('google')">
																<i class="ico-btn-google"></i>
																
																Sign in with Google+
															</a>
						</li>
					</ul>
					<!-- /.list-signin -->

					<p>Not a member? <a href="#/" (click)="CreateAccount()">Create an account</a></p>
				</div>
				<!-- /.form-actions -->
			</div>

            <div *ngIf="signOut" class="animated" [class.fadeIn]="!signIn">
				<div class="form-actions">
					<p style="margin-bottom: 0.5em">{{name}}</p>
					<input type="submit" value="Sign Out" class="form-btn" (click)="Logout()">
				</div>
				<!-- /.form-actions -->
			</div>

            <div *ngIf="forgot" class="animated" [class.fadeIn]="!signIn">

				<div class="form-row">
						<label for="field-email" class="form-label hidden">Email</label>

						<div class="form-controls">
							<input type="text" class="field" name="field-email" id="field-email" value="" placeholder="Email" formControlName="email">
						</div>
						<!-- /.form-controls -->
						<div   class="animated bounceIn" style="color:red;" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
        						Email is required
      					</div>

						<div   class="animated bounceIn" style="color:red;" *ngIf="!form.get('email').valid  && form.get('email').touched">
        						Email is invalid
      					</div>
				</div>

				<div class="form-actions" style="border-top: none;padding-top: 0px;">
					<p style="margin-bottom: 0.5em">No problem! We'll send password reset instructions</p>
					<input type="submit" value="Reset Password" class="form-btn" (click)="ResetPassword()" [disabled]="form.get('email').hasError('required')||!form.get('email').valid" [class.mydisabled]="form.get('email').hasError('required')||!form.get('email').valid">
					<p>Back to <a href="#/" (click)="GoBack()">sign in</a></p>
				</div>
				<!-- /.form-actions -->
			</div>

			 <div *ngIf="createAccount" class="animated" [class.fadeIn]="!signIn">


                <div class="form-row">
						<label for="field-firstName" class="form-label hidden">First Name</label>

						<div class="form-controls">
							<input type="text" class="field" name="field-firstName" id="field-firstName" value="" placeholder="First Name" formControlName="first">
						</div>
						<!-- /.form-controls -->
						 <div   class="animated bounceIn" style="color:red;" *ngIf="form.get('first').hasError('required') && form.get('first').touched">
        						First Name is required
      					</div>
				</div> 

				<div class="form-row">
						<label for="field-lastName" class="form-label hidden">Last Name</label>

						<div class="form-controls">
							<input type="text" class="field" name="field-lastName" id="field-lastName" value="" placeholder="Last Name" formControlName="last">
						</div>
						<!-- /.form-controls -->
						<div   class="animated bounceIn" style="color:red;" *ngIf="form.get('last').hasError('required') && form.get('last').touched">
        						Last Name is required
      					</div>
				</div> 

				<div class="form-row">
						<label for="field-email" class="form-label hidden">Email</label>

						<div class="form-controls">
							<input type="email" class="field" name="field-email" id="field-email" value="" placeholder="Email" formControlName="email">
						</div>
						<!-- /.form-controls -->
						<div   class="animated bounceIn" style="color:red;" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
        						Email is required
      					</div>

						<div   class="animated bounceIn" style="color:red;" *ngIf="!form.get('email').valid  && form.get('email').touched">
        						Email is invalid
      					</div>
				</div>

				<div class="form-row">
						<label for="field-password" class="form-label hidden">Password</label>

						<div class="form-controls">
							<input type="password" class="field" name="field-password" id="field-password" value="" placeholder="Password" formControlName="password">
						</div>
						<!-- /.form-controls -->
						<div   class="animated bounceIn" style="color:red;" *ngIf="form.get('password').hasError('required') && form.get('password').touched">
        						Password is required
      					</div>
				</div>

				<div class="form-row">
						<label for="field-confirmPassword" class="form-label hidden">Confirm Password</label>

						<div class="form-controls">
							<input type="password" class="field" name="field-confirmPassword" id="field-confirmPassword" value="" placeholder="Confirm Password" formControlName="confirm" validateEqual="form.password">
						</div>
						<!-- /.form-controls -->
						<div   class="animated bounceIn" style="color:red;" *ngIf="form.get('confirm').hasError('required') && form.get('confirm').touched">
        						Confirm is required
      					</div>

						<div   class="animated bounceIn" style="color:red;" *ngIf="form.get('confirm').value!=form.get('password').value && form.get('confirm').touched">
        						Password doesn't match
      					</div>
				</div>

				<div class="form-row">								
					<div class="checkbox">
						<input type="checkbox" id="checkboxIagree" formControlName="agree">
						<label for="checkboxIagree">I'd like to receive iTorah news and updates</label>
					</div><!-- /.checkbox -->
				</div><!-- /.field-row -->

				<div class="form-actions" style="border-top: none;">
					<p style="margin-bottom: 0.5em">By signing up, I agree to iTorah <a href="#/">Terms of Service </a> and <a href="#/" (click)="Privacy()">Privacy Policy</a></p>
					<input type="submit" value="Register" class="form-btn" (click)="Register()" [disabled]="form.invalid||!Agree()||form.get('confirm').value!=form.get('password').value" [class.mydisabled]="form.invalid||!Agree()||form.get('confirm').value!=form.get('password').value" >
					<p>Back to <a href="#/" (click)="GoBackfromAccount()">sign in</a></p>
				</div>
				<!-- /.form-actions -->
			</div>



		</form>
	</div>
	<!-- /.form-signin -->



</div>
<!-- /.dropdown-body -->