
@media print {

  .panel-heading {
        display:none
  }


   table 
   {
       border-collapse:separate; 
       border-spacing:0.5em; 
   }

   th,td
  {
   padding:0px 0.2em 0px 0.2em;
   font-size: 12px;
   text-align:left;
  }

}


.fa-list,.fa-long-arrow-left{
   
    vertical-align: middle;
    text-align: center;
    line-height: 37px;
    width: 35px;
    height: 35px;
    background: #ffcc00;
    border-radius: 2px;
}

.fa
{
    margin-left: 0.5em;
}



.fa-minus{
   
    vertical-align: middle;
    text-align: center;
    line-height: 21px;
    width: 19px;
    height: 19px;
    background: #e14b29;
    border-radius: 50%;
    margin-right: 0.7em;
}