
<div class="tile-box" id="item-content-3">
	<div class="table-primary">
		<div class="table-head">
			<div class="table-head-content">
				<h4>Please read Tehillim for these people  
					
					<a title="My List" style="text-decoration: none;" href="#/"  (click)="MyList()"> <i class="fa fa-{{action}} briefHeader" ></i> </a>
					<a title="Print" href="#/" style="margin-left: 0.5em;" (click)="Print()"><i id="weekly-print" class="ico-print-yellow" ></i></a>
				</h4>
				
				<div class="select">
					<select  [(ngModel)]="selectedCategory" [disabled]="action!='briefcase'" (change)="CategoryChange()">
						<option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
					</select>
				</div><!-- /.select -->
			</div><!-- /.table-head-content -->		
			
			<div class="table-head-aside">
				<label for="field-country-tehillim">in</label>
				
				<div class="select">
			        <select  id="field-country-tehillim" [(ngModel)]="selectedCountry" [disabled]="action!='briefcase'" (change)="CountryChange()">
						<option *ngFor="let c of countries" [ngValue]="c.id">{{c.name}}</option>
					</select>
				</div><!-- /.select -->


				<label for="field-communities-tehillim">Currently showing</label>
				
				<div class="select">
					<select  id="field-communities-tehillim" [(ngModel)]="selectedComunity" [disabled]="action!='briefcase'" (change)="CommunityChange()">
						<option *ngFor="let c of comunities" [ngValue]="c.id">{{c.name}}</option>
					</select>
				</div><!-- /.select -->
			</div><!-- /.table-head-aside -->						
			
			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>	
		</div><!-- /.table-head -->
		
		<div class="table-body">
			<table>
				<thead>
					<tr id="header">
						<th style="min-width: 6%;" class="panel-heading">{{tableHeader}} list <i class="fa fa-briefcase"></i></th>
						
						<th>Transliteration Name</th>
						
						<th>Hebrew Name</th>
						
						<th>Reason</th>
						
						<th>Posted</th>
						
						<th>Read Until</th>
						
						<th>Comments</th>
					</tr>
				</thead>
				
				<tbody>
					<tr *ngFor="let t of tehellims">
						<td class="panel-heading">
							<a href="#/" class="link-add" (click)="Manage(t.ID)">
								<i class="{{GetType(t.ID)}}" ></i>
							</a>
						</td>
						
						<td>
							{{t?.TName}}
						</td>
						
						<td>
							{{t?.HName}}
						</td>
						
						<td>
							{{t?.Reason}}
						</td>
						
						<td>
							{{t?.Posted| date: 'MM/dd/yyyy'}}
						</td>
						
						<td>
							{{t?.Until| date: 'MM/dd/yyyy'}}
						</td>
						
						<td>
							{{t?.Comments}}
						</td>
					</tr>
				</tbody>
			</table>
		</div><!-- /.table-body -->
	</div><!-- /.table-primary -->
</div><!-- /#tile-box -->