
<div class="tile-box" id="item-content-3">
	<div class="table-primary">
		<div class="table-head">
			<div class="table-head-content">
				<h4>Please read Tehillim for these people</h4>
				
				<div class="select">
					<select name="field-1" id="field-1">
						<option value="">All</option>
					</select>
				</div><!-- /.select -->
			</div><!-- /.table-head-content -->		
			
			<div class="table-head-aside">
				<label for="field-2">Currently showing</label>
				
				<div class="select">
					<select name="field-2" id="field-2">
						<option value="">Ashkenaz Communities</option>
					</select>
				</div><!-- /.select -->
				
				<label for="field-3">in</label>
				
				<div class="select">
					<select name="field-3" id="field-3">
						<option value="">USA</option>
					</select>
				</div><!-- /.select -->
			</div><!-- /.table-head-aside -->						
			
			<a href="#" class="link-close">
				<i class="ico-close"></i>
			</a>	
		</div><!-- /.table-head -->
		
		<div class="table-body">
			<table>
				<thead>
					<tr>
						<th>Add to list</th>
						
						<th>Transliteration Name</th>
						
						<th>Hebrew Name</th>
						
						<th>To heal the sick</th>
						
						<th>Posted</th>
						
						<th>Read Until</th>
						
						<th>Comments</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
					
					<tr>
						<td>
							<a href="#" class="link-add">
								<i class="ico-plus"></i>
							</a>
						</td>
						
						<td>
							Moshe Yocheved ben Sarah
						</td>
						
						<td>
							משה יוכבד
						</td>
						
						<td>
							To heal the sick
						</td>
						
						<td>
							04/24/2017
						</td>
						
						<td>
							05/08/2017
						</td>
						
						<td>
							Example from small community in NY unable to find a shiduch
						</td>
					</tr>
				</tbody>
			</table>
		</div><!-- /.table-body -->
	</div><!-- /.table-primary -->
</div><!-- /#tile-box -->