<div class="tile-box" id="item-content-7">
	<div class="tile-box-tertiary">
		<div class="tabs">
			<div class="tabs-head">
				<nav class="tabs-nav">
					<ul>
						<li>
							<a href="#tab1">
								<small>Register a name for </small>
								
								Tehillim
							</a>
						</li>
						
						<li>
							<a href="#tab2">
								<small>Register a name for </small>
								
								Levaya
							</a>
						</li>
					</ul>
				</nav><!-- /.tabs-nav -->
			</div><!-- /.tabs-head -->
			
			<div class="tabs-body">
				<div class="tab" id="tab1">
					<a href="#" class="link-close-half" style="float:right">
						<i class="ico-close"></i>
					</a>
					<h4>Tehillim reading</h4>
					
					<p>There is no cost for this service</p>
					
					<ul class="steps">
						<li class="step step-active">
							<strong>1</strong>
						</li><!-- /.step -->
						
						<li class="step">
							<strong>2</strong>
						</li><!-- /.step -->
						
						<li class="step">
							<strong>3</strong>
						</li><!-- /.step -->
					</ul><!-- /.steps -->
					
					<p>First, we have to check if the person is already in our database <br> Enter the transliteration name of the person for whol to say Tehillim for:</p>
					
					<div class="form-database">
						<form action="?" method="post">
							<div class="form-body">
								<div class="form-row">
									<div class="form-cols">
										<div class="form-col">
											<label for="field-mothers-name" class="form-label">Transliteration Name :</label>
											
											<div class="form-controls">
												<input type="text" class="field" name="field-mothers-name" id="field-mothers-name" value="" placeholder="First Name">
											</div><!-- /.form-controls -->
											
											<p class="form-hint">Please type the transliteration of the Hebrew name</p><!-- /.form-hint -->
										</div><!-- /.form-col -->
										
										<div class="form-col">
											<label for="field-mothers-name" class="form-label"></label>
											
											<div class="select-box">
												<select class="select" name="field-8" id="field-8">
													<option value="">Ben</option>
												</select>
											</div><!-- /.select -->		
										</div><!-- /.form-col -->
									</div><!-- /.form-cols -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="form-col">
										<label for="field-mothers-name" class="form-label hidden">mothers-name</label>
										
										<div class="form-controls">
											<input type="text" class="field" name="field-mothers-name" id="field-mothers-name" value="" placeholder="Mother’s First Name">
										</div><!-- /.form-controls -->
									</div><!-- /.form-col -->
								</div><!-- /.form-row -->
							</div><!-- /.form-body -->
							
							<div class="form-actions">
								<input type="submit" value="Search Database" class="form-btn">
							</div><!-- /.form-actions -->
						</form>
					</div><!-- /.form-database -->
					
				</div><!-- /.tab -->
				
				<div class="tab" id="tab2">
					<a href="#" class="link-close-half" style="float:right">
						<i class="ico-close"></i>
					</a>
					<h4>Levaya and Email request</h4>
					
					<p>There is no cost for this service</p>
					
					<ul class="steps">
						<li class="step step-active">
							<strong>1</strong>
						</li><!-- /.step -->
						
						<li class="step">
							<strong>2</strong>
						</li><!-- /.step -->
					</ul><!-- /.steps -->
					
					<p>When the time befalls on a family, we can help spread the word about the person who passed away. We ask that a family member fill out the information below and click submit. One of our administrators from the selected community will respond within the hour to verify and prepare the email announcement for immediate broadcast.</p>
					
					<div class="form-database">
						<form action="?" method="post">
							<div class="form-body">
								<div class="form-row">
									<div class="form-cols">
										<div class="form-col">
											<label for="field-mothers-name" class="form-label">Transliteration Name of the deceased  :</label>
											
											<div class="form-controls">
												<input type="text" class="field" name="field-mothers-name" id="field-mothers-name" value="" placeholder="First Name">
											</div><!-- /.form-controls -->
											
											<p class="form-hint">Please type the transliteration of the Hebrew name</p><!-- /.form-hint -->
										</div><!-- /.form-col -->
										
										<div class="form-col">
											<label for="field-mothers-name" class="form-label"></label>
											
											<div class="select-box">
												<select class="select" name="field-8" id="field-8">
													<option value="">Ben</option>
												</select>
											</div><!-- /.select -->		
										</div><!-- /.form-col -->
									</div><!-- /.form-cols -->
								</div><!-- /.form-row -->
								
								<div class="form-row">
									<div class="form-col">
										<label for="field-mothers-name" class="form-label hidden">mothers-name</label>
										
										<div class="form-controls">
											<input type="text" class="field" name="field-mothers-name" id="field-mothers-name" value="" placeholder="Mother’s First Name">
										</div><!-- /.form-controls -->
									</div><!-- /.form-col -->
								</div><!-- /.form-row -->
							</div><!-- /.form-body -->
							
							<div class="form-actions">
								<input type="submit" value="Search Database" class="form-btn">
							</div><!-- /.form-actions -->
						</form>
					</div><!-- /.form-database -->
				</div><!-- /.tab -->
			</div><!-- /.tabs-body -->
		</div><!-- /.tabs -->
	</div><!-- /.tile-box-primary -->
</div>