#readNow .popup-body{
  padding: 1em;
}


#readNow .popup-body .content
{
max-height: 500px;    
overflow: auto;
}

#readNow .popup-body .content p
{
margin-bottom: 1em;
}

.link-container{
    border-top: 1px solid #dadada;
    padding-top: 0.6em;
}

.link-halacha{
    background: #D8D8D8;
    padding: 0.4em;
    border-radius: 3px;
    display: inline-block;
    margin: 0.3em;
    text-align: center;
    width: 19%;
    cursor: pointer;
    font-size: 14px;
}

@media(max-width:768px) 
{
    .link-halacha
    {
        width: 100%;
    }
}

/**********************************************************************************************************************/
.titlePrintReadNow{ display: none; }

@media print
{
 .titlePrintReadNow{ display: initial; }

}


.waterMark{
    color: #4792d9;
    border-right: 1px solid #151515;
    padding-right: 0.5em;
}

@media only screen  /*Iphone Portrait*/
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    b{
        font-size:16px;
    }

    .ico-close{
        margin-bottom: 13px;
    }
}