<div class="popup" id="readNow">
  <div class="popup-head">
    <span> <b> {{title}}</b> </span>

    <a *ngIf="!formatted" href="#/" style="margin-left: 2em;"><i id="weekly-play" class="ico-play-yellow" (click)="Play()"></i></a>
    <a *ngIf="!formatted" href="#/"><i id="weekly-print" class="ico-print-yellow" (click)="Print()"></i></a>

    <a href="#" class="link-close">
						<i class="ico-close"></i>
		</a>

  </div>
  <!-- /.donate-head -->


  <div class="popup-body">

    <p><b>{{dedication}}</b></p>

    <div *ngIf="formatted" class="content" [innerHTML]="content">

    </div>

    <div *ngIf="!formatted" id="printRead">
      <h5>

      </h5>

      <div style="white-space: pre-wrap;">
        {{content}}
      </div>


    </div>

    <div class="link-container" [hidden]="source!=6">
      <div class="link-halacha" *ngFor="let l of links" (click)="NavigateLink(l)" title="{{l.Title}}"> <span>{{l.Title|reduceStringLink}} </span> </div>
    </div>
  </div>
  <!-- /.donate-body -->
</div>