#readNow .popup-body{
  padding: 1em;
}


#readNow .popup-body .content
{
max-height: 500px;    
overflow: auto;
}

#readNow .popup-body .content p
{
margin-bottom: 1em;
}

.link-container{
    border-top: 1px solid #dadada;
    padding-top: 0.6em;
}

.link-halacha{
    background: #D8D8D8;
    padding: 0.4em;
    border-radius: 3px;
    display: inline-block;
    margin: 0.3em;
    text-align: center;
    width: 20%;
    cursor: pointer;
}