.tile-box-primary .link-close{
    margin-bottom: 45px;
    margin-right: 14px;
}



@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

    .tile-box-primary .link-close{
        margin-bottom: 95px;
        margin-right: 6px;
    }
}


@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {

    .tile-box-primary .link-close{
        margin-bottom: 95px;
        margin-right: 6px;
    }
}
